/* General Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:none;
}
ol, ul {
	list-style:none;
}
h1, h2, h3, h4, h5, h6, li {
	line-height:100%;
}
blockquote, q {
	quotes:none;
}
q:before, q:after {
	content:"";
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
input, textarea, select {
	font:11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	padding:0;
	margin:0;
}
textarea {
	overflow:auto;
	resize:none;
}
form, fieldset {
	border-style:none;
	padding:15px;
}
body {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;

}

p {
	font-size:14px;
	color:#333333;
	line-height:20px;
}
td {
	padding:0 3px 0 3px;
	font-size:13px;
}
td a {
	color:#70ab3d;
}
h1, h2, h3, h4 {
	margin:0px;
	padding:0px;
	font-weight:normal;
}
h1 {
	font-size:33px;
	color:#4c4a3d;

}
h2 {
	font-size:20px;
	color:#333333;

}

img {
	border:none;
}
a {
	outline:none;
}
.clear {
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
#wrapper {
	width:1187px;
	margin:0 auto !important;
	color:#000;
}
#wrapper2 {
	width:1187px;
	margin:0 auto !important;
}
/*----start header----*/
/*
#header {
	padding:34px 0 0 0;
	}
	
#header .user_name {
	padding:0px 0 0 10px;
	width:395px;
	float:left;
	z-index:100;
	position:relative;
	font-size:28px;
	color:#000000;
	font-family:Georgia, "Times New Roman", Times, serif, Tahoma;
	font-weight:bold;
	background: url("../images/tesx.png") no-repeat scroll 38px 41px transparent;}
	
	}
	*/
.user_name span{
	font-size:17px;
	
	}
#gray{width:1184px; margin:0px auto; height:auto; background:#ccc;}
#gray ul{padding: 0;width: 1179px; border:3px solid #f00; height:65px; float:left; background: url("../images/business_accelera2.jpg")repeat scroll 0 0 transparent;}
#gray ul li{ list-style:none; float:left; padding:0px;  margin-top: 10px;}

#gray ul li a {
    background: url("../images/tabs.png") no-repeat scroll 0 0 transparent;
    color: #000;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 49px;
    margin: 0 0 0 9px;
    padding: 15px 0 0;
    text-align: center;
    width: 122px;
	text-decoration:none;
}
#welcome_area{width auto;height:auto;}
#welcom_left{width:700px; float:left; color:#000000; padding:23px 0 11px 27px;font-size: 14px;}
#welcome_right{width:321px; float:right;}
#welcome_right ul li{}

#welcome_right a {
    background: url("../images/tabs.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    float: left;
    height: 51px;
    margin: 8px 0 -5px 18px;
    padding: 14px 0 0;
    text-align: center;
      width: 133px;
	  text-decoration: none;
	  font-weight:bold;
}
/*	
#header .control_panel_img {
	padding:0px 0 0 10px;
	width:1187px;
	float:left;
	top:-61px;
	margin-bottom:-61px;
	position:relative;
	z-index:10;
	left:-10px;
	}
	*/

#header .top_right_box {
    height: 6px;
    position: relative;
	float:right;
}	
	


#header .top_right_box img {
    position: relative;
    width: 283px;
    z-index: 1;
}			

/*----end header----*/


			
/*----start page content----*/
#page_content{
	padding:60px 0 20px 0;
	background-color:#ffffff;
	}
	
#page_content .big_column{
	padding:0 0 50px 0;
	}	
	
#page_content .service_column{
	padding:0 0 0 55px;
	width:230px;
	float:left;
	text-align:center;
	}
#page_content .service_column .img_box{
	padding:0 0 0 0;
	height:175px;
	}
	
#page_content .service_column .title{
	padding:0 0 0 0;
	height:50px;
	}
	
#page_content .service_column ul{
	padding:0 0 0 0;
	margin:0px;
	text-align:left;
	}	
	
#page_content .service_column ul li{
	padding:0 0 10px 0;
	margin:0px;
	font-size:13px;
	color:#000000;
	list-style:none;

	list-style:disc;
	

	line-height:normal;
	font-weight:bold;
	}	
	
#page_content .service_column ul li a{
	color:#000000;
	text-decoration:none;
	}	
	
#page_content .service_column ul li a:hover{
	color:#000000;
	text-decoration:underline;
	}						
		

/*----end page content----*/


/*----start footer content----*/
#footer{
	height:130px;
	background-color:#a6a6a6;
	}
#footer .cm_logo{
position:relative;
right:19px;
width:216px;
top:-60px;
float:right;

	}
.but {
    background: url("../images/button.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 40px;
    margin: 10px 0 0;
    width: 105px;
}
.but a {
    color: #000000;
    float: left;
    padding:8px 0 27px 0px;
    text-align: center;
	text-decoration:none;
	  font-size: 12px;
	  width:100px;
	  font-weight: bold;
}
.but2 {
    background: url("../images/button.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 40px;
    margin: 10px 0 0;
    width: 105px;
}
.but2 a {
    color: #000000;
    float: left;
    font-size: 12px;
    padding: 9px 30px 30px 9px;
    text-align: center;
	text-decoration:none;
	font-weight: bold;
}
.but3 {
    background: url("../images/button.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 40px;
    margin: 10px 0 0;
    width: 105px;
}
.but3 a {
    color: #000000;
    float: left;
    font-size: 12px;
    padding: 9px 0 27px 8px;
    text-align: center;
	text-decoration:none;
	font-weight: bold;
}		
		

/*----end footer content----*/
ul.listadmin ul{ list-style: none !important; }
ul.listadmin li{ list-style: none !important; }
ul.listadmin ul{ width: 210px; height: auto; float: left; margin: 0px; padding: 0px 0px 0px 20px !important;}
ul.listadmin ul li{ width: 210px; height: auto; float: left; list-style: disc !important; margin: 0px; padding: 0px !important;}

/*******************new css for arrow*****************************/


#header {
    padding: 0;
	height:272px !important;
}

#header .user_name {
    background: url("../images/tesx.png") no-repeat top left;
    color: #000000;
    float: left;
    font-family: Georgia,"Times New Roman",Times,serif,Tahoma;
    font-size: 28px;
    font-weight: bold;
    padding: 0px;
    position: relative;
    width: 395px;
    z-index: 100;
	height: 86px;
}


#header .control_panel_img {
    background: url("../images/business_accelera.png") no-repeat scroll left top transparent;
    float: left;
    height: 247px;
    left: -10px;
    margin-bottom: -61px;
    margin-left: 10px;
    padding: 0;
    position: relative;
    top: -61px;
    width: 1187px;
    z-index: 1000;
}
.arrowsection {
    float: left;
    height: auto;
    padding-top: 135px;
    width: 1187px;
}

.arrow_left {
    float: left;
    height: auto;
    margin-left: 225px;
    width: 65px;
}

.arrow_right {
    float: right;
    height: auto;
    margin-right: 215px;
    width: 65px;
}

.logout {
    float: left;
    height: auto;
    margin-left: 225px;
    width: auto;
	text-align:left;
}
.logout a {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.live-chat{
	 background: url("/images/live_chat_bg.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 80px;
    padding: 10px;
    position: fixed;
    right: 21px;
    top: 329px;
    width: 162px;
    z-index: 99999;
}
