.image-bg { 
                            position: absolute; 
                            z-index: -1; 
                            height: 261px; 
                            width: 100%;
                            right: 0;
                            left: 0;
                        }

                        .image-bg img {
                            min-width: 100%;
                            min-height: 261px; max-height:261px;
                        }