/**
* eDirectory - Main System Structure
*
* @package			layout
* @filesource		structure.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.1
* @since			September, 30, 2011
*			
*/

/** Global Items */

a:link, a:visited, a:active
{ color:#006FA6; }

a img
{ border:3px solid #AAA; }

	a:hover img
	{ border:3px solid #666; }
	
.language a img
{ border:1px solid #313131; }

	.language a:hover img
	{ border:1px solid #000; }

/** Global classes > No Image */

.no-image
{ background:#E7E8E8 url(images/imagery/img-no-image.gif) no-repeat center; border:3px solid #AAA; }

	.no-image:hover
	{ border:3px solid #666; }

/** Typography > H2 */

h2
{ border-bottom:1px solid #373737; color:#D8D8D8; }

.content-main h2, .content-main .sidebar h2
{ border-bottom:1px solid #E6E8E9; color:#6E0000; }

	h2 .view-more:link, h2 .view-more:visited, h2 .view-more:active
	{ color:#FFF; }
	
	.content-main h2 .view-more:link, .content-main h2 .view-more:visited, .content-main h2 .view-more:active
	{ color:#242424; }
	
	h2 .split
	{ color:#999; }
	
/** Typography > H3 */
h3
{ color:#FFF; }

	h3 a:link, h3 a:visited, h3 a:active
	{ color:#FFF; }
	
	.content-main h3 a:link, .content-main h3 a:visited, .content-main h3 a:active
	{ color:#252525; } 

/** Typography > Paragraph */

p
{ color:#777; }

/** Forms */

.form .text, .form .select, .form .radio, .form .checkbox, .form .textarea
{ color:#343D44; }

/** Forms > Contact form */	

.contact-form
{ background:#EEE; border-top:1px solid #E3E3E3; }

	.contact-form h2
	{ border-bottom-color:#CCC; }

/** Contact form > form > form tags */

	.contact-form .form div .text, .contact-form .form div .textarea
	{ border:1px solid #83919C; border-bottom-color:#B7C0C7; border-right-color:#B7C0C7; }
	
	.contact-form .form div label
	{ color:#62707B; }
		
/** Contact form > form > captcha */
			
	.contact-form .form .captcha img
	{ border:1px solid #B7C0C7; }
			
/** Body */

body
{ background:#242424; }

/** User Navbar */

#user-navbar
{ background:#16191A; border-bottom:1px solid #111; border-top:1px solid #4E5051; }

/** user navbar > user options */

	.user-options li
	{ background:url(images/structure/bg-user-navbar-split.gif) repeat-y right top; color:#FFF; }
	
		.user-options li:last-child
		{ background:none; }
		
		.user-options li a:link, .user-options li a:visited, .user-options li a:active
		{ color:#DAF0F4; }
		
			.user-options li .sign-up:link, .user-options li .sign-up:visited, .user-options li .sign-up:active
			{ color:#FFF; }
		
/** Theme > Theme Dropdown to choose Themes on Demo mode */

.theme select
{ color:#343D44; }

/** Language > Content to hold the flags for language purposes */

.language
{ background:url(images/structure/bg-user-navbar-split.gif) repeat-y 0 0; }

/** language > all languages */
	
.all-languages
{ background:url(images/structure/bg-black-opacity-90.png) repeat; border-top:1px solid #000; }

	.all-languages h3
	{ color:#FFF; }
	
		.all-languages ul li
		{ border-bottom:1px solid #333; color:#FFF; }
		
#all-languages-button:link, #all-languages-button:visited, #all-languages-button:active
{ background:url(images/iconography/icon-view-more.gif) no-repeat 0 1px; }

/** Header */

#header-wrapper
{ background:#242424; border-bottom:none; border-top:1px solid #2E2E2E; }

#header
{ background:none; }

/** Header > Logo */

.logo a:link, .logo a:visited, .logo a:active
{ background-image:url(images/imagery/img-logo.png); background-position:center; background-repeat:no-repeat; }
	
/** Header > Navbar */

#navbar-wrapper
{ background:#313131; }

#navbar
{ background:#313131; }

	#navbar li a:link, #navbar li a:visited, #navbar li a:active
	{ color:#6E6E6E; }
	
		.textshadow #navbar li a
		{ text-shadow:1px 1px 0 #000; }
	
		#navbar .menuActived
		{ background:url(images/iconography/bg-navbar-active.gif) no-repeat center bottom; }
		
			#navbar li a:hover, #navbar .menuActived a:link, #navbar .menuActived a:visited, #navbar .menuActived a:active
			{ color:#FFF; }
				
/** Search */

#search label
{ color:#D8D8D8; }

	.textshadow #search label
	{ text-shadow:1px 1px 0 #FFF; }

#search input
{ border:2px solid #515151; color:#62707B; }

	#search input:focus
	 { border-color:#777; }
	
	#search button
	{ background:url(images/structure/bg-button-action-contact.gif) repeat-x 0 0; color:#FFF; }
	
	#search button:focus, #search button:hover
	{ color:#FFF; }
		
	#search #advanced-search-button
	{ color:#006FA6; }
		
/** Advanced Search */
		
#advanced-search
{ background:url(images/structure/bg-white-opacity-10.png) repeat; }

/** Header > Advanced Search > Misc */

#advanced-search .left
{ color:#6E6E6E; }

/** Header > Advanced Search > Search Tips */	

#advanced-search .search-tips
{ border-right:1px solid #999EA2; }

	#advanced-search .search-tips h4
	{ color:#D8D8D8; }

	#advanced-search .search-tips p
	{ color:#6E6E6E; }

/** Header > Advanced Search > Special Form Tags */	
	
	#advanced-search label
	{ border:0 !important; color:#D8D8D8; }
	
		.textshadow #advanced-search label
		{ text-shadow:1px 1px 0 #DDD; }
	
	#advanced-search .text
	{ border:1px solid #777; border-bottom-color:#999; border-right-color:#999; }
	
/** Footer */

#footer-wrapper
{ background:#070707; border-bottom:1px solid #000; border-top:2px solid #313131; }
	
/** Footer > Content > Titles and Links */
	
  #footer h3
  { background:url(images/structure/bg-footer-title.gif) repeat-x left bottom; color:#999; }
  
	  .textshadow #footer h3
	  { text-shadow:1px 1px 0 #040E17; }
		  
		  #footer h3 a.link:link, #footer h3 a.link:visited, #footer h3 a.link:active, #footer h3 a.follow:link, #footer h3 a.follow:visited, #footer h3 a.follow:active
		  { color:#FFF; }
		  
		  #footer h3 .linkedin
		  { background:url(images/iconography/icon-footer-linkedin.gif) no-repeat right top; }
		  
		  #footer h3 .facebook
		  { background:url(images/iconography/icon-footer-facebook.gif) no-repeat right top; }
		  
		  #footer h3 .twitter
		  { background:url(images/iconography/icon-footer-twiiter.gif) no-repeat right top; }
		
/** Footer > Content > Navbar */
	
	#footer .navbar-footer li
	{ color:#6E0000; }
	
		#footer .navbar-footer li a:link, #footer .navbar-footer li a:visited, #footer .navbar-footer li a:active
		{ color:#FFF; }
			
/** Footer > Content > Copyright */

	#footer h5, #footer .w3c
	{ color:#AAA; }
	
		#footer h5 a, #footer .w3c a
 		{ color:#006FA6; }
		
	#footer .copyright
	{ color:#AAA; }
	
/** Content Structure */

	.content-main
	{ background:#FFF; border:1px solid #E3E3E3; }

/** Content structure > differences */

.error-page
{ background:url(images/structure/bg-error-page.png) no-repeat center 15%; }
	
/** Featured > featured event */
		
.featured-event .featured-item .date
{ background:#D8D8D8; }

	.featured-event .featured-item .date .calendar
	{ background:#CDD8E1; }
			
		.featured-event .featured-item .date .calendar .month
		{ background:#081C2A; color:#FFF; }
		
		.featured-event .featured-item .date .calendar .day
		{ color:#5C6b77; }

/** Featured > featured deals */
	
	.featured-deal .featured-item
	{ border-bottom:1px solid #D5D9DC; }
	
	.featured-deal .featured-item-special
	{ border:none; }
	
		.featured-deal .featured-item-special .deal-tag
		{ background:url(images/iconography/icon-tag-special.gif) no-repeat 0 0; }
		
/** Featured > featured article */

	.featured-article .featured-item
	{ border-bottom:1px solid #D5D9DC; }
	
	.featured-deal .featured-item-special
	{ border:none; }
		
/** Featured > featured reviews */

	.featured-review .featured-item
	{ border-bottom:1px solid #D5D9DC; }
		
		.featured-review .featured-item .reply
		{ background:url(images/structure/bg-reply.gif) no-repeat left bottom; border-left:1px solid #C8CED2; }
		
			.featured-review .featured-item .reply p
			{ color:#888; }

	.featured-review .no-image
	{ background:#FFF url(images/iconography/icon-user-thumb.gif) no-repeat 0 0; }
			
/** Featured > featured check-in */

	.featured-checkin .featured-item
	{ border-bottom:1px solid #D5D9DC; }
	
	.featured-checkin .no-image
	{ background:#FFF url(images/iconography/icon-user-thumb.gif) no-repeat 0 0; }
	
/** Content misc > share box */

.share-box
{ background:#070707; }
		
	.share-box ul li.close a:link, .share-box ul li.close a:visited, .share-box ul li.close a:active
	{ color:#FFF; }

/* Content misc > deals tag */

.deal-tag
{ background:url(images/iconography/icon-tag.gif) no-repeat 0 0; color:#FFF; }

	.deal-tag-sold-out
	{ background:url(images/iconography/icon-tag-special-sold-out.gif) no-repeat 0 0; }

.deal-discount
{ background:#B0B0B0 url(images/structure/bg-discount.gif) repeat-y right; color:#061826; }

/* Content misc > Buttons */

.button
{ background:#D8D8D8; }

	.button h2 a:link, .button h2 a:visited, .button h2 a:active
	{ color:#FFF; }
	
	.textshadow .button h2 a
	{ text-shadow:1px 1px 0 #000; }

/* Content misc > Buttons > Button profile */

	.button-profile h2
	{ border:1px solid #4C0101 !important; }
	
		.button-profile h2 a:link, .button-profile h2 a:visited, .button-profile h2 a:active
		{ background:url(images/structure/bg-button-action-profile.gif) repeat-x 0 0; border:1px solid #A61919; }
		
			.button-profile h2 a:hover
			{ border-color:#bf3b3b; }
			
/* Content misc > Buttons > Button contact */

	.button-contact h2
	{ border:1px solid #273F53 !important; }
	
		.button-contact h2 a:link, .button-contact h2 a:visited, .button-contact h2 a:active
		{ background:url(images/structure/bg-button-action-contact.gif) repeat-x 0 0; border:1px solid #8CA0B2; }
		
			.button-contact h2 a:hover
			{ border-color:#C6CED4; }
			
/* Content misc > Buttons > Button send to phone */
	
	.button-send a, .button-send a:visited
	{ background:url(images/iconography/icon-send-phone.png) no-repeat 3px 2px; border:1px solid #C4C9CC; }
	
	.button-send a:hover
	{ border-color:#9BAEB9; }
		
/* Content misc > Buttons > Button call */

	.button-call a, .button-call a:visited
	{ background:url(images/iconography/icon-call-phone.png) no-repeat 4px 2px; border:1px solid #C4C9CC; }
	
	.button-call a:hover
	{ border-color:#9BAEB9; text-decoration:none; }
			
/* Content misc > Pagination */

.pagination
{ background:none; border-top:1px solid #6E0000; }

	.pagination li
	{ color:#999; }
	
		.pagination li a:link, .pagination li a:visited, .pagination li a:active
		{ color:#DDD; }
		
			.pagination li a.active
			{ color:#FFF; }
			
.pagination-bottom
{ border-bottom:1px solid #6E0000; border-top:none; }

/* Results Message */

.resultsMessage
{ color:#777; }

	.resultsMessage h1
	{ color:#777; }
	
	.content .resultsMessage h2
	{ background:none; border:none; color:#777; }

/* Content misc > Filter */

.filter
{ color:#666; }
	
	.filter strong
	{ color:#FFF; }

	.rss-feed
	{ background:url(images/iconography/icon-rss-feed.gif) no-repeat 0 0; }

/** Content Misc > Default List */
	
	.list li a:link, .list li a:visited, .list li a:active
	{ color:#999; }
	
		.list li a.see-all
		{ color:#666;  } 
		
	.list li span
	{ color:#666; }

/* Content misc > Category List */

	.list-category li, .list-category-blog li
	{ background-image:url(images/iconography/bullet-category.gif); background-repeat:no-repeat; }
	
	.list-category-blog li
	{ background-position:0 center; line-height:20px; padding:4px 4px 4px 10px; }
	
		.list-category li.level-1, .list-category-blog li.level-1
		{ background-position:5px center; padding:0 0 0 15px; }
		
		.list-category li.level-2, .list-category-blog li.level-2
		{ background-position:15px center; padding:0 0 0 25px; }
		
		.list-category li.level-3, .list-category-blog li.level-3
		{ background-position:25px center; padding:0 0 0 35px; }
		
		.list-category li.level-4, .list-category-blog li.level-4
		{ background-position:35px center; padding:0 0 0 45px; }
		
		.list-category li.level-5, .list-category-blog li.level-5
		{ background-position:45px center; padding:0 0 0 55px; }
	
	.list-category li a:link, .list-category li a:visited, .list-category li a:active
	{ color:#006FA6; }
	
	.list-category-blog li a:link, .list-category-blog li a:visited, .list-category-blog li a:active
	{ color:#999; }
	
/* Content misc > Browse by category */

	.browse-category li span
	{ color:#62707B; }
		
		.browse-category li ul li a:link, .browse-category li ul li a:visited, .browse-category li ul li a:active
		{ color:#447DAA; }
		
			.browse-category li ul li span
			{ color:#536979; }
		
/* Content misc > Sitemap */

	.sitemap h3
	{ border-bottom:1px solid #E6E8E9; }
	
		.sitemap h3 a:link, .sitemap h3 a:visited, .sitemap h3 a:active
		{ color:#000; }
		
/* Content misc > Twitter */
	
	.last-tweets .loading
	{ background:url(images/iconography/icon-loading-footer.gif) no-repeat center; }
	
	.last-tweets ul
	{ color:#AAA; }
	
		.sidebar .last-tweets ul li
		{ color:#666; }
	
		.last-tweets ul li a:link, .last-tweets ul li a:visited, .last-tweets ul li a:active
		{ color:#FFF; }
		
			.last-tweets ul li span a:link, .last-tweets ul li span a:visited, .last-tweets ul li span a:active
			{ color:#FFF; }
			
/** FAQ > Search */

	.content-faq .search input
	{ border:2px solid #515151; color:#62707B; }				
			
	.content-faq .search input:focus
	{ border-color:#777; }
	
	.content-faq .search button
	{ background:url(images/structure/bg-button-action-contact.gif) repeat-x 0 0; color:#FFF; }
	
		.content-faq .search button:focus, .content-faq .search button:hover
		{ color:#FFF; }
		
		.content-faq .search button:active
		{ color:#FFF; }

/** Slider > slider structure */

#slider
{ border:1px solid #222; }

/** Slider > slider style */

	#slider .right
	{ background:#373737; border-left:1px solid #242424; }

	#slider h2
	{ color:#FFF; border:none; }
	
		#slider h2 a:link, #slider h2 a:visited, #slider h2 a:active
		{ color:#FFF; }
	
	#slider .info
	{ background:#DEDEDE; }
		
/** Slider > slider control */

	ol#controls li a 
	{ background:url(images/iconography/bg-slider-navigation.gif) no-repeat 0 -8px; }
	
	ol#controls li.current a 
	{ background:url(images/iconography/bg-slider-navigation.gif) no-repeat 0 0; }
		
/** Sidebar */

.sidebar h2
{ border-color:#373737; color:#D8D8D8; }

/** Accordion */

	#accordion li h3
	{ background:#373737 url(images/iconography/bg-accordion-trigger.gif) no-repeat 222px 8px; border-top:1px solid #222; }
	
		#accordion li.active h3
		{ background:#373737 url(images/iconography/bg-accordion-trigger.gif) no-repeat 222px -16px; }
	
		#accordion li h3 a:link, #accordion li h3 a:visited, #accordion li h3 a:active
		{ color:#BBB; }
				
/** Calendar */

.table-calendar
{ background:#EBECED; }

	.table-calendar .calendar-header 
	{ background:#DADEE2; border-bottom:1px solid #BAC2C8; }
	
	.table-calendar .calendar-button
	{ background-image:url(images/iconography/bt-calendar-arrow.png); }
	
	.table-calendar .today, .table-calendar .selected
	{ color:#061826; }
	
	.table-calendar .selected
	{ color:#28A010; }

/** Advertisement */
		
	.advertisement .info p a:link, .advertisement .info p a:visited, .advertisement .info p a:active
	{ color:#666; }
	
/** Advertisement > Header */

#header .advertisement
{ border:1px solid #2E2E2E; }

	#header .advertisement .info
	{ background:url(images/structure/bg-black-opacity-15.png) repeat; border-left:1px solid #2E2E2E; }
	
		#header .advertisement .info h4
		{ color:#D8D8D8; }
		
		#header .advertisement .info p
		{ background:url(images/iconography/bg-more-advertisement.png) no-repeat right center; }
		
/** Advertisement > Sponsored */

.sponsored
{ background:#FFF; border:1px solid #CCC; }

	.sponsored:hover
	{ border-color:#630000; }

	.sponsored .url
	{ color:#630000; }
	
	.sponsored .text
	{ color:#62707B; }
			
/** Popups > TB_window */

#TB_window
{ background:#FFF !important; } 

