<form id="f1" action="javascript:send()" enctype="text/plain" method="POST">
    <label>Your Name</label>
    <input type="text" name="user_name" id="user_name" /> 
    <label>Your Email Address</label> 
    <input  type="text" name="email" id="email" /> 
    <label>Non-Profit Name</label> <input type="text" name="nonprofit_name" id="nonprofit_name"/>
    <label>Non-Profit City</label> <input type="text" name="nonprofit_city" id="nonprofit_city"/>
    <label>Non-Profit State</label> <input type="text" name="nonprofit_state" id="nonprofit_state"/> 
    <label>Non-Profit Zip</label> <input type="text" name="nonprofit_zip" id="nonprofit_zip"/>
    <label>Non-Profit Phone</label> <input type="text" name="nonprofit_phone" id="nonprofit_phone"/> 
    <label> Tell us about this Non-Profit </label>
    <textarea name="Tell_us" id="Tell_us"></textarea>
    <input type="submit" value="submit" /></form>