/**
* eDirectory - Members Section
*
* @package			layout
* @filesource		members.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
*/

/* Members Structure > General */

.noBackground
{ background:none !important; }

/* Members Structure > Misc */


table.standard-table td span.required
{ color:#F00; }

	.status-active
	{ color:#587F51; }
	
	.status-suspended
	{ color:#647C84; }
	
	.status-expired
	{ color:#EF413D; }
	
	.status-pending
	{ color:#900; }

.browserMessage
{ background:#FBF1BB; border-bottom:1px solid #CEC48D; }

.featured-review .info .reply
{ background:url(images/structure/bg-reply.gif) no-repeat left bottom; border-left:1px solid #C8CED2; }
	
.content h2
{ background:url(images/structure/bg-detail-desc.png) repeat-x 0 bottom; border: none; }

.sidebar h2
{ color:#636363 !important; }

/* Members Structure > Button */

.standardButton-disabled button
{ background:#BBB; color: #A2A2A2 !important }

.standardButton-disabled button:hover
{ color:#A2A2A2 !important; }

p.standardButton button, .input-button-form button, input.input-button-form, button.input-button-form, .addImageForm,
p.standardButton a:link, p.standardButton a:visited, p.standardButton a:active
{ background:url(images/structure/bg-search-button.gif) repeat-x 0 0; color:#636363; text-shadow:1px 1px 1px #FFF; }
		
p.standardButton button, .input-button-form button, input.input-button-form, button.input-button-form, .addImageForm,
p.standardButton a:link, p.standardButton a:visited, p.standardButton a:active
{ -moz-box-shadow:1px 1px 0 #FFF; -webkit-box-shadow:1px 1px 0 #FFF; box-shadow:1px 1px 0 #FFF; }

p.standardButton button:focus, p.standardButton button:hover, .input-button-form button:focus, .input-button-form button:hover,
input.input-button-form:hover, button.input-button-form:hover, .addImageForm:hover
{ color:#111; }

p.standardButton .inactive, p.standardButton .inactive:hover
{ background:#BBB !important; color:#636363; }

td a.addImageForm
{ color:#636363; }

/* Members Structure > Member Menu */

.memberMenu li a, .memberMenu li a:visited
{ color:#636363; }

.memberMenu h2
{ background:none; }

	.memberMenu h2 a
	{ color:#636363; }
	
		.memberMenu ul li a, .memberMenu ul li a:visited
		{ color:#898989; }
		
		.memberMenu ul li a:hover
		{ color:#EC008C; }

/* Members Structure > Table Login */

	.loginOptions a
	{ color:#636363; }

div.formFieldsLogin
{ background:#E6E6E6; }

	div.formFieldsLogin input
	{ background:#FFF; border-color:#D4D4D4 #EEE #EEE #D4D4D4; color:#636363; }
	
		div.formFieldsLogin input.inputAuto
		{ background:none; }

/* Members Structure > Standard Table */

	table.standard-table th 
	{ color:#636363; }

		table.standard-table th.imageSpace img 
		{ border:1px solid #E9E9E9; }
		
	table.standard-table th.standard-tabletitle
	{ background: url("images/structure/bg-detail-desc.png") repeat-x scroll 0 bottom transparent; border-bottom: medium none; color: #EC008C; line-height: 25px; }
	
		table.standard-table th.standard-tabletitle input[type="checkbox"] 
		{ position: relative; top: 6px; }
	
		table.standard-table th span 
		{ color:#898989; }
		
	table.standard-table td 
	{ color:#636363; }
	
	table.noBackground td, table.noBackground th 
	{ background:none !important; }

	table.standard-table td.warning 
	{ background:#FFEAEA; border:1px solid #FFDFDF;  }
	
	table.standard-table td span 
	{ color:#898989; }

	table.standard-table td .UsernameNotRegistered 
	{ color:#096; }
	
	table.standard-table td .UsernameRegistered 
	{ color:#F50202; }
		
		table.standard-table td.center-line span
		{ color:#111; }
	
		table.standard-table td .table-box
		{ background:#FFF; border:1px solid #E2E2E2; }
		
	table.standard-table th input, table.standard-table td input, table.standard-table select, table.standard-table textarea
	{ border:1px solid #D4D4D4; border-bottom:1px solid #EEE; border-right:1px solid #EEE; color:#636363; }
	
	table.standard-table  input[type="radio"],table.standard-table  input[type="checkbox"] {border:none;}
	
	table.item-title th, table.item-title td
	{ background:none; }
		
		table.item-title h4
		{ color:#111; }

	table.standard-table select.httpSelect 
	{ border:1px solid #D4D4D4; border-bottom:1px solid #EEE; border-right:1px solid #EEE; color:#636363; }
	
	table.standard-table td.standard-tablenote
	{ background:#FFF; border:5px solid #F4F4F4; }
	
/* Members Structure > Standard Table - Table Option */	

table.standard-table th.tableOption
{ border-bottom:1px solid #EEE; }

	table.standard-table th.tableOption a:hover 
	{ color:#111; }
	
/* Table Inside Table */

	table.standard-table td.standard-tableContent table, table.standard-table td.standard-tableContent td, table.standard-table td.standard-tableContent th
	{ background:none; color:#636363; }

/* Table Tree View */

	table.standard-table td.treeView span, table.standard-table td.treeView div.treeviewMainMenu_divNodes2 span
	{ color:#097D02; } 
	
	table.standard-table td.treeView div.treeviewLoadingMessage, table.standard-table td.treeView div.treeviewMainMenu
	{ background:#FFF; border:1px solid #E6EEF7; }
	
		table.standard-table td.treeView table.tableCategoriesADDED input, table.standard-table td.treeView table.tableCategoriesADDED button
		{ color:#636363; }
		
		table.standard-table td.treeView table.tableCategoriesADDED button
		{ border-color:#D0D7E1 #D0D7E1 #B4BCC9; color:#898989; }
		
/* Table TopBlueCheck */

table.tableTOPBLUECheck th
{ background-color:transparent; }

table.tableTOPBLUECheck td
{ background-color:transparent; }
		
	table.standard-table td table tr td 
	{ border:0px solid #000; }
  
	table.standard-table td table tr td.radio 
	{ border:0px solid #090; }

/* Members Structure > Level Table */

table.levelTable
{ background:#FFF; }

	table.levelTable td, table.levelTable th
	{ border:1px solid #F4F4F4; }

/* Members Structure > Level Table > Table Option */

table.levelTable th.tableOption, table.levelTable th.tableSelectedOption
{ background:#EEE; border:1px solid #DDD; border-top:1px solid #A0A0A0; color:#636363; }

	table.levelTable th.tableOption a, table.levelTable th.tableOption a:visited 
	{ color:#636363; }

		table.levelTable th.tableOption a:hover 
		{ color:#EC008C; }

	table.levelTable th.levelTitle
	{ background:#A8A8A8; border:1px solid #A0A0A0; color:#111; text-shadow:1px 1px 1px #FFF; }
		
	table.levelTable th.levelTitle a, table.levelTable th.levelTitle a:visited
	{ color:#FFF; }

	table.levelTable td.levelTopdetail
	{ background:#C0C0C0; border:1px solid #A0A0A0; color:#111; text-shadow:1px 1px 1px #FFF; }
	
	table.levelTopdetail th
	{ background-color:#E1E1E1; }

/* Table User Login */ 

table.levelTable td.levelPrice
{ background:#FBFBFB; }

	table.levelTable td.levelPrice table
	{ background:#FFF; border:2px solid #EFEFEF; }

			table.levelTable td.levelPrice table th
			{ color:#111; }

			table.levelTable td.levelPrice table td strong
			{ color:#C00; }

/* Check Out Table */

.bg-tablebilling-active 
{ background:#F1F1F1; }

.bg-tablebilling-inactive 
{ background:none; }

/* Members Structure > Icon Description */

.standard-iconDESCRIPTION
{ color:#111; }
		
/* Members Structure > Table Top Blue */

table.standard-tableTOPBLUE 
{ background:#FBFBFB; border-color:#A0A0A0; color:#636363; }

	table.standard-tableTOPBLUE th 
	{ background-color:#A8A8A8; border-color:#A0A0A0; color:#111 !important; text-shadow:1px 1px 1px #FFF; }

	table.standard-tableTOPBLUE td 
	{ border:1px solid #E4E4E7; color:#636363; }
	
	table.standard-tableTOPBLUE td.tableTOPBLUECheck 
	{ background:#FFF; }
	
		table.standard-tableTOPBLUE td.tableTOPBLUECheck * 
		{ background:#FFF; }
		
		table.standard-tableTOPBLUE td span.itemNote
		{ color:#898989; }
		
		table.standard-tableTOPBLUE td span.itemNote a, table.standard-tableTOPBLUE td span.itemNote a:visited
		{ color:#898989; }

		table.standard-tableTOPBLUE a, table.standard-tableTOPBLUE a:visited 
		{ color:#636363; }

	table.standard-tableTOPBLUE input 
	{ border:1px solid #D4D4D4; border-bottom:1px solid #EEE; border-right:1px solid #EEE; }
	
		table.paymentMethods td input
		{ background:none; }
		
/* Members Structure > Table Top Blue > Inner Table */

table.standard-tableTOPBLUE table.standard-innerTable
{ background:#FFF; border:1px solid #E4E4E7; }

	table.standard-tableTOPBLUE table.standard-innerTable th, table.standard-tableTOPBLUE table.standard-innerTable td
	{ color:#636363; }

	table.standard-tableTOPBLUE table.standard-innerTable th, table.standard-tableTOPBLUE table.standard-innerTable th a,
	table.standard-tableTOPBLUE table.standard-innerTable th a:visited
	{ background:none; }
	
	table.standard-tableTOPBLUE table.standard-innerTable th a:hover
	{ color:#636363; }
	
	table.standard-tableTOPBLUE table.standard-innerTable th.tableTitle p, .innerTable .title
	{ border-bottom:1px solid #EEE; color:#111; }
	
		.innerTable form
		{ background:#FFF; border:1px solid #EEE; }
		
		.innerTable form textarea
		{ border:1px solid #CCC; color:#636363; }
	
/* Members Structure > Warning Box */

table.warningBOX 
{ background:#F6FFF4; border:1px solid #DADADA; }
		
	table.warningBOX th a.warningBOXcontent, table.warningBOX th a.warningBOXcontent:visited 
	{ color:#146D01; }

	table.warningBOXtext 
	{ color:#636363; }

/* Members Structure > List View */

	.list-view li 
	{ background:url(images/iconography/bullet-category.gif) no-repeat 0 center; }
	
	.list-view li.list-back a:hover 
	{ color:#111; }

	.list-view li input, table.standard-table ul.list-view li input
	{ background:none; }

/* Members Structure > Articles Options */

.standard-iconDESCRIPTION
{ color:#111; }
	
		.standard-iconDESCRIPTION li.articleOption a, .standard-iconDESCRIPTION li.articleOption a:visited 
		{ color:#111; }

/* Members Structure > Content > Misc */

p.warning 
{ color:red; }

	.warning a, .warning a:visited 
	{ color:#C00; }
	
/* Members Structure > Add/Order Pages > Choose Level */

table.standardChooseLevel
{ border:1px solid #EEF7E6; }
		
	table.standardChooseLevel th, table.standardChooseLevel td
	{ background:#FBFBFB; border-bottom:1px solid #EEE; color:#111; }
			
		table.standardChooseLevel td input
		{ background:none; }
		
		table.standardChooseLevel th
		{ color:#111; }
		
		table.standardChooseLevel td select
		{ border:1px solid #D4D4D4; border-bottom:1px solid #EEE; border-right:1px solid #EEE; color:#636363; }

/* Members Structure > General Item */

.general-item
{ background:#FFF; color:#636363; }

	.general-item strong 
	{ color:#111; }

/* User Info > No Image */

.user-info .no-image
{ background:#E7E8E8 url(images/iconography/icon-user.gif) no-repeat center; }
		
/* Members Structure > Listing > Google Map */

div.googleBase
{ background:#E5E3DF; border:1px solid #BAB5A9; }

/* Members Structure > Misc > Tip Base */

.tip-base 
{ background:#FFFFE8; border:1px solid #EEE; color:#636363; }

	.tip-base h1 span
	{ color:#636363; }

	.tip-base p
	{ color:#636363; }
	
	.tip-base span.warning
	{ color:#111; }

/* Members Structure > New Structure */

.standardTitle
{ background:none; border-bottom:1px solid #E6E8E9; color:#636363; }

	.loginComplementaryInfo a
	{ color:#111; }

	.loginComplementaryInfo .linkLogin b
	{ color:#0072BC; }

/* Results Page > Misc Classes > Paging */

table.pagingContent, table.pagingContent table
{ color:#636363; }

	table td.paging-letters a, table td.paging-letters a:visited
	{ color:#636363; }

		table td.paging-letters a:hover
		{ color:#111; }

		table td.paging-letters a.firstLetter, table td.paging-letters a.firstLetter:visited
		{ color:#EC008C; }
		
	table.pagingContent select
	{ border:1px solid #666; color:#636363; }
	
/* Tree-view Special Typography */

	.treeView li.loading
	{ background:url(images/iconography/icon-loading-content.gif) no-repeat 20px 5px; }

	.treeView li .categoryTitle, .treeView li .categoryTitle:visited
	{ color:#111; }
	
	.treeView .switchOpen, .treeView .switchOpen:visited, .treeView .switchClose, .treeView .switchClose:visited
	{ background:url(images/iconography/bg_switch_open.gif) no-repeat 2px 5px; }
	
	.treeView .switchClose, .treeView .switchClose:visited
	{ background:url(images/iconography/bg_switch_close.gif) no-repeat 2px 5px; }

.categoryBullet
{ color:#636363; }

	.treeView .categoryAdd, .treeView .categoryAdd:visited
	{ background:#F1F1F1; /* Background is needed for jQuery effects. Do not remove it. */ color:#0072BC; }
	
	table.standard-table .categoryTreeview .categorySuccessMessage, table.standard-table .categoryTreeview .categoryErrorMessage
	{ background:#F1F1F1; /* Background is needed for jQuery effects. Do not remove it. */ color:#692; }

	table.standard-table .categoryTreeview .categoryErrorMessage
	{ color:#C10924; }
	
/** Language Tabs */

.multilanguageContent
{ border:1px solid #E5E5E5; }
		


/* Sitemap */

	.sitemapList li.standardSubTitle 
	{ border-bottom:1px solid #E6E8E9; }
	
		.sitemapList ul li a
		{ color:#898989; }
		
			.sitemapList ul li a:hover
			{ color:#EC008C; }
		
		a.sitemapSection, a.sitemapSection:visited, .sitemagSection
		{ color:#636363; }
		
/* Gallery */

#imgThumb 
{ background:#FFF; border:1px dotted #CCC; }

.ImageEdit, .ImageEdit:visited, .ImageDelete, .ImageDelete:visited, .ImageEditCaptions, .ImageEditCaptions:visited
{ border:1px solid #CCC; }

.mainImageLinkBK, .mainImageLinkBK:visited 
{ border:1px #CCC solid; }

a.mainImageLink, a.mainImageLink:visited 
{ color:#FFF !important; }

#galleryF ul li 
{ background:#EEE; border:1px solid #DDD; }

.summaryDescription #imgThumb, .summaryContent #imgThumb 
{ background:none; }

/* Step Order */

	.standardForm th.wrapcaption 
	{ color:#636363; }
	
	.standardForm td.TaddImagetxt 
	{ color:#636363; }
	
	.standardForm td.TimageFile 
	{ color:#636363; }
	
		.standardForm td.wrapcaption .inputExplode
		{ border:1px solid #AAA; border-bottom:1px solid #DDD; border-right:1px solid #DDD; color:#636363; }	
	
		.standardForm td.TaddPreview div
		{ border:3px solid #D0D5D8 !important; }

.standard-tablenote  
{ background:#FFF; border:5px solid #F4F4F4; }
/* Packages */

.package h2
{ color:#EC008C; }
	
/* Package Table */	

	.package .packageTable th, .package .packageTable td
	{ border-bottom:1px solid #EEE; }
	
	.package table.packageTable th
	{ color:#111; }
		
	.package .packageTable td
	{ background:#FFF; color:#111; }
	
		.package .packageTable td a, .package .packageTable td a:visited
		{ color:#636363; }
	
	.package .packageTable .standardSubTitle 
	{ color:#111; }
	
	.package .packageTable .packageOffer
	{ color:#636363; }
	
	.package .extendedContent .dynamicContent
	{ color:#111; }

/* Dashboard > Members */

.domainItems
{ background:#FFF; border:1px solid #EEE; }

	.domainItems .domainItemsTitle
	{ background:none; border-bottom:1px solid #EEE; color:#636363; }
	
	.domainItemsList
	{ border-bottom:1px solid #E5E5E5; }
	
/* Dashboard > Members > Settings */
		
	.domainItemsList .moduleName
	{ color:#898989; }
		
		.domainItemsList .itemCheckOut a, .domainItemsList .itemCheckOut a:visited
		{ color:#146D01; }
			
/* Sidebar > Dropdown Domain */

.sidebar #dropdownDomain
{ border-color:#D4D4D4 #EEE #EEE #D4D4D4; color:#636363; }

/* Box Step */

	.stepsBox p
	{ color:#111; }
	
	.stepsBox span
	{ color:#898989; }

	.sugarFirstStep
	{ background:#EFEFEF; border:1px solid #E0E0E0; border-right:none; }
	
	.sugarSecondStep
	{ background:#E8E8E8; border-color:#E8E8E8; }
	
	.sugarThirdStep
	{ background:#EFEFEF; border-color:#E0E0E0; }
	
		.sugarCRMDownload a, .sugarCRMDownload a:visited
		{ color:#FFF; text-shadow:#000 -1px 1px 1px; }
			
			.standardSugarButton input
			{ background:none; color:#FFF; text-shadow:#023212 -1px 1px 1px; }
			
			.standardSugarButton input:hover
			{ color:#DDD; }
