/**
* eDirectory - Advertise Page
*
* @package			layout
* @filesource		advertise.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
*/

/** Tab navigation */


/** Level > misc */

	.level h2.level-name
	{ border-bottom-color:#648094; color:#111; background:none; border:none; padding:0;}
	
	.level .preview-desc
	{ border-bottom:1px solid #C7C7C7; color:#636363; }
	
	.level .price
	{ color:#111; }
		
/** Level > detail > Deals differences */

.level-detail .deal .deal-tag .price
{ color:#FFF; }
		
/** Level > level preview */


.content .level-preview
{ background:#FFF; }
		
/** Level > level banner */

.level-banner
{ background:#F1F1F1; }

/** Preview > Site Manager Area */

.import-body
{ background:none; }
	
/** Advertise List */

	.tabsLevels li h2
	{ background:#636363; color:#FFF; }
	
	.tabsLevels li:last-child h2
	{ border:none; }
	
	.tabsLevels li.active h2
	{ background:#0072BC; }
	
	
/* CONTENTS */

#content_article
{ padding: 10px 0 0 0; }