/**
* eDirectory - Advertise Page
*
* @package			layout
* @filesource		advertise.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			October, 17, 2011
*			
*/


.price {margin:10px 0;}


/* #Summary Views*/

.level-summary .no-image, .summary span.no-image, .content-main .summary span.no-image {   border: medium none;  float: left; height: 131px;  width: 100%;}
.level-summary .summary-small .media .summary-image .no-image { height: 90px !important;width:202px!important;}

 .summary span.no-image {   border: medium none;  float: left; height: 131px;  margin: 20px 20px 0 0; width: 100%;}

.level-summary .map {width:auto;}
.preview-desc span {float:right;}
.ie .preview-desc span {padding-top:30px;}

.level-summary .button-send, .level-summary .button-call {float:none;margin: 2px 0 0;padding:0;}
.level-summary .summary .rate p {padding-left:0;}
.level-summary .share-social {  margin-left: 0px;}
.level-summary .navicons { float: right;}

.ie .preview-desc span {float:right; margin-top:-25px;}

.level-summary .summary .span6 strong {width:auto; margin-left:5px;}

.level-summary .summary-article .summary-image .no-image {margin:0; height:90px;}

/* Detail View*/

.level-detail .image-shadow:hover {
    background:none transparent;
}

.row-fluid.level-detail {margin-top:10px;}

.level-detail .image-shadow, .level-detail .ad-gallery {margin-left:25px;}
.level-detail .button-send, .level-detail .button-call {margin: 2px 0 0;}
.level-detail .button-call {margin-top:2px;}

.level-detail .tab-content .image .no-image {height: 145px;width: 90%;}
.level-detail .tab-content .gallery .no-image {width: 84px; background-size: 84% auto;}
.level-detail .tab-content .gallery .ad-thumb-list li {display: inline-block; width: 72px;margin:10px 0 0 -2px;}
.ie .level-detail .tab-content .gallery .ad-thumb-list li {display: block; float:left;}

.content .sidebar .map > img {width:100%;}
.content .sidebar .map {height: 220px;}

.well-small {  width: 256px;}
.level-preview .well-small {width:299px;}

.ie7 .level-detail .tabs {padding-bottom:20px;}
.ie7 .helpful-reviews h2 a.pull-right {margin-top:-32px;}

.level-detail .sidebar h2 {font-size:14px;}

.levelClassified .ad-thumb-list .no-image {width:63px;}
.levelClassified .ad-thumb-list > li {float: left; margin-left: 10px;}

.levelClassified .level-detail .ad-gallery {margin-left:0;}
.level-detail .overview .ad-gallery {margin-left:0;}
/* #Preview */

.level-preview .content {width: 69%;}
.level-preview .sidebar {width: 27%;margin-right:4%;}

/*IE 8   FIxes*/
.ie .level-detail .tab-content .gallery .ad-thumb-list li .no-image {background-image:none; background-color:#eee; width:72px;height:40px;}
.ie .level-detail .tab-content .gallery .ad-thumb-list li {margin-right:5px;}
.ie .level-detail .ad-gallery.gallery { clear:both;margin-bottom:60px;}
.ie .level-detail .span4 .ad-thumb-list {clear:both;margin-bottom:30px;}
.ie .levelClassified .ad-thumb-list .no-image {background:none #eee;}

/* #Media queries

	All changes when you want a responsive website
	
*/

@media (min-width: 768px) and (max-width: 979px) {
    .tabs.tabs-advertise > li > a { margin-right: 2px; padding-left: 5px; padding-right: 5px;}
    
    .image-shadow { height: 110px;  width: 68%;}
    .level-detail .tab-content .span7 .image .no-image { height: 110px; width: 90%;}

    .row-fluid .span8-5 {margin-left:0;}
    .level-detail .tab-content .gallery .ad-thumb-list li {width:52px;}
    .level-detail .tab-content .gallery .no-image {width:56px;}
    .level-detail .tab-content .image-shadow .image .no-image {width:120%;}    
    .content .sidebar .map { height: 156px;}
    .featured.featured-checkin {width:81%;}
    .row-fluid.level-detail .top-info .span4 {width:26%;}
    .tabs.tabs-advertise li a { max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

    .inverse-row .map {width:100%;margin:0; height:117px;}
    .inverse-row .map img{width:100%;margin:0;}
    .levelClassified .ad-thumb-list .no-image { width: 50px;}

    .level-detail .share-social li {margin-left:5px;}

}

@media (max-width: 767px) {
    .level-summary, .level-detail {display:none;}
    .tabs {background-color:#C2C3C3;}
    .tabs.tabs-advertise > li > a {margin: 0; padding-left: 5px; padding-right: 5px; border-radius:0; background:none;}
    .tabs.tabs-advertise > .active > a, .tabs > .active > a:hover, .nav > .active > a:focus  {background-color:#fff;}
    .tabs li, .tabsLevels li { margin-top: 10px;}
    
    .level-info .button.button-profile {display:none;}
}

@media (max-width: 320px) {
    
}
