*{margin:0px;padding:0px;}
img{border:none;}
a{outline:none; text-decoration:none;}
.clr{clear:both;}
.flt{float:left;}
.flr{float:right;}
p,ul,li,h1,h2,h3,h4,h5,h6,span{margin:0px; padding:0px;}
body{font-family: Arial, Helvetica, sans-serif; font-size:13px; color:#333; background: url(images/template-main-bg.jpg)}

#wrapper{ width: 960px; height: auto; margin: 0 auto; }
#mainwrapper{ width: 960px; height: auto; float: left;}

#footer{ width: 960px; height: auto; float: left; text-align: center; color: #fff; font-size: 12px; margin-bottom: 15px;}

#mainbox {
    background:url("images/bg.png") no-repeat scroll 0 11px transparent;
    font-size: 12px;
    height: 350px;
    line-height: 12px;
    padding-top: 24px;
    position: relative;
    width: 490px;
	margin:0px auto !important;
	margin-top:129px !important;
}
#main-inner {
    background: url("images/bg2.png") no-repeat scroll 0 0 transparent;
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    height: 197px;
    line-height: 12px;
    margin: 3px auto !important;
    padding: 25px 0 0;
    position: relative;
    width: 390px;
}
#main-inner th {
    padding: 0 0 6px;
    text-align: center;
    width: 95px;
	font-family: Myriad Pro;
	font-size:14px;
}
#main-inner td {
    color: #161616;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 12px;
    padding: 0 0 6px 10px;
	font-size:11px;
}

.main-inp {
    border: 1px solid #CFCFCF;
    color: #000000;
    font-size: 14px;
    height: 26px;
    padding: 2px 6px 0 10px;
    width: 170px;
}
.checkbox-size {
    height: 13px;
    margin: 5px 0;
    width: 13px;
}
input, select, textarea {
    font: 13px Arial,Helvetica,sans-serif;
}
#main-inner label {
    color: #161616;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-left: 7px;
	font-size:11px;
}
.submit-login {
    background: url(images/submit.png) no-repeat;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 29px;
    text-indent: -3000px;
    width: 73px;
	 margin-top: 10px;
}
.submit-login2 {
    background: url(images/send.jpg) no-repeat;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 29px;
    text-indent: -3000px;
    width: 73px;
	 margin-top: 10px;
}
#main-inner a {
    color: #4B6A0E;
    cursor: pointer;
    font-family: Myriad Pro;
    font-size: 13px;
    line-height: 12px;
    padding: 0 0 6px 10px;
    text-decoration: underline;
}
#main-inner h5{ text-align:center; color:#f00;}
.login {
    background: url("images/login.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    height: 35px;
    left: -6px;
    padding: 6px 0 0 19px;
    position: relative;
    top: -10px;
    width: 66px;
}


ul.listadmin ul{ width: 230px; height: auto; float: left;}
ul.listadmin ul li{ width: 230px; height: auto; float: left; list-style: none;}

.arrowsection {
    float: left;
    height: auto;
    padding-top: 135px;
    width: 1187px;
}

.arrow_left {
    float: left;
    height: auto;
    margin-left: 225px;
    width: 65px;
}

.arrow_right {
    float: right;
    height: auto;
    margin-right: 215px;
    width: 65px;
}
.cunt{float:right; width:294px; height:30px;}
.cunt select { 
    height: 26px;
    margin: 0;
    padding: 4px 0 0;
    width: 240px;
}
.cunt select option{ 
    margin: 0;
    padding: 3px 0 5px;
    width: 218px;
}

.fbsingin {
    background: url("images/button-facebook.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF !important;
    height: 22px;
    margin: 70px auto;
    padding: 4px 0 0;
    text-align: center;
    width: 192px;
}
.fbsingin a{ color:#fff !important; text-decoration:none !important;}

.gsingin {
    background: url("images/button-google.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF !important;
    height: 22px;
    margin: 70px auto;
    padding: 4px 0 0;
    text-align: center;
    width: 192px;
}
.gsingin a{ color:#fff !important; text-decoration:none !important;}