/**
* eDirectory - Profile Pages
*
* @package			layout
* @filesource		profile.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			October, 17, 2011
*			
*/

/** Detail Misc > Structure */

.sidebar
{ float:left; padding:30px 5px 30px 0; }

.content
{ padding:30px 0 30px 20px !important; width:670px; }

.content-profile
{ padding:0 0 15px 0; }

.content .content-profile h2.standardSubTitle
{ background: url("images/structure/bg-detail-desc.png") repeat-x scroll 0 bottom transparent; border: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 25px; margin: 0 0 15px; padding: 0 0 5px; }

	.content .content-profile h2.standardSubTitle span
	{ font-family: Arial, Helvetica, sans-serif; }

.content-main .no-image
{ background:#FFF url(images/iconography/icon-user-thumb.gif) no-repeat 0 0; height:50px; width:50px; }

.filter .left
{ width:190px; }

/** Items Summary */

.item-summary
{ padding:0; }

	.item-summary h3
	{ font-size: 12px; font-weight:bold; padding-top:0; clear:none;}
	
		.item-summary h3 a,
		.item-summary h3 a:visited
		{ color: #111; font-size:12px; font-weight:bold; }
	
	.item-summary .delete
	{ background: url("images/structure/bg-search-button.gif") repeat-x scroll 0 0 transparent; color: #636363; display: block; float: right; font-family: "Futura",Arial,Helvetica; font-size: 11px; font-style: italic;     letter-spacing: -0.5px; line-height: 28px; padding: 0 20px; text-transform: uppercase; text-align: center; }
	
		.item-summary .delete
		{  -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px; text-shadow: 1px 1px 1px #FFFFFF; }	
		
		.item-summary .delete:hover
		{ color: #000; text-decoration: none; }

/** Featured Items */

/** Featured > featured reviews */

.featured-review .featured-item
{ clear:left; float:none; margin: 0; padding: 0; width:auto; }

	.featured-review .featured-item h3,
	.featured-review .featured-item h3 a,
	.featured-review .featured-item h3 a:visited
	{ font-family: Futura,Arial,Helvetica; padding: 4px 0 2px; }
	
	.featured-review .featured-item .info
	{ padding: 6px 0 15px; }
	
		.featured-review .featured-item .info p 
		{ color: #636363; }	

/** Tab navigation */

.profile-tabs
{ border-bottom:1px solid #E3E3E3; height:28px; overflow:hidden; padding:5px 0 0 0; }

	.profile-tabs li
	{ background:#E3E3E3; display:block; float:left; height:28px; margin:0 3px 0 0; padding:0 20px; }
	
	.profile-tabs li
	{ -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0; }
	
		.profile-tabs li a:link,
		.profile-tabs li a:visited,
		.profile-tabs li a:active
		{ color:#636363; display:block; font-size:11px; line-height:28px; text-align:center; }
		
		.profile-tabs li.active
		{ background:#0072BC; }
		
			.profile-tabs li.active a:link,
			.profile-tabs li.active a:visited,
			.profile-tabs li.active a:active
			{ color:#FFF; }
			
/** Members Table */

table.standard-table
{ width:100%; }

table.standard-table th,
table.standard-table td
{ color:#636363; }

table.standard-table .httpInput
{ width:388px !important; }

p.standardButton
{ float:left; margin:0 10px 0 0; }

.btAdd
{ height:auto; margin-bottom:30px; overflow:hidden; padding:15px 0 0 257px; }
			
/** Sidebar */

/* User info > misc */

.user-info h3
{ font-family:Arial, Helvetica, sans-serif; font-weight:normal; }

.user-info p
{ margin:0 0 6px 0; }

.user-info img
{ float:left; margin:0 10px 10px 0; }

.user-info img
{ -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; max-width: 100px;max-height: 100px;}

.user-info .edit
{ font-style:italic; }

.user-info p span
{ color:#636363; display:block; font-style:italic; }

/* User info > No image */

.user-info .no-image
{ background:#E7E8E8 url(images/iconography/icon-user.gif) no-repeat center !important; float:left; height:100px; margin:0 10px 10px 0; width:100px; }

/* User info > Twitter differences */ 

.user-info .last-tweets .loading
{ background:url(images/iconography/icon-loading-content.gif) no-repeat center; }

.user-info .last-tweets ul li a
{ color:#898989; }

.user-info .last-tweets ul li span a
{ color:#0072BC; }


/* Members Structure > Table Top Blue */

table.standard-tableTOPBLUE 
{ background:#FBFBFB; border-color:#A0A0A0; clear:left; color:#636363; font-size:11px; font-weight:normal; margin:10px 0 0 0; width:100%; }

	table.standard-tableTOPBLUE th 
	{ background-color:#A8A8A8; border-color:#A0A0A0; color:#111 !important; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; line-height:30px; padding:0 5px 0 5px; text-align:left; text-shadow:1px 1px 1px #FFF; text-transform:none; white-space:nowrap; }

	table.standard-tableTOPBLUE td 
	{ border:1px solid #E4E4E7; border-left:none !important; color:#636363; font-size:11px; padding:4px; text-align:left; }
	
		table.standard-tableTOPBLUE td table 
		{ margin:0 auto 0 auto; }
	
		table.standard-tableTOPBLUE td table td,
		table.standard-tableTOPBLUE td table th 
		{ border:0; }
		
		table.standard-tableTOPBLUE a img
		{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
	
	table.standard-tableTOPBLUE td.tableTOPBLUECheck 
	{ background:#FFF; border:0; padding:0; text-align:left; }
	
		table.standard-tableTOPBLUE td.tableTOPBLUECheck table 
		{ margin:0; }
	
		table.standard-tableTOPBLUE td.tableTOPBLUECheck * 
		{ background:#FFF; border:0; text-align:left; width:auto; }
		
		table.standard-tableTOPBLUE td.tableTOPBLUECheck a,
		table.standard-tableTOPBLUE td.tableTOPBLUECheck a:visited 
		{ cursor:pointer; }

/* New Create Profile */
		.create-profile.content-custom.title {margin: 0 20px; padding: 0;  width: 630px;}
		.create-profile.content-custom.title h3 {font-family: Futura,Arial,Helvetica;}
		.create-profile.content-custom.title h3.signup {width: 290px; clear:none;}
		.create-profile.content-custom.title h3.or {width: 45px; padding: 0 7px; clear:none;}
		.create-profile.content-custom.title h3.signin {width: 264px; clear:none;}
		
		.create-profile input{ line-height:16px;margin:0; margin-right:10px;font-size: 11px;}
		.create-profile input[type="checkbox"]{width: 15px;margin-right: 5px;vertical-align: middle; border:none;}
		
		.create-profile form {margin:0 auto;width:300px;}
		.create-profile form>div {margin: 5px 0 10px;float: left;}
		.create-profile  p.standardButton.buttoncenter {margin-left:105px;}
		.create-profile .divider {float:left;width:1px; height:190px;background-color:#eee; margin: 0 33px 0 -1px;}
		.create-profile .btn-facebook, .create-profile .btn-google {padding: 10px 0 7px 23px;margin-right: 5px;background: #ebebeb no-repeat 5px 5px;border: 1px solid #e1e1e1;width: 105px;float: left;font-size: 13px;text-align: center;}
		.create-profile .btn-facebook {background-image: url(images/iconography/btn-facebook.png);}		
		.create-profile .btn-google {background-image: url(images/iconography/btn-google.png);}
		.create-profile p.btn-openid {margin-top:3px;}
		.create-profile p.btn-openid input {width: 192px;margin-right: 4px;padding: 5px 2px;float:left;border:1px solid #ccc;height:17px;}
		.create-profile p.btn-openid button {width:auto;height: 28px;padding: 0 7px; float:right;}
		.create-profile .cont_40 > div { float:left;margin: 13px 0px 5px -4px;}

		.create-profile div.inputimg {float:left;}
		.create-profile div.inputimg > i {float:left;margin:0; height:17px;padding:5px; width:10px;border:1px solid #ccc; border-right:none;line-height:16px;font-size: 11px; }
		.create-profile div.inputimg > input {float:left;height: 17px;  width:113px; border:1px solid #ccc; border-left:none;padding:5px 0 5px 5px;}
		.create-profile div.inputimg.large > input[type=text]{width:263px;}
		.create-profile label#checkUsername { float: left;  margin: 5px 0 -6px;}
		
		.create-profile .inpname{ background:#fff url(images/iconography/user.png) no-repeat 3px;}
		.create-profile .inpemail{ background:#fff url(images/iconography/mail.png) no-repeat 3px; width:265px; margin-right:0}
		.create-profile .inppassword{ background:#fff url(images/iconography/lock.png) no-repeat 5px;}
		
::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; opacity:1; } /* firefox 19+ */
:-ms-input-placeholder { color:#999; } /* ie */
input:-moz-placeholder { color:#999;opacity:1; }

/* New general*/
.UsernameRegistered {clear:both;margin-left: 1px;}	
		
