/**
* eDirectory - Members Section
*
*			
*/

/*#General*/
.left {float:left;}
.right {float:right;}

form > p {padding:10px 0;display:block;}

.content > p {line-height:24px;display:block;}

/* #Typography */
blockquote {font-size:11px;}
            
h2 { font-size:13px; font-weight:normal;text-transform: capitalize;line-height: 32px;}

.standardSubTitle  {margin-top:10px;}
h1.standardTitle {font-size:14px;}

.cont_100 > h2 {margin-left:1%;}

.memberMenu h2 	{
	float:none; 
	background: none repeat scroll 0 0 transparent;  
	border: medium none; 
	box-shadow: none;  
	font-size: 12px;  
	font-weight: 400;  
	line-height: 24px;
}

.memberMenu li {font-size:11px;}



a:focus, a:active {border:none; outline: none;}

.review-name a {font-size:14px; font-weight:normal;color:#333;}
.review-name a:hover {color:#1abc9c;}

strong {font-weight:bold;}

.member-form label > em {  color: #999999;  font-size: 10px;  font-style: normal;  font-weight: 400;}

.wrapcaption {font-size:12px;}



/*Login Options*/
.complementaryInfo {font-size:9px;}
.loginComplementaryInfo {text-align:center;}




/* #Dynamic Content */
blockquote .dynamicContent {
	float:left;
	clear:both;
	width:98%;
	margin:10px auto;
	padding:10px 1%;
}


/* #Buttons */

p.standardButton {text-align: center;margin: 15px 20px;display:inline;}
.baseButtons p.standardButton {margin: 15px 0;}


#img_customtime {padding:10px;display: inline;}




/*Warning Box*/
table.warningBOXtext {
	 background-color:#fcf8e3; 
	 border:1px solid #fbeed5; 
	 color:#c09853;
}

table.warningBOXtext tr {display: block; padding: 15px 20px;}

.warningBOXtext th {
    vertical-align: middle;
}

/* #Gallery*/

a.ImageEditCaptions , 
a.ImageDelete,  
a.mainImageLinkBK {
	color:#666;	
}

a.ImageEditCaptions,
a.ImageDelete,
a.mainImageLinkBK{ background-color:#eee;}

a.ImageEditCaptions:hover,
a.ImageDelete:hover,
a.mainImageLinkBK:hover{ background-color:#ccc;}

a.mainImageLink.mainImageLinkBK {background-color:#2980b9; color:#fff;}
a.mainImageLink.mainImageLinkBK:hover {background-color:#3498db; color:#fff;}

.Full ul li {
	background-color: #DEDEDE;
    border: 1px solid #C9C9C9;
}
.Full ul li h5 {
	font-size:12px; 
	font-weight:normal; 
	color:#333; 
	font-style: italic;}

.Full ul li.mainImageGallery {}

/*Warning Box to Pay*/
a.warningBOXcontent {
	 color:#fff;
	 font-size:12px; 
	 line-height:16px;
	 font-weight:normal;
	 padding:10px 20px;
	 margin-left: 50px; 
	 background-color: #2ECC71; 
	 border:none;
	 white-space:nowrap;
	}
a.warningBOXcontent {font-size:11px; font-weight:normal;}
a.warningBOXcontent:hover {background-color: #58D68D;}
.warningBOX td a{display:none;}
.warningBOX td{margin-left:-10px;}


/* # ALL Standard Table
*/


[class*="standard-table"] { color:#494949; background-color:#f2f2f1;}
.standard-table-putradio {background-color:transparent;}
[class*="standard-table"] tr { border:1px solid #ddd;}
.ie7 [class*="standard-table"] td, .ie7 [class*="standard-table"] th { border:1px solid #ddd;}
[class*="standard-table"] table tr { border:none;}
[class*="standard-table"] i span {font-size:9px;font-style:normal;color:#999;}
[class*="standard-table"] i {font-style: normal; font-size:16px; color:#666;}
[class*="standard-table"] td strong {font-size:14px; margin:0 2px 0 -8px;}



/* #Only STandard-table*/
.standard-table th { font-weight:400; font-size:11px;}
.standard-table.tabsTable {background-color:transparent;border:none;}
.standard-table.tabsTable tr {background-color:transparent;border:none;}


/*Standard Table Title*/
.standard-table .standard-tabletitle {background-color: #E9E9E8;  font-size: 13px;  padding: 6px 0 6px 15px; text-align: left; font-weight:normal;}
.standard-table .standard-tabletitle span { font-size: 10px; font-weight:400; display:inline!important;}


/* #Standard Table Top Blue*/
.tableTOPBLUECheck { background-color: #EEEEEE;  border: 1px solid #DDDDDD;}
.tableTOPBLUECheck td {text-align:left;}

.standard-tableTOPBLUE {border:1px solid #dbdbdb; background-color:#fff; text-align:center;}
.standard-tableTOPBLUE th { background-color:#e9e9e8; font-weight:600;}
.standard-tableTOPBLUE td, .standard-tableTOPBLUE th {border: 1px solid #DBDBDB;}
.standard-tableTOPBLUE th {color:#000;}
.standard-tableTOPBLUE .innerTable td {border-left: none;}
.standard-tableTOPBLUE .hideForm td {border:none;}
.standard-tableTOPBLUE.arrow-manage {font-size:10px;}

/* Table Level */
.levelTable th, .levelTable td {font-weight:normal; font-size:11px; text-align:center;}
.levelTitle {background-color:#16a085;color:#fff;}
.levelTopdetail {background-color:#1abc9c;color:#fff; }
.levelTable .tableOption {text-align:left;background-color:#E1F0E0;}

.levelTable .tableOption a {color:#666;} .levelTable .tableOption a:hover {text-decoration:underline;}
.levelTable .tableOption a:before {background: url("images/iconography/glyphicons-halflings.png") no-repeat scroll -25px -45px transparent;  content: "";  display: block; height: 18px; width: 16px; float:left; opacity:0.7}
.levelTabe table {color:#888;}

/* #Standard Inner Table*/
.standard-innerTable {width: 98%; border: 1px solid #ccc;margin: 1%;}

.standard-innerTable td, .standard-innerTable th{border: 1px solid #ccc;}

/* #Standard Table One Background
    Principal information
*/
.onebackground { }
.onebackground .bigger { border-bottom:1px solid #ddd;}

/*Payment Method*/

.standardChooseLevel td {border-bottom:none;}

/* #Table Payment Method*/
[class*="standard-table"] .paymentMethods td {border:none; font-size:10px;}



/* #Table Categories */
.tableCategoriesTITLE {background-color:#E9E9E8;}
.tableCategoriesTITLE strong {font-weight:600;}

/* #Tree-view Special */
.categoryTreeview {background-color:#fff; border-radius:4px; border:1px solid #dedede;}


/*#Sidebar*/
.sidebar > h2,  .previewmember .advertisement > h2 {background-color:#16a085; color:#fff; text-indent: 10px}
.memberMenu {border:1px solid #DFEAF7;padding:10px; margin-bottom:20px; background-color:#F4F4F4; clear:both;}


.sidebar p {  line-height: 17px;  padding:0;}

.sidebar .user-info img {}
.ie .sidebar .user-info img {    border: 3px solid #ccc; }

.user-info p {font-size:11px; display:block;  }
.user-info p span {font-size:12px; font-weight:400; display:block;margin-bottom:10px;}
.user-info p a {font-size:10px; font-weight:normal; color:#16a085;}

.user-info p a:hover, 
.memberMenu h2 a:hover { color:#1abc9c;}

.user-info .edit { font-style:italic; }


/* MEMBERS Manage Account Form */
	.member-form {border:1px solid #ddd;}
	.member-form label{font-size:11px;cursor: default;}	
	.member-form .right {background-color:#fff; border-left:1px solid #d7d7d7;}
	.member-form .left a {line-height: 20px;}
	.member-form .left span {font-size:11px; font-weight:normal; line-height:14px; color:#696969;}
    
   
    blockquote.high {background-color: #f9f9f9;}
   
    blockquote p {font-size:11px}
	
	blockquote.low {background-color: #fafafa;}
	
	a.remove {background: url(images/iconography/bg_switch_close.gif) no-repeat center; }
	
	.member-activity .activity {border:1px solid #eee; border-bottom: none; line-height: 20px;font-size: 10px;}
	.member-activity .option {background-color:#eee;border:1px solid #eee; line-height: 10px;font-size: 10px;}
 
    
 /* Step Box*/
 
 .stepsBox { display:inline-block; margin-bottom:25px;width: 111%; margin-left:-30px; }
.stepsBox p 	{ color:#333; margin-bottom:10px; text-align:center; font-size:11px; height:30px;}

.stepsBox span 	{ color:#898989; font-size:10px; font-style:italic; line-height:20px; }

.sugarFirstStep {background-color:#e1e1e1;}
.sugarSecondStep {background-color:#ededed;}
.sugarThirdStep {background-color:#f2f2f2;}


/*Button jquery UI*/
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane button {
    background-image: none;
    color: #FFFFFF;
    cursor: pointer;
    font: normal 11px;
    margin: 5px;
    overflow: hidden;
    padding: 13px 30px;
    width: auto;
    line-height:6px;
    background-color:#3498DB;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane button:hover {
	background-color:#5DADE2;
}
.ui-dialog .ui-dialog-titlebar {
    background-color:#16A085 !important;
}

.ui-dialog{
    border:none !important;
}


.itemCheckOut a,
.status-active,	
.status-suspended,
.status-expired,
.status-pending {
	padding:2px 5px;
	color:#fff;
	font-size:9px;
	font-weight:lighter;
	white-space: nowrap;
 }


.itemCheckOut a { 
	background-color:#3498DB;
	padding:8px;
}

.itemCheckOut a:hover {
	background-color:#5DADE2;
}


.status-active		{ background-color:#2ECC71; }
.status-suspended	{ background-color:#e67e22; }	
.status-expired		{ background-color:#F1C40F; }	
.status-pending 	{ background-color:#E74C3C; }


.domainItemsTitle {
	font-size:12px; 
	background-color:#16A085;
	float:left;
	margin:10px 0; 
	clear:both;
	width:100%;
	text-indent:10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color:#Fff;
	}