//NEW STYLE FOR SITEMGR
/*==========================================*/


// MIXINS
//Box Sizing

.box-sizing {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box; 
          box-sizing:border-box;  

}

//Text overflow
.text-inline-overflow{
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

//Colors 
@gray:#555555 ;
@dark-gray:#3a3a3a;
@light-gray:#f7f7f7;
@bg-gray:#f2f2f2;
@border:#DCE0E1;

@danger:#c0392b;
@info:#2980b9;
@success:#27ae60;
@alert:#d35400;

@danger-hover:#e74c3c;
@info-hover:#3498db;
@success-hover:#2ecc71;
@alert-hover:#e67e22;


//Fonts
@font-size-base: 13px;
@font-size-big: 1.6em;
@font-size-small:  0.75em;

/*==========================================*/
// STYLES



//Container
.container-box {
	width:1000px;
	margin:0 auto;
}

//Background 

body {
	background-color:@bg-gray;
	.wrapper div.content {
		background-color:white;
		margin-top:0;
		display:block;
		position:relative;
		height:100%;
		min-height:100%;
		border:1px solid darken(@border, 5%);
		padding:20px 0 100px;
	}
}


// Header
.small-header {
	background-color:@dark-gray;	
	width:100%;
	height:50px;
	text-align:left;
	font-size:@font-size-base;
	
	.brand {
		font-size:22px;
		font-weight:400;
		line-height:34px;
		padding:0 20px 0 0;
		margin:8px 10px 0 0;
		color:white;
		border-right:1px solid black;
		width:auto;
		vertical-align: top;
		display:inline-block;
		.logo {
			a {
				float:left;
				color:white;
				&:hover {
					color:@info-hover;
				}
				img {
					height:36px;
					max-height:36px;
				}
			}
		}
	}
	ul, ol {
		list-style:none;
	}
	.nav-header {		
		display:inline-block;
		vertical-align: middle;		
		li {
			display:inline-block;
			a {
				color:white;
				line-height:50px;
				padding:17px 10px;
				&:hover {
					color:@info-hover;
				}
			}			
			&.nav-highlight {
				background-color:@info;
				a {
					padding:25px 40px;
					line-height: 50px;
				}
				&:hover {
					background-color:@info-hover;
				}
				a:hover {
					color:white;
				}
			}
			&.title-dropdown {
				a:hover {
					color:white;
				}
				.nav-dropdown {					
					a:hover {
						color:@info-hover;
					}
				}
			}
		}
		.nav-dropdown {
			display:none;
		}
		&.nav-right {
			float:right;
			.nav-dropdown {
				margin-left:-173px;
			}
		}
	}
}

.title-dropdown {
	hr {
		border-bottom:1px solid @dark-gray;
		margin:10px 0;
	}
	.nav-header {
		color: lighten(@gray, 40%);
		line-height: 26px;
	}
	&:hover {
		background-color:@gray;	
		> .nav-dropdown {
			display:block;
		}	
	}
	.nav-dropdown {
		position:absolute;
		z-index:999;
		background-color: @gray;
		color:white;
		padding:10px 15px;
		> li {
			display:block;
			min-width:190px;
			a {
				line-height:30px;
				padding:2px 0;
				display:block;
			}
		}
	}
}

//FOOTER
.sitemgr-footer {
	background-color: @dark-gray;
	bottom: 0;
    height: 110px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align:left;
    color:white;
    font-size:@font-size-small;
    a {
    	color:@info-hover;
    	&:hover {
    		color:@info;
    	}
    }

    .backLinks, .footer-copyright  {
    	width:50%;
    	margin:25px 0;
    }

    .backLinks {
    	float:left;
    	a {
    		display:block;
    	}
    }

    .footer-copyright {
    	text-align: right;
    	float:right;
    }
}

.ie .sitemgr-footer {

}

//Sidebar NAV
.listing.topLink > a {
	&:before {
		content:"»";
		margin-right:10px;

	}
	&.noBorder {
		&:before {
			content:" ";
			width:7px;
			display:inline-block;
		}
	}
}

//ICONS
[class*="sitemgr-icon"] {
	background-image:url(images/sitemgr-icons.png);
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	display:inline-block;
}

.sitemgr-icon-gear {
	background-position:0 0;
	margin:0 5px -3px;
}

.sitemgr-icon-gear-gray {
	background-position:20px 0;
}

.sitemgr-icon-arrow-up {
	background-position:0 -68px;
}

.sitemgr-icon-arrow-down {
	background-position:0 -45px;
}

//General
.text-center {
	text-align: center;
}

//General inputs
input, textarea, select {
	border:1px solid #DCE0E1;
	padding:4px;
	width:98%;
	font-family: Arial, sans-serif;
	font-size:12px;
}

input[type="checkbox"], input[type="radio"] {
	border:none;
	vertical-align: text-bottom;
	height:16px;
	width:auto;
}

button {
	background-color: @info;
	color:white;
	padding:7.5px 30px;
	line-height:15px;
	font-size:12px;
	text-transform: uppercase;
	font-weight:500;
	cursor:pointer;
	&:hover {
		background-color: @info-hover;
	}
}


// FORM BUILDER

.form-builder {
	text-align: left;
	font-size:13px;
	a{
		color:@info;
		&:hover {
			color:@info-hover;
		}
	}	
	ul, ol {
		list-style: none;
	}
	.frmb-control {
		margin:18px 0;
	}
	select, input, textarea  {
		.box-sizing;
		height:28px;
		padding:5px;
		border:1px solid #d5d9db;
		font-size:13px;
		margin:7.5px 5px;
	}
	select {
		padding:4px 5px;
		line-height: 13px;
	}
	input[type="checkbox"], input[type="radio"] {
		width:auto;
		height:auto;
		padding:0;
		border:none;
	}
	label {
		display: inline-block;
	    font-size: 13px;
	    padding: 0 10px 0 0;
	    min-width: 10%;
	    max-width: 27%;
	    .text-inline-overflow;
	}
	.frmb-control {
		width:28%;
	}
	ul.frmb {
		> li {
			.box-sizing;
			margin-bottom:20px;
			width:100%;
			border:1px solid #d5d9db;
			strong {
				font-size:13px;
			}
			.legend {
				padding:8px 10px 8px 40px;
				background:url(images/icon-bars.png) no-repeat 10px 10px #f5f5f5;
				a {
					font-size:12px;
					float:right;
					padding:0 10px;
				}
				&:hover {
					cursor: move;
				}
			}
			.frm-holder {
				padding:10px;
			}
			.false-label {
				display: inline-block;
			    font-size: 13px;
			    margin: 11.2px 10px 0 0;
			    vertical-align: top;
			    min-width: 10%;
			}
			.fields {
				 width: 80%;
				 display: inline-block;
				 input[type="text"] {
				 	max-width:80%;
				 	width:100%;
				 	margin-left:30px;
				 }
				 input[type="radio"], input[type="checkbox"] {
				 	margin-right:-18px;
				 }
			}
			.add-area {
				padding-left:33px;
				line-height: 40px;
				a {
					color:#27ae60;
				}
			}
			.frm-fld, .fld-title, .frm-elements > {
				input[type="text"] {
					width:100%;
					max-width:70%;
				}
			}
			&:hover {
				border-color:#3498db;
			}
		}
	}
	.frmb-submit {
		background-color: @info;
		color:white;
		border:none;
		padding:10px;
		text-transform: uppercase;
		float:right;
		font-size:12px;
		font-weight: bold;
		width:130px;
		height:33px;
		margin-top:15px;

		&:hover {
			cursor: pointer;			
			background-color: @info-hover;
		}
	}
}


//Submenu 

.submenu {
	ul {
		list-style: none;
		border-top: 1px solid @border;
		border-bottom: 1px solid @border;
		width:100%;
		float:left;
		margin:10px 0;
		li {
			float:left;			
			padding:10px 0;
			&:hover, &.submenu_active {
				background-color:@light-gray;
				a {					
					color:#333;
				}
			}
			a {
				color:@info;
				font-size:12px;
				padding:10px;
				&:hover {
					color:#333;
				}
			}
		}
	}
}
//Choose Domain

.chooseDomainDropDown {
	margin:10px 0;
	float: none;
    margin: 0 auto 20px;
    width: 190px;
    text-align:left;
    p {
    	padding:0 0 5px 0;
    	font-size:12px;
    	color:#333;
    }
    select {
    	border:1px solid @border;
    	width:100%;
    	padding:5px;
    }
}

//Tables


/*Bulk Update*/
.bulkupdate-box {	
	margin:10px 0;
	float:left;
	width:100%;
	clear:both;
	text-align: left;	
	font-size:12px;
	.bulkUpdate {
		text-transform: uppercase;
		text-decoration: underline;
		color:@info;
		&:hover {
			color:@info-hover;
		}
	}
	.stmgr-btn {
		margin:10px 0 0 146px;
	}
	.bulkupdate-form {
		background-color:@light-gray;
		.table-bulkupdate {
			margin-bottom: 20px;
	    	padding: 20px 10px;
	    }
	}
	.bulkupdate-table {
		th {
			text-align: right;
			font-weight: normal;
			color:#333;
			min-width:130px;
		}
		td {
			padding:10px;
			span {
				margin:0 20px;
				color:#777;
			}
		}		
		select, input {
			border:1px solid @border;
			padding:4px;
		}
		input[type="checkbox"] {
			margin-right:10px;
			border:none;
		}
	}
}

//Something to cover general_sitemgr.css
.bulkupdate-box div.table_accounts table th {background-color:transparent; font-size:12px;}

//Table Item list

.table-itemlist {
	border-collapse: collapse;
	padding:0;
	margin:0 0 10px 0;
	width:100%;	
	float:left;
	clear:both;
	text-align:left;
	th {
		background-color:@gray;
		border-bottom:none;
		color:white;
		font-size:12px;
		font-weight:600;
		padding:8px;
		white-space: nowrap;		
		word-wrap:break-word;
		text-align:left;
		&.text-center {
			text-align:center;
		}
	}
	tr {
		border:1px solid @border;
		&:nth-child(2n) {
			background-color:@light-gray;
		}
	}
	td {
	font-size:11px;
		padding:8px;
		p {
			word-wrap:break-word;
		}
		a {
			color:#333;
			&:hover {
				color:@info-hover;
			}
			&.link-table {
				.text-inline-overflow;
				max-width:85px;
				display:inline-block;
			}
		}	
		input[type="checkbox"], > div {
			display:inline-block;
		}
		&.main-options {
			a {
				color:@info;
				text-transform: uppercase;				
				&:hover {
					color:@info-hover;
				}
				&.link-table {
					display: inline-block;
				    margin-bottom: -3px;
				    max-width: 110px;
				}
			}
			b {
				color:@info;
			}
		}		
		span {
			em {
				color:#888;
			}
		}
	}
	.standard-innerTable {
		width:100%;
		background-color: white;
		border-collapse: collapse;
		th {
			color:#333; 
			font-weight: bold;
			background-color:transparent;
			border:1px solid @border;
		}
		.tableTitle {
			background-color: @light-gray;
		}
		tr {
			background-color:white;
		}
		td {
			border:1px solid @border;
		}
	}
	.innerTable {
		tr {
			background-color:white;
			border:none;
		}
	}
	.inputCheckBulk {
	    .inputCheck, > div {
	    	display: inline-block;
    		vertical-align: middle;
	    }
	}
}

//Table Item form
.table-itemform {
	width:100%;
	background:white;
	tr, tr:nth-child(2n) {
		background-color:white;
		th {
			color:@dark-gray;
		}
	}
	
}


.table-groupform {
	border-collapse: collapse;
	padding:0;
	margin:0 0 10px 0;
	width:100%;	
	float:left;
	clear:both;
	text-align:left;

}


// Toolbar icons
.toolbar-icons-button {
	position:relative;
	width:20px;
	margin:0 auto;
	.toolbar-icons {
		display:none;
		background-color: #FFFFFF;
	    border: 1px solid #ECF0F1;
	    margin-left: -75px;
	    margin-top: 22px;
	    position: absolute;
	    min-width: 170px;
	    z-index: 999;
	    box-shadow:0 2px 4px #DEDEDE;
	    &:before {	    	
		    border-color: transparent transparent #2980B9;
		    border-style: solid;
		    border-width: 10px;
		    content: "";
		    margin-left: 74px;
		    position: absolute;
		    top: -17px;
	    }
		ul {
			list-style:none;
			padding:5px 10px;
			border-top: 3px solid #2980B9;
			li {
				display:block;
				border-top:1px solid @border;
				padding:7px 9px;
				color:#888;
				&:first-child {
					border:none;
				}
				a {
					color:@info;
					&:hover {
						color:@info-hover;
					}
					&.disabled {
						color:#888;
					}
				}
			}
		}

	}

	.toolbararrow {
		background:url(images/sitemgr-icons.png) no-repeat center -21px transparent;
		height:16px;
		width:20px;
		margin:0 auto;
		&:hover {
			cursor: pointer;
			background-position: center -92px;
		}
	}

}

.text-center > .toolbar-icons-button .toolbar-icons:before {
	margin-left:-10px;
}

//Tabs 

//Tabs steps
.tabs-steps {
	list-style: none;
	clear:both;
	width:100%;
	float:left;
	margin:10px 0 20px;
	display:table;
	li {
		font-size:12px;
		display:table-cell;
		background-color:@light-gray;
		ligh:0;		
		padding:10px;
		color:#888;
		a {			
			color:#888;
		}
		&.active {
			color:white;
			background-color: @alert;
			a, a:hover, &:hover a {
				color:white;
			}
		}
		&:hover {
			a {
				color:#333;
			}
		}
	}
}

.tabs {
	list-style: none;
	background-color:white;
	width:100%;
	height:30px;
	line-height:30px;
	vertical-align: middle;
	float:left;
	border-right: 1px solid #FFFFFF;
	border-bottom:1px solid @gray;
	li {
		float:left;
		margin:0 10px 0 0;		
		background-color:mix(@dark-gray, white, 50%);
		border-color:mix(@dark-gray, white, 50%);		
		border-bottom:none;
		a {
			color:white;
			display:block;	
			padding:0 10px;		
		}
		&.tabActived {
			background-color:@gray;
		}
		&:hover {
			background-color:mix(@dark-gray, white, 50%);
			border-color:mix(@dark-gray, white, 50%);
		}
	}

}

//Pagination

.sitemgr-pagination {
	clear:both;
	float:left;
	width:100%;
	margin-bottom:200px;
	&.top-pagination {
		border-bottom:1px solid @border;
		padding:15px 0 5px;
		height:20px;
		color:#333;
		font-size:12px;
		margin-bottom:25px;
		.pagination-char {
			float:left;
			a {
				color:#333;
				padding:2px 4px 0 0;
				&:hover {
					color:@info-hover;
					}
				}
		}
		.pagination-results {
			float:right;
		}
	}
	&.bottom-pagination {
		ul {
			list-style:none;
			float:right;
			margin:30px 0 10px;
			li {
				float:left;
				margin-left:8px;
				font-size:12px;
				line-height:15px;
				a {
					padding:6px 8px;
					min-width:10px;
					background-color: @light-gray;
					color:#333;
					border-radius:4px;
					display: block;
    				min-width: 10px;
    				text-align: center;
					&:hover {
						color:white;
						background-color:@gray;
					}
					&.active {						
							color:white;
							background-color:@info;
							font-weight:bold;						
					}					
				}
				&.disabled {
						a {
							color:mix(@gray, white, 40%);
							background-color:@light-gray;
						}
					}				
			}
		}
	}
}


//Buttons 

.stmgr-btn, a.stmgr-btn {
	padding:7px 30px;
	height:30px;
	line-height:15px;
	font-size:12px;
	text-transform: uppercase;
	font-weight:bold;
	color:white;
	cursor:pointer;
	background-color:@info;
	&:hover, &.active, &:active, &:focus {
		background-color:@info-hover;
	}

	&.success {
		background-color: @success;
		&:hover {
			background-color: @success-hover;
		}
	}
	&.large {
		display:block;
		height:20px;
		line-height:20px;
	}
}

.viewAllItems {
	float:right;
	padding:0 10px;
	font-weight:normal;
	a {
		color:white;
		&:hover {
			text-decoration:underline;
		}
	}
}



