.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text-inline-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-box {
  width: 1000px;
  margin: 0 auto;
}
body {
  background-color: #f2f2f2;
}
body .wrapper div.content {
  background-color: white;
  margin-top: 0;
  display: block;
  position: relative;
  height: 100%;
  min-height: 100%;
  border: 1px solid #ced4d5;
  padding: 20px 0 100px;
}
.small-header {
  background-color: #3a3a3a;
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: 13px;
}
.small-header .brand {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  padding: 0 20px 0 0;
  margin: 8px 10px 0 0;
  color: white;
  border-right: 1px solid black;
  width: auto;
  vertical-align: top;
  display: inline-block;
}
.small-header .brand .logo a {
  float: left;
  color: white;
}
.small-header .brand .logo a:hover {
  color: #3498db;
}
.small-header .brand .logo a img {
  height: 36px;
  max-height: 36px;
}
.small-header ul,
.small-header ol {
  list-style: none;
}
.small-header .nav-header {
  display: inline-block;
  vertical-align: middle;
}
.small-header .nav-header li {
  display: inline-block;
}
.small-header .nav-header li a {
  color: white;
  line-height: 50px;
  padding: 17px 10px;
}
.small-header .nav-header li a:hover {
  color: #3498db;
}
.small-header .nav-header li.nav-highlight {
  background-color: #2980b9;
}
.small-header .nav-header li.nav-highlight a {
  padding: 25px 40px;
  line-height: 50px;
}
.small-header .nav-header li.nav-highlight:hover {
  background-color: #3498db;
}
.small-header .nav-header li.nav-highlight a:hover {
  color: white;
}
.small-header .nav-header li.title-dropdown a:hover {
  color: white;
}
.small-header .nav-header li.title-dropdown .nav-dropdown a:hover {
  color: #3498db;
}
.small-header .nav-header .nav-dropdown {
  display: none;
}
.small-header .nav-header.nav-right {
  float: right;
}
.small-header .nav-header.nav-right .nav-dropdown {
  margin-left: -173px;
}
.title-dropdown hr {
  border-bottom: 1px solid #3a3a3a;
  margin: 10px 0;
}
.title-dropdown .nav-header {
  color: #bbbbbb;
  line-height: 26px;
}
.title-dropdown:hover {
  background-color: #555555;
}
.title-dropdown:hover > .nav-dropdown {
  display: block;
}
.title-dropdown .nav-dropdown {
  position: absolute;
  z-index: 999;
  background-color: #555555;
  color: white;
  padding: 10px 15px;
}
.title-dropdown .nav-dropdown > li {
  display: block;
  min-width: 190px;
}
.title-dropdown .nav-dropdown > li a {
  line-height: 30px;
  padding: 2px 0;
  display: block;
}
.sitemgr-footer {
  background-color: #3a3a3a;
  bottom: 0;
  height: 110px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 0.75em;
}
.sitemgr-footer a {
  color: #3498db;
}
.sitemgr-footer a:hover {
  color: #2980b9;
}
.sitemgr-footer .backLinks,
.sitemgr-footer .footer-copyright {
  width: 50%;
  margin: 25px 0;
}
.sitemgr-footer .backLinks {
  float: left;
}
.sitemgr-footer .backLinks a {
  display: block;
}
.sitemgr-footer .footer-copyright {
  text-align: right;
  float: right;
}
.listing.topLink > a:before {
  content: "»";
  margin-right: 10px;
}
.listing.topLink > a.noBorder:before {
  content: " ";
  width: 7px;
  display: inline-block;
}
[class*="sitemgr-icon"] {
  background-image: url(images/sitemgr-icons.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: inline-block;
}
.sitemgr-icon-gear {
  background-position: 0 0;
  margin: 0 5px -3px;
}
.sitemgr-icon-gear-gray {
  background-position: 20px 0;
}
.sitemgr-icon-arrow-up {
  background-position: 0 -68px;
}
.sitemgr-icon-arrow-down {
  background-position: 0 -45px;
}
.text-center {
  text-align: center;
}
input,
textarea,
select {
  border: 1px solid #DCE0E1;
  padding: 4px;
  width: 98%;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
input[type="checkbox"],
input[type="radio"] {
  border: none;
  vertical-align: text-bottom;
  height: 16px;
  width: auto;
}
button {
  background-color: #2980b9;
  color: white;
  padding: 7.5px 30px;
  line-height: 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  background-color: #3498db;
}
.form-builder {
  text-align: left;
  font-size: 13px;
}
.form-builder a {
  color: #2980b9;
}
.form-builder a:hover {
  color: #3498db;
}
.form-builder ul,
.form-builder ol {
  list-style: none;
}
.form-builder .frmb-control {
  margin: 18px 0;
}
.form-builder select,
.form-builder input,
.form-builder textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
  padding: 5px;
  border: 1px solid #d5d9db;
  font-size: 13px;
  margin: 7.5px 5px;
}
.form-builder select {
  padding: 4px 5px;
  line-height: 13px;
}
.form-builder input[type="checkbox"],
.form-builder input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
}
.form-builder label {
  display: inline-block;
  font-size: 13px;
  padding: 0 10px 0 0;
  min-width: 10%;
  max-width: 27%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form-builder .frmb-control {
  width: 28%;
}
.form-builder ul.frmb > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #d5d9db;
}
.form-builder ul.frmb > li strong {
  font-size: 13px;
}
.form-builder ul.frmb > li .legend {
  padding: 8px 10px 8px 40px;
  background: url(images/icon-bars.png) no-repeat 10px 10px #f5f5f5;
}
.form-builder ul.frmb > li .legend a {
  font-size: 12px;
  float: right;
  padding: 0 10px;
}
.form-builder ul.frmb > li .legend:hover {
  cursor: move;
}
.form-builder ul.frmb > li .frm-holder {
  padding: 10px;
}
.form-builder ul.frmb > li .false-label {
  display: inline-block;
  font-size: 13px;
  margin: 11.2px 10px 0 0;
  vertical-align: top;
  min-width: 10%;
}
.form-builder ul.frmb > li .fields {
  width: 80%;
  display: inline-block;
}
.form-builder ul.frmb > li .fields input[type="text"] {
  max-width: 80%;
  width: 100%;
  margin-left: 30px;
}
.form-builder ul.frmb > li .fields input[type="radio"],
.form-builder ul.frmb > li .fields input[type="checkbox"] {
  margin-right: -18px;
}
.form-builder ul.frmb > li .add-area {
  padding-left: 33px;
  line-height: 40px;
}
.form-builder ul.frmb > li .add-area a {
  color: #27ae60;
}
.form-builder ul.frmb > li .frm-fld input[type="text"],
.form-builder ul.frmb > li .fld-title input[type="text"],
.form-builder ul.frmb > li .frm-elements > input[type="text"] {
  width: 100%;
  max-width: 70%;
}
.form-builder ul.frmb > li:hover {
  border-color: #3498db;
}
.form-builder .frmb-submit {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  float: right;
  font-size: 12px;
  font-weight: bold;
  width: 130px;
  height: 33px;
  margin-top: 15px;
}
.form-builder .frmb-submit:hover {
  cursor: pointer;
  background-color: #3498db;
}
.submenu ul {
  list-style: none;
  border-top: 1px solid #DCE0E1;
  border-bottom: 1px solid #DCE0E1;
  width: 100%;
  float: left;
  margin: 10px 0;
}
.submenu ul li {
  float: left;
  padding: 10px 0;
}
.submenu ul li:hover,
.submenu ul li.submenu_active {
  background-color: #f7f7f7;
}
.submenu ul li:hover a,
.submenu ul li.submenu_active a {
  color: #333;
}
.submenu ul li a {
  color: #2980b9;
  font-size: 12px;
  padding: 10px;
}
.submenu ul li a:hover {
  color: #333;
}
.chooseDomainDropDown {
  margin: 10px 0;
  float: none;
  margin: 0 auto 20px;
  width: 190px;
  text-align: left;
}
.chooseDomainDropDown p {
  padding: 0 0 5px 0;
  font-size: 12px;
  color: #333;
}
.chooseDomainDropDown select {
  border: 1px solid #DCE0E1;
  width: 100%;
  padding: 5px;
}
.bulkupdate-box {
  margin: 10px 0;
  float: left;
  width: 100%;
  clear: both;
  text-align: left;
  font-size: 12px;
}
.bulkupdate-box .bulkUpdate {
  text-transform: uppercase;
  text-decoration: underline;
  color: #2980b9;
}
.bulkupdate-box .bulkUpdate:hover {
  color: #3498db;
}
.bulkupdate-box .stmgr-btn {
  margin: 10px 0 0 146px;
}
.bulkupdate-box .bulkupdate-form {
  background-color: #f7f7f7;
}
.bulkupdate-box .bulkupdate-form .table-bulkupdate {
  margin-bottom: 20px;
  padding: 20px 10px;
}
.bulkupdate-box .bulkupdate-table th {
  text-align: right;
  font-weight: normal;
  color: #333;
  min-width: 130px;
}
.bulkupdate-box .bulkupdate-table td {
  padding: 10px;
}
.bulkupdate-box .bulkupdate-table td span {
  margin: 0 20px;
  color: #777;
}
.bulkupdate-box .bulkupdate-table select,
.bulkupdate-box .bulkupdate-table input {
  border: 1px solid #DCE0E1;
  padding: 4px;
}
.bulkupdate-box .bulkupdate-table input[type="checkbox"] {
  margin-right: 10px;
  border: none;
}
.bulkupdate-box div.table_accounts table th {
  background-color: transparent;
  font-size: 12px;
}
.table-itemlist {
  border-collapse: collapse;
  padding: 0;
  margin: 0 0 10px 0;
  width: 100%;
  float: left;
  clear: both;
  text-align: left;
}
.table-itemlist th {
  background-color: #555555;
  border-bottom: none;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 8px;
  white-space: nowrap;
  word-wrap: break-word;
  text-align: left;
}
.table-itemlist th.text-center {
  text-align: center;
}
.table-itemlist tr {
  border: 1px solid #DCE0E1;
}
.table-itemlist tr:nth-child(2n) {
  background-color: #f7f7f7;
}
.table-itemlist td {
  font-size: 11px;
  padding: 8px;
}
.table-itemlist td p {
  word-wrap: break-word;
}
.table-itemlist td a {
  color: #333;
}
.table-itemlist td a:hover {
  color: #3498db;
}
.table-itemlist td a.link-table {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 85px;
  display: inline-block;
}
.table-itemlist td input[type="checkbox"],
.table-itemlist td > div {
  display: inline-block;
}
.table-itemlist td.main-options a {
  color: #2980b9;
  text-transform: uppercase;
}
.table-itemlist td.main-options a:hover {
  color: #3498db;
}
.table-itemlist td.main-options a.link-table {
  display: inline-block;
  margin-bottom: -3px;
  max-width: 110px;
}
.table-itemlist td.main-options b {
  color: #2980b9;
}
.table-itemlist td span em {
  color: #888;
}
.table-itemlist .standard-innerTable {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}
.table-itemlist .standard-innerTable th {
  color: #333;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #DCE0E1;
}
.table-itemlist .standard-innerTable .tableTitle {
  background-color: #f7f7f7;
}
.table-itemlist .standard-innerTable tr {
  background-color: white;
}
.table-itemlist .standard-innerTable td {
  border: 1px solid #DCE0E1;
}
.table-itemlist .innerTable tr {
  background-color: white;
  border: none;
}
.table-itemlist .inputCheckBulk .inputCheck,
.table-itemlist .inputCheckBulk > div {
  display: inline-block;
  vertical-align: middle;
}
.table-itemform {
  width: 100%;
  background: white;
}
.table-itemform tr,
.table-itemform tr:nth-child(2n) {
  background-color: white;
}
.table-itemform tr th,
.table-itemform tr:nth-child(2n) th {
  color: #3a3a3a;
}
.table-groupform {
  border-collapse: collapse;
  padding: 0;
  margin: 0 0 10px 0;
  width: 100%;
  float: left;
  clear: both;
  text-align: left;
}
.toolbar-icons-button {
  position: relative;
  width: 20px;
  margin: 0 auto;
}
.toolbar-icons-button .toolbar-icons {
  display: none;
  background-color: #FFFFFF;
  border: 1px solid #ECF0F1;
  margin-left: -75px;
  margin-top: 22px;
  position: absolute;
  min-width: 170px;
  z-index: 999;
  box-shadow: 0 2px 4px #DEDEDE;
}
.toolbar-icons-button .toolbar-icons:before {
  border-color: transparent transparent #2980B9;
  border-style: solid;
  border-width: 10px;
  content: "";
  margin-left: 74px;
  position: absolute;
  top: -17px;
}
.toolbar-icons-button .toolbar-icons ul {
  list-style: none;
  padding: 5px 10px;
  border-top: 3px solid #2980B9;
}
.toolbar-icons-button .toolbar-icons ul li {
  display: block;
  border-top: 1px solid #DCE0E1;
  padding: 7px 9px;
  color: #888;
}
.toolbar-icons-button .toolbar-icons ul li:first-child {
  border: none;
}
.toolbar-icons-button .toolbar-icons ul li a {
  color: #2980b9;
}
.toolbar-icons-button .toolbar-icons ul li a:hover {
  color: #3498db;
}
.toolbar-icons-button .toolbar-icons ul li a.disabled {
  color: #888;
}
.toolbar-icons-button .toolbararrow {
  background: url(images/sitemgr-icons.png) no-repeat center -21px transparent;
  height: 16px;
  width: 20px;
  margin: 0 auto;
}
.toolbar-icons-button .toolbararrow:hover {
  cursor: pointer;
  background-position: center -92px;
}
.text-center > .toolbar-icons-button .toolbar-icons:before {
  margin-left: -10px;
}
.tabs-steps {
  list-style: none;
  clear: both;
  width: 100%;
  float: left;
  margin: 10px 0 20px;
  display: table;
}
.tabs-steps li {
  font-size: 12px;
  display: table-cell;
  background-color: #f7f7f7;
  ligh: 0;
  padding: 10px;
  color: #888;
}
.tabs-steps li a {
  color: #888;
}
.tabs-steps li.active {
  color: white;
  background-color: #d35400;
}
.tabs-steps li.active a,
.tabs-steps li.active a:hover,
.tabs-steps li.active:hover a {
  color: white;
}
.tabs-steps li:hover a {
  color: #333;
}
.tabs {
  list-style: none;
  background-color: white;
  width: 100%;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  float: left;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #555555;
}
.tabs li {
  float: left;
  margin: 0 10px 0 0;
  background-color: #9d9d9d;
  border-color: #9d9d9d;
  border-bottom: none;
}
.tabs li a {
  color: white;
  display: block;
  padding: 0 10px;
}
.tabs li.tabActived {
  background-color: #555555;
}
.tabs li:hover {
  background-color: #9d9d9d;
  border-color: #9d9d9d;
}
.sitemgr-pagination {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 200px;
}
.sitemgr-pagination.top-pagination {
  border-bottom: 1px solid #DCE0E1;
  padding: 15px 0 5px;
  height: 20px;
  color: #333;
  font-size: 12px;
  margin-bottom: 25px;
}
.sitemgr-pagination.top-pagination .pagination-char {
  float: left;
}
.sitemgr-pagination.top-pagination .pagination-char a {
  color: #333;
  padding: 2px 4px 0 0;
}
.sitemgr-pagination.top-pagination .pagination-char a:hover {
  color: #3498db;
}
.sitemgr-pagination.top-pagination .pagination-results {
  float: right;
}
.sitemgr-pagination.bottom-pagination ul {
  list-style: none;
  float: right;
  margin: 30px 0 10px;
}
.sitemgr-pagination.bottom-pagination ul li {
  float: left;
  margin-left: 8px;
  font-size: 12px;
  line-height: 15px;
}
.sitemgr-pagination.bottom-pagination ul li a {
  padding: 6px 8px;
  min-width: 10px;
  background-color: #f7f7f7;
  color: #333;
  border-radius: 4px;
  display: block;
  text-align: center;
}
.sitemgr-pagination.bottom-pagination ul li a:hover {
  color: white;
  background-color: #555555;
}
.sitemgr-pagination.bottom-pagination ul li a.active {
  color: white;
  background-color: #2980b9;
  font-weight: bold;
}
.sitemgr-pagination.bottom-pagination ul li.disabled a {
  color: #bbbbbb;
  background-color: #f7f7f7;
}
.stmgr-btn,
a.stmgr-btn {
  padding: 7px 30px;
  height: 30px;
  line-height: 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #2980b9;
}
.stmgr-btn:hover,
.stmgr-btn.active,
.stmgr-btn:active,
.stmgr-btn:focus,
a.stmgr-btn:hover,
a.stmgr-btn.active,
a.stmgr-btn:active,
a.stmgr-btn:focus {
  background-color: #3498db;
}
.stmgr-btn.success,
a.stmgr-btn.success {
  background-color: #27ae60;
}
.stmgr-btn.success:hover,
a.stmgr-btn.success:hover {
  background-color: #2ecc71;
}
.stmgr-btn.large,
a.stmgr-btn.large {
  display: block;
  height: 20px;
  line-height: 20px;
}
.viewAllItems {
  float: right;
  padding: 0 10px;
  font-weight: normal;
}
.viewAllItems a {
  color: white;
}
.viewAllItems a:hover {
  text-decoration: underline;
}
