/**
* eDirectory - Advertise Page
*
* @package			layout
* @filesource		advertise.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
*/


/* #Preview*/
.level-preview {
	background-color:#fff;
}

.level-preview .level-detail, 
.level-preview .level-summary {
	padding:10px;
}

.level-preview .summary-small .listing-tag-deal,
.level-preview .summary-small .deal-tag-small {
    margin-right: -2.5%;
}

.level-preview .summary-small {
	width:65%;
}


.level-preview .level-detail .row-fluid.detail-deal {
    width: 150%;
}

.level-preview .level-detail .detail-deal .content-social-box > div {
    float:none!important; display:inline-block;
}

.previewmember .advertisement > h2 {margin-bottom:20px; text-align:right;}
.previewmember .advertisement > h2 > span a {color:#fff;margin-right:10px;}
.previewmember .advertisement > h2 > span a:hover {text-decoration: underline;}