/**
* eDirectory - Advertise Page
*
* @package			layout
* @filesource		advertise.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
*/

/* #Contents*/
.content.content-full { border: 1px solid #dddddb;background-color:#fff; }


/* #Tabs*/
.tabs {border-bottom: 1px solid #ddd; font-size:12px;}

.tabs > .active > a, .tabs > .active > a:hover { color: #555555; text-shadow:0 0 0 #858585;  background-color: #ffffff; border: 1px solid #ddd; border-bottom-color: transparent;}

.tabs > li > a {border-radius: 4px 4px 0 0; border-color:#c2c3c3; background-color:#c2c3c3; color:#fff; font-weight:600; text-shadow: 0px 1px 1px #858585;}
.tabs > li > a:hover{background-color:#afb0b0;border-color:#afb0b0;}

.nav > .active > a:focus, .nav > li > a:focus  {background-color:#fff;}

.tabs > .active > a:hover, .nav > .active > a:focus {background-color:#ddd;}

/* #Tabs Levels */

.tabsLevels {   text-align: center;}

.tabsLevels h2{padding:0 10px; text-transform: uppercase; color:#749116; font-weight: 600;}
.tabsLevels .active h2, .tabsLevels .active h2:hover{color:#000; cursor: default;}
.tabsLevels h2:hover{color:#999; cursor:pointer;}
.level-info {padding:10px;}
.level-info p { font-size:11px;line-height:20px;}
.level-info .price{font-weight:600; font-size:14px;padding:15px 0;}

.preview-desc {border-bottom:1px solid #dedede; font-style: italic; margin: 0 0 17px; padding: 10px 0;}

.level-summary .summary-small .name-tag-deal, .level-summary .summary-deal.summary-small .name-tag-deal.soldout {padding:12px; font-size:16px;background: url(images/iconography/listing-tag-deal-slice.png) repeat-x 0 0;}
.level-summary .summary-deal.summary-small .name-tag-deal {padding:6px 12px;}

.ie .summary-small .rate-stars {margin-top:-1px; width:105px;}

/* #Fix for Sitemgr Preview*/
.level.level-preview {background-color: #fff;width: 99.3%;float: left;}


.level-detail,.level-summary {width: 100%; max-width:1020px; margin:0 auto;}
.level-detail .sidebar {padding:0 0 2% 0}

.row-fluid.detail-deal { width: 136.8%;}
.detail-deal .content-social-box {margin: 0% 0 8%;}
.detail-deal .map {margin:0;}