/**
* eDirectory - Members Section
*
* @package			layout
* @filesource		members.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
*/

/* #Typography */
blockquote {font-size:11px;}
            
h2 { font-size:16px; font-weight:600;text-transform: capitalize;line-height: 32px;}
.standardSubTitle  { font-size:14px; font-weight:600;line-height: 32px;}
.content > h2 {border-bottom:4px solid #50650b;width: 101.6%;}
.content.content-full > h2 { border-bottom: 4px solid #50650B;  margin-left: -19px;  padding-left: 14px;  padding-right: 9px;  width: 101.6%;}
.cont_100 > h2 {margin-left:1%;}

.memberMenu h2 	{   background: none repeat scroll 0 0 transparent;  border: medium none; box-shadow: none;  font-size: 12px;  font-weight: 400;  line-height: 24px;}
.memberMenu li {font-size:11px;}

p.warningBOXtext {padding:10px; font-size:11px; color:#888;}

a:focus, a:active {border:none; outline: none;}

strong {font-weight:600;}
.member-form label > em {  color: #999999;  font-size: 10px;  font-style: normal;  font-weight: 400;}

.wrapcaption {font-size:12px;}

/*Login Options*/
.complementaryInfo {font-size:10px;line-height:14px;font-weight: 600;}
.loginComplementaryInfo {text-align:center;}



/* #User Info*/
.user-info .no-image { background: url("images/iconography/icon-user.gif") no-repeat scroll center center #E7E8E8; border: 4px solid #CCCCCC; border-radius: 50px 50px 50px 50px;
    float: left;    height: 80px;    margin: 0 10px 10px 0;    width: 80px;}


/* #Dynamic Content */
.dynamicContent p{font-size:12px; line-height:1.5; color:#666;}


/* Buttons*/
a.input-button-form, a.input-button-form{color:#fff;}
a.input-button-form:hover, a.input-button-form:hover {color:#496315;  background-color: #a3c821; border:1px solid #889c40; box-shadow: 1px 1px 1px #c6d6a6 inset;}

a.ImageEditCaptions , a.ImageDelete, a.mainImageLink, a.mainImageLinkBK {color:#fff; border-radius:4px; padding:1px 3px;  background-color: #eb853b; border:1px solid #9f5d29; box-shadow: 1px 1px 1px #f1ad7c inset; margin:2px 4px;}
a.ImageEditCaptions:hover , a.ImageDelete:hover, a.mainImageLink:hover, a.mainImageLinkBK:hover  {color:#fff;  background-color: #ce7635; border:1px solid #9f5d29; box-shadow: 1px 1px 1px #f1ad7c inset;}
a.mainImageLink { background-color: #f8a96f; border-color:#d58444; box-shadow: 1px 1px 1px #f1ad7c inset;}

.input-button-form {padding: 6px 35px!important; border:1px solid #749116!important;} /*Fix the inline style */

#img_customtime {padding:10px;display: inline;}

p.standardButton {text-align: center;margin: 15px 20px;display:inline;}


/*Warning Box*/
table.warningBOXtext {color:#555; font-size:11px;background-color: #F9F9F9;  border: 1px solid #EEEEEE;  color: #555555;  font-size: 11px;}
table.warningBOXtext tr {display: block; padding: 15px 20px;}


/* #Gallery*/
.mainImageGallery {background-color:#c2da78;padding-bottom:10px;}

/*Warning Box to Pay*/
a.warningBOXcontent {color:#fff;font-size:16px; font-weight:600;border-radius:4px; padding:5px 20px; margin-left: 20px; background-color: #A3C821; border:1px solid #749116; box-shadow: 1px 1px 1px #c6d6a6 inset;}
a.warningBOXcontent {font-size:13px; font-weight:600;}
a.warningBOXcontent:hover {background-color: #749116; border:1px solid #749116; }
.warningBOX td a{display:none;}
.warningBOX td{margin-left:-10px;}


/* # ALL Standard Table
*/


[class*="standard-table"] { color:#494949; background-color:#f2f2f1;}
[class*="standard-table"] tr { border:1px solid #ddd;}
.ie7 [class*="standard-table"] td, .ie7 [class*="standard-table"] th { border:1px solid #ddd;}
[class*="standard-table"] table tr { border:none;}
[class*="standard-table"] i span {font-size:9px;font-style:normal;color:#999;}

/* #Only STandard-table*/
.standard-table th { font-weight:400; font-size:11px;}
.standard-table td span { font-size:10px;}
.standard-table .tableOption {text-align:left;padding-left: 15px}
.standard-table.tabsTable {background-color:transparent;border:none;}
.standard-table.tabsTable tr {background-color:transparent;border:none;}


/*Standard Table Title*/
.standard-table .standard-tabletitle {background-color: #E9E9E8;  font-size: 13px;  padding: 6px 0 6px 15px; text-align: left; font-weight:600;}
.standard-table .standard-tabletitle span { font-size: 10px; font-weight:400; display:inline!important;}


/* #Standard Table Top Blue*/
.tableTOPBLUECheck { background-color: #EEEEEE;  border: 1px solid #DDDDDD;}
tableTOPBLUECheck td {text-align:left;}

.standard-tableTOPBLUE {border:1px solid #dbdbdb; background-color:#fff; text-align:center;}
.standard-tableTOPBLUE th { background-color:#e9e9e8; font-weight:600;}
.standard-tableTOPBLUE td, .standard-tableTOPBLUE th {border: 1px solid #DBDBDB;}
.standard-tableTOPBLUE th {color:#000;}
.standard-tableTOPBLUE .innerTable td {border-left: none;}
.standard-tableTOPBLUE .hideForm td {border:none;}
.standard-tableTOPBLUE.arrow-manage {font-size:10px;}

/* Table Level */
.levelTable th, .levelTable td {font-weight:600; font-size:13px; text-align:center;}
.levelTitle {background-color:#9bc11c;color:#fff;}
.levelTopdetail {background-color:#96b336;color:#fff; }
.levelTable .tableOption {text-align:left;background-color:#d6e899;}

.levelTable .tableOption a {color:#666;} .levelTable .tableOption a:hover {text-decoration:underline;}
.levelTable .tableOption a:before {background: url("images/iconography/glyphicons-halflings.png") no-repeat scroll -25px -45px transparent;  content: "";  display: block; height: 18px; width: 16px; float:left; opacity:0.7}
.levelTabe table {color:#888;}

/* #Standard Inner Table*/
.standard-innerTable {width: 98%; border: 1px solid #ccc;margin: 1%;}

.standard-innerTable td, .standard-innerTable th{border: 1px solid #ccc;}

/* #Standard Table One Background
    Principal information
*/
.onebackground { }
.onebackground .bigger { border-bottom:1px solid #ddd;}

/*Payment Method*/

.standardChooseLevel td {border-bottom:none;}

/* #Table Payment Method*/
[class*="standard-table"] .paymentMethods td {border:none; font-size:10px;}

/* #Table Categories */
.tableCategoriesTITLE {background-color:#E9E9E8;}
.tableCategoriesTITLE strong {font-weight:600;}

/* #Tree-view Special */
.categoryTreeview {background-color:#fff; border-radius:4px; border:1px solid #dedede;}


/*#Sidebar*/
.sidebar > h2 {margin-top: 15px; background-color: transparent;    border:none; border-bottom:4px solid #a3c821; box-shadow: none;  color: #505050;  font-size: 14px;  text-transform: capitalize;}
.sidebar > h2:first-child {margin-top: 0;}

.sidebar p {  line-height: 17px;  padding:0;}

.sidebar .user-info img {    border: 3px solid #F1F1F1; border-radius: 50px 50px 50px 50px; box-shadow: 0 0 2px #555555;}
.ie .sidebar .user-info img {    border: 3px solid #ccc; }

.user-info p {font-size:14px; font-weight:600;display:block;  }
.user-info p span {font-size:12px; font-weight:400; display:block;margin-bottom:10px;}
.user-info p a {font-size:12px; font-weight:400;}
.user-info p a:hover {text-decoration:underline;}
.user-info .edit { font-style:italic; }

/* Profile Tabs*/
.profile-tabs, .tabs {border-bottom: 1px solid #ddd; font-size:12px;}


.profile-tabs > .active > a, .tabs > .tabActived > a{ color: #555555; text-shadow:0 0 0 #858585;  background-color: #ffffff; border: 1px solid #ddd; border-bottom-color: transparent;}
.profile-tabs > li > a, .tabs > li > a {border-radius: 4px 4px 0 0; border-color:#c2c3c3; background-color:#c2c3c3; color:#fff; font-weight:600; text-shadow: 0px 1px 1px #858585;}
.profile-tabs > li > a:hover, .profile-tabs > li > a:focus, .tabs > li > a:hover, .tabs > li > a:focus {background-color:#afb0b0;border-color:#afb0b0;}

.ie .profile-tabs > .active > a, .profile-tabs > .active > a:hover, .ie .tabs > .tabActived > a, .tabs > .tabActived > a:hover {background-color:#ddd;}


/* MEMBERS Manage Account Form */
	.member-form {border:1px solid #ddd;font-size:12px;}	
	.member-form label{font-size:12px;cursor: default;}	
	.member-form .right {background-color:#fff; border-left:1px solid #d7d7d7;}
	.member-form .left a {line-height: 20px;}
	.member-form .left span {font-size:11px; font-weight:normal; line-height:14px; color:#696969;}
    
   
    blockquote.high {background-color: #f9f9f9;}
	
	blockquote.low {background-color: #fafafa;}
	
	a.remove {background: url(images/iconography/bg_switch_close.gif) no-repeat center; }
	
	.member-activity .activity {background-color:#fafafa; border:1px solid #ccc; border-bottom: none; line-height: 20px;font-size: 12px;}
	.member-activity .option {background-color:#e1e1e1;border:1px solid #ccc; line-height: 10px;font-size: 10px;}
 
    
 /* Step Box*/
 
 .stepsBox { display:inline-block; margin-bottom:25px;width: 103%; }
.stepsBox p 	{ color:#333; margin-bottom:10px; text-align:center; font-size:14px; height:30px;}

.stepsBox span 	{ color:#898989; font-size:10px; font-style:italic; line-height:20px; }

.sugarFirstStep {background-color:#e1e1e1;}
.sugarSecondStep {background-color:#ededed;}
.sugarThirdStep {background-color:#f2f2f2;}