/**
* eDirectory - Result Pages ( Modules )
*
* @package			layout
* @filesource		results.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			October, 17, 2011
*			
*/

/* #Map
*/

div.map {height: 550px;  margin: 15px 0 20px 0; width: 99.75%; }
div.map > div { height: 96.8% !important;  margin: 0.7%;  width: 98.6% !important;}   
    
.content-results-filters div.map > div {height: 98.8% !important; margin: 0.5%; width: 99.1% !important;}

.noresults {margin-top:5px; color:#5E5E5E;}

/* #Content and Sidebar*/
.content-results-filters { float: right; padding: 0 0 2% 0%;  width: 69.3%;}
.content-results-filters .resultsMessage { margin-left: -44.5%;  margin-top: 5px;  width: 146.5%;}

.sidebar.sidebar-filters {float:left; width:28.7%; margin-left:0;padding:0;}

.sidebar-filters h2 {margin:0 0 1px;}
.sidebar-filters h3 { height: 30px; line-height: 30px;  margin: 0 0 1px;    padding: 0 10px 0 11px;}
.sidebar-filters .item-filter .item-select {margin:10px 0;}
.sidebar-filters .item-select li { padding: 1px 0; line-height:20px;margin-left: 15px;}
.sidebar-filters .item-filter h3 a { float: right;line-height: 28px;margin: 3px -4px 0 0;padding-left: 10px;}

.ie7 .sidebar-filters .item-filter h3 a {margin-top:-30px;}
.ie7 .sidebar-filters .item-select li { padding: 0px 0; line-height:20px; margin-left: 5px;}

.sidebar-filters .checkbox {margin-right:20px; padding-left:0; height: 20px;}

#list_rating .checkbox, #list_price .checkbox, #list_deal .checkbox, #list_week_filter .checkbox {margin:0 4px 0 0;padding-left:0;}
#list_deal .checkbox {margin:0 8px 0 0;}

#list_category, #list_location  { overflow-y: auto;margin:10px;}
#list_category label, #list_location label  {font-size: 11px; width: 177px;}
#list_category .child label, #list_location .child label  {display: inline-block; width: 150px;}
#list_category li, #list_location li  {padding-left:10px;margin-left:0; position:relative;}

 
#list_category .checkbox,
#list_location .checkbox
{position:absolute; right:0;}

#list_category a.icon-caret-down, #list_category a.icon-caret-right,
#list_location a.icon-caret-down, #list_location a.icon-caret-right 
{position:absolute; right:0;}

.sidebar-filters a.icon-caret-down, .sidebar-filters a.icon-caret-right { font-size: 15px; margin: 2px 0 0 -23px;}
.sidebar-filters label  {display: inline-block; width: 200px;}

.sidebar-filters .child {margin-left:0;}

.sidebar-filters .item-select img  {width:17px;margin: 0 -2px 0 1px;}
   
.content .bottom-pagination { float: left;  margin-left: -2%;  width: 105%;}
.content .bottom-pagination-listing { float: left;   width: 100%;}

.ie7 #list_category label, .ie7 #list_location label  {float:left;width:150px; height:20px;overflow: hidden;}
.ie7 #list_category li, .ie7 #list_location li  {border-top:1px solid #eaeaea; }

/* #Summary View */	

.summary {margin-bottom: 3%; padding: 1.9% 2% 2.1% 1.9%; width: 96%;}
.summary-small {width: 96.7%; clear:both; padding: 1.9% 1.3% 1.3% 1.3%;}


.summary .navicons .share-social {padding: 3px 0 0;}
.summary .share-social, .summary .share-actions  {display:inline-block;}

.summary .share-social li, .summary .share-actions li {display:inline-block;float:right;margin:4px 4px -4px; font-size:11px; line-height: 16px;}
.summary .media, .media .media { margin-top:0;}
.summary .media .span4.text-right { padding-top: 5px;} 
.summary-image {width: 35%;display: block;}		

.summary-small .summary-image {width: 100%;display: block;}	
.summary-small p.claim {margin-top:5px;}
    
.ie7 .summary-image {float:left;}	
.summary-image .image > img { width: 100%;}	
.ie7 .summary-image .image > img, .ie7 .image.summary-image  img {width: 96%;}		

.ie .row-fluid.line-footer {padding-top:3px;}

/* #Sumary View items 
	* Image
	* Description
	* Rate
	* Share
	* Badges
	* Map
*/
	.summary-image  img, .summary-image .no-image	{ float:left; display:block; margin:20px 10px 0 0;}
	
    .summary-small .summary-image  img, 
    .summary-small .summary-image .no-image,
    .summary-deal .summary-image  img, 
    .summary-deal .summary-image .no-image
    { margin:4px 0 2px;}
    
	.summary-small address { line-height: 15px;height:60px;}
	.summary-deal address {padding-top:6px;}
    
	.summary .media-body 	{margin-top:18px;}
	.summary-small .media-body, .summary-deal .media-body 	{margin-top:0;}
	
    .listing-tag-deal, .deal-tag-small, .deal-tag { float: right;  height: 44px;  padding-left: 17px; text-align: right;margin-right: -1.6%; margin-top: -4.2px;}
    
    .summary-deal .name-tag-deal.soldout { padding: 12px;line-height:20px; font-size:16px}
    .name-tag-deal { padding: 12px;}
    .summary-deal .name-tag-deal { padding: 6px 12px; line-height:16px;}
    
    .summary .summary-price {margin-top:8px; font-size:11px;}
    .summary .review-count {text-decoration:none;}
	.summary .rate p  {margin:0 5px;}	
	.summary .review b, .summary .rate p:before  { font-weight:300;color:#787878;text-decoration:none; font-size:12px;}	
	.summary .rate p:before  {content:"|"; margin-right:5px;}	
	.summary .badges {text-align:right;margin-top:6px;height:80px;}
    .summary .badges img { clear: both;float: left;margin-bottom:2px;}
	.summary .info {margin-top:10px;}
	.summary .poston {text-align:right;padding:10px 5px 0 0;}
    
    .summary-address {padding-bottom:3px; min-height:60px;}
    .summary-infodetail {min-height:65px;}
    .content-profile .summary-address { min-height:10px; padding-bottom:0;}
    
    .summary-contact.span12, .summary-contact.span9  {display:table;margin:0;}
    .summary-contact > div{display:table-cell;height: 30px; vertical-align:bottom; width:50%;}
    
    
    .button-send , .button-call {   clear: none; display: inline-block;  height: 20px; padding: 2px 4px 2px 0;  vertical-align: middle;  width: 20px;}
    .button-send { padding: 4px 4px 0px 4px;}
    .button-call {margin-left:-2px;}
    
    .level-preview .button-send { padding: 8px 6px 0px 4px;}
    .level-summary .deal-tag span {  float: none; line-height: 1}
     
    .claim {clear:both}
    
    .summary .line-footer {margin-top:15px;  max-height: 30px;}
    .summary .line-footer .span7.icons, .summary .line-footer .span5.icons{margin-left:2%;}    
    .ie .summary .line-footer .span7.icons{margin-left:0%;}    
    .ie .summary .line-footer .span6.icons{margin-left:0%;}    
    
    .line-footer .summary-icons {padding:2px 0; line-height:30px}
    .line-footer .summary-icons.checkin {padding:2px 5px 2px 0;}
    
    .line-footer .summary-icons, .line-footer .navicons, .rate > p, .rate-stars, .summary .line-footer .review .rate {display: inline;white-space:nowrap;}   
    .summary .line-footer .review {padding:5px 0 0 5px;line-height: 17px;font-size: 11px;}   

    
    .ie .rate-stars,  .ie .rate-stars a,  .ie .rate-stars img,  .ie .rate p {display:inline; white-space:nowrap;}   

    .ie .summary-small .rate-stars,  .ie .summary-small .rate-stars img,  .ie .summary-small .rate p {float:left; white-space:nowrap;}    
    .ie .summary-small .rate-stars {margin-top:-1px; width:100px;}
    .ie .summary-small .rate-stars a {width:25px;display:block;}
    .ie .summary-small .rate-stars img {width:18px;}

.ie7 .summary-icons, .ie7 .button-send, .ie7 .button-call, .ie7 .navicons {float:left;}
.ie7 .button-send , .ie7 .button-call  {margin-top:3px;}	 

.filter_load {text-align:center; margin:10px auto; width:80%;}
.filter_load img {clear:both;}
.filter_load p {font-size:11px;}


/* #Preview*/
.level-preview .summary-small {width:65%;}
.level-preview .summary-small .listing-tag-deal { margin-right: -2%;}

/*#Tab View*/
.content-results-filters .tabs li {display: inline-block;
    line-height: 12px;    max-width: 100px;    min-height: 13px;    padding: 8px 0px 10px 0px;    word-wrap: break-word;}

.content-results-filters .tabs li a {padding:7px 8px 8px 30px;}

.results-info-listing {margin:7px 0 15px;}
.search-info i {font-style:normal;}

.tabview-results {float: right;clear:both;width: 460px;}
.tabview-results > div > div{float: right; position: relative;margin-top: 4px;}

.tabview-results .filter-order label{display:none;}
.tabview-results .pagination {margin-top: 3px;}

.ie7 .content-results-filters .tabs li {float:left;margin-right:5px; }
.ie7 .content-results-filters .tabs li a{font-size:10px; }
.ie7 .content-results-filters .tabs {border:none;}
.ie7 .results-info-listing {float:left; clear:both; margin-top:5px;}
.ie7 .tabview-results {width:auto;margin-bottom:-50px;}
.ie7 .tabview-results .pagination {float:none;}
.ie7 .tabview-results .pagination .goto {padding-top:5px;}
/* #Media queries

	All changes when you want a responsive website
	
*/
@media (min-width: 978px) {
    .sidebar.sidebar-filters {display:block !important;}
}

@media (min-width: 768px) and (max-width: 979px) {
    
    .tabview-results {width:auto;}
    #list_category label, #list_location label { font-size: 10px; width: 110px;}
    #list_category .child label, #list_location .child label { font-size: 9px; width: 100px;}
    .sidebar-filters label {width: 160px;}

    .sidebar.sidebar-filters {display:block !important;}
    
    .line-footer .span6{width:100%; margin:auto;}
    .span6.text-right.icons, .review .rate {text-align:center;}
    
    .sidebar-filters .item-select {margin:8px 0 8px 10px;}
     
	.pagination {margin: 7px 0; width: 100%;}
	.summary .info .span4, .summary .info .span6, .summary .info .span2 {width:100%;margin-bottom:10px;}
    .summary .info .span2 {margin:10px 0 0 0;}
	.summary .info .badges {text-align:center;}
    
	.bottom-pagination .pages {  margin-left: 20%;	}
    
    
    .summary .summary-price {border-top:1px solid #dbdbdb; width: 100%;}
    
	.summary .media-body {  padding-top: 10px;}
    .summary-image  {width: 40%;}
    .summary .line-footer, .summary .line-footer .review , .summary .line-footer .text-right{ max-height:none; text-align:center; font-size:10px;}
    .summary .badges img {clear:none; float:none;}
    .summary .navicons .share-social {padding: 0 0 9px;}
    .summary-small .info .span4{width:44%;}
    .summary-small .info .span8{width:55%;margin-left:1%}
    .summary-small .row-fluid .span10 { width: 70%;}
    .summary-small .summary-address { float: left;min-height:0; padding:0;}
    .summary-small .info .span8 .pull-right { width: 75px; height:65px;}
    .summary-small .info .badges{ margin:0;}
    .summary-small .row-fluid .span9 {width: 100%;}  
    .summary-small address { height: auto; line-height: 15px; max-width: 170px; font-size: 10px;}
    .summary-contact > div { max-width: 170px;word-wrap:break-word;}
    .summary-small .media-body { padding-top: 0;}
    .summary .line-footer .review .rate {  display: inline;  float: none;}
   .summary .summary-price { padding-top: 3px;margin-bottom:-10px;}
    .claim {display:none;}
    
    .summary .button-send, .summary .button-call { margin-top: -18px;}
    
    #content_mapView div.map .map-loading {background-image:none;}
    
    
}

@media (max-width: 767px) {
    /*No Image*/
    .summary-deal .media .summary-image .no-image { display:none;}
    
    .sidebar.sidebar-filters,   
    .content-results-filters { float: none; width:95%; margin:10px auto; padding:0;}
    .sidebar.sidebar-filters, .sidebar.sidebar-filters h2 {display: none;}
    
    .content-full-results {float:none;}
     
    .btn.btn-inverse { float: right;margin-right: 2%;}

    #list_category, #list_location {max-height: none;}
    
    .summary .title {text-align:center;}
    .listing-tag-deal {margin-top:10px;}
    .pull-right.summary-price {float:left;}
    
    .summary-infodetail {min-height: 0;}

    
    .summary .line-footer {    margin-top: 15px; max-height: none;}
    .summary .line-footer, .summary .line-footer .review , .summary .line-footer .text-right{ max-height:none; text-align:center; font-size:10px;}
   
    
    .summary .badges, .summary-small address { height: auto;}
    .media .pull-left, .media .pull-right {margin-bottom: 0;} 
    .summary-address {margin:10px 0 5px;}

    .summary .row-fluid .span4, .summary .row-fluid .span8, .summary-address, .summary .span12, .summary .row-fluid  { min-height: 0;}
    .summary .line-footer .review {float:none; width: 100%;}
    .line-footer .summary-icons, .line-footer .navicons {display:none;}
    
    #content_mapView div.map .map-loading {background-image:none;}   
    .content-center div.map { height: 220px;}
     
    .summary-contact.span9 div { white-space: nowrap; word-wrap: break-word;}

    /*Deals*/
    .summary-deal .deal-tag-small {display:none;}
    
    .tabview-results, .summary .rate p, .summary .review b, .summary .review a, .button-send, .button-call, .fancy_window_iframe, .claim
    {display:none;}
       
    .content-results-filters .resultsMessage { margin-left: 0;  margin-top: 5px; width: 100%;}
    
    /*Filter*/   
    
    .sidebar-filters label {width: 100%;}
    #list_category label, #list_location label {width: 78%;}
    #list_category .child label, #list_location .child label {width: 76%;}
    
}

@media (max-width: 480px) {
.summary .badges { height: auto;max-width: 100%; text-align: center;  width: 100%;}
.summary .badges img {clear: none; float: none; margin-bottom: 0; max-width:30%; }

    
}


@media (max-width: 320px) {	    
    
}