/**
* eDirectory - Main System Structure
*
* @package			layout
* @filesource		structure.css
* @author			Arca Solutions
*			
*/

/**************************************************************************************************\
* Master Reset
* 
* Master Reset for all HTML elements
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button,
caption
{ border:none; margin:0; padding:0; outline: none; }

ol, ul 
{ list-style:none; }

:focus 
{ outline:none; }

table, tbody, tfoot, thead, tr, th, td 
{ border-collapse:collapse; border-spacing:0; margin:0; padding:0; }

/**************************************************************************************************\
* Global Items
* 
* Global Items as Definitions, Classes, Typography and Forms
*/


/** Global Classes */
body {font-family: 'Open Sans', sans-serif;;}

.bg-0
{ background:none !important; }

.bd-0
{ border:none !important; }

.pd-0
{ padding:0 !important; }

.mg-0
{ margin:0 !important; }

.left
{ float:left; }

.right
{ float:right; }

.clear
{ clear:both !important; display:block; }

.clear:before,
.clear:after { display: table; line-height: 0; content: "";}

br.clear
{ clear:both; font-size:0; height:0; line-height:0; }

.hide
{ display:none !important; }

.button-featured
{ background:url(images/structure/bg-button.gif) repeat-x 0 0; border-color:#D0D7E1 #D0D7E1 #B4BCC9 #D0D7E1; border-style:solid; border-width:1px; float:right; height:32px; padding:0 15px; }

.button-featured
{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }

	.button-featured a, .button-featured a:visited, .button-featured a:active
	{ color:#898989 !important; font-size:12px; line-height:32px; text-transform:none !important; }
      
      
.ie .dropdown-menu {z-index:99999999;}

/** #Global classes > Percentual Width */
[class^="cont_"],
[class*=" cont_"] { float:left;}

.cont_100{width:100%;}
.cont_90{width:90%;}
.cont_80{width:80%;}
.cont_70{width:70%;}
.cont_60{width:60%;}
.cont_50{width:50%;}
.cont_40{width:40%;}
.cont_30{width:30%;}
.cont_20{width:20%;}
.cont_10{width:10%;}

.loading-location {margin:7px 0 7px 12px;}

/** #Global classes > Show and Hide */

.show,
.show-block
{ display:block !important; }

.show-inline
{ display:inline !important; }

.isHidden, .controlPhoneHide, .controlFaxHide
{ display: none !important; }

/* #No Images */

.no-link, .no-link a , .no-link:hover, .no-link a:hover { cursor:default !important;}
li.no-link:hover{  background-color:transparent!important; }

.no-image { background:#E7E8E8 url(images/imagery/img-no-image.gif) no-repeat center;cursor:pointer; display:block; min-height:30px; min-width:30px; }
.comment .image .no-image { background:#E7E8E8 url(images/imagery/profile_noimage.png) no-repeat center;cursor:pointer; display:block; min-height:30px; min-width:30px; height:60px; width:60px; border:1px solid #ccc; }

/* *Detail*/
.image .no-image  {height:131px; width:100%;}

.featured-item-special .image .no-image {height:127px; width:100%;}
.ie7 .featured-item-special .image .no-image  {height:127px; width:292px;}

.special-item .no-image {height:241px;}

/* *Best Of */
.featured-listing .no-image, .content-main .summary .no-image {   height: 144px;  width: 100%;}
.special-listing .no-image {   height: 295px;  width: 98%; padding:4px; border:1px solid #dedede;}

/* *Summary item*/
.media .summary-image .no-image {height:138px;}
.summary-deal .media .summary-image .no-image {  height: 124px;}
.summary-small .media .summary-image .no-image { height: 125px !important;}
.content-results-filters .summary-small .media .summary-image .no-image { height: 85px !important; max-width: 198px;}


.ie7 .summary-image .no-image { width:97%;}

/* *Home*/
.three-columns .thumbnail .no-image { height: 130px;  width: 100%;}

/* *Profile no-image*/
.featured-review .no-image, .review-item .no-image, .featured-checkin .no-image{ background:#E7E8E8 url(images/imagery/profile_noimage.png) no-repeat center; height:72px; width:72px; }

/* *Deal*/
.content-main .summary-deal .no-image 	{ height:170px ; width:300px !important; }
.special-deal .image .no-image {height:241px; width:610px;}
.ie7 .special-deal .image .no-image {width:617px;}
.detail-deal .no-image {height:266px;}

/* *Advertise Pages*/
.level-summary .no-image	{ border:none; height: 133px;   width: 309px; }
.level-summary .no-image 	{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
.level-summary .left .image .no-image 	{ border:none !important; }
.level-summary .summary-modules .full	{ border:none; margin-right:90px; }


/** Global classes > Switch button */

.switchOpen, .switchClose
{display: block; float: left; height: 15px; overflow: hidden; text-decoration: none; width: 17px;   margin-top: 2px;}

 .switchBlank  {display:none;}
 
 
/* #System Messages and Alerts

	<div class="successMessage"><p>Success!!</p></div>

*/

.informationMessage,
.errorMessage,
.successMessage,
.warningMessage
{ clear:both; display:block; margin:0 0 15px 0; padding: 8px 35px 8px 14px!important ;}

	.browserMessage .wrapper
	{ font-size:14px; font-weight:bold; padding:10px 0; text-align:center; } 

/* #Results page without results

    <div class="resultsMessage">
      <h1>Sorry!</h1>
      <p>Your search return no results.</p>
    </div>
*/	
.resultsMessage { color:#636363; font-size:14px; line-height:25px; font-weight: 300; }

.resultsMessage h1 	{ color:#636363;  font-size:36px; font-weight:600; line-height:35px; margin-bottom:10px; text-align:center;}
	
.content-full-results .resultsMessage h2, .content-results-filters .resultsMessage h2 {color:#636363;  font-size:14px; font-weight:600; line-height:20px; margin:20px 0 0; text-decoration:underline; }

.content.content-results-filters .informationMessage, .content.content-results-filters .errorMessage  {  margin-left: -290px;}	

.resultsMessage p	{ line-height:25px; font-size:14px; font-weight:600}

/* #Typography 

	<h1>h1. Heading 1</h1>
	<h2>h2. Heading 2</h2>
	<h3>h3. Heading 3</h3>
	<h4>h4. Heading 4</h4>
	<h5>h5. Heading 5</h5>
	<h6>h6. Heading 6</h6>

 
*/


h1, h2, h3, h4, h5
{ font-weight:normal; }

.popupWrapper p
{ font-size:16px; text-align:center; }

	

/* #Typography 

	Paragraph 
	
*/

p
{ color:#636363; line-height:16px; }


/* # view-more

*/
h2 a.view-more {float:right; font-size:11px;}
.ie7 h2 a.view-more {float:right; font-size:11px;margin-top:-30px;}

/* #Header Image
 
 <div class="image-bg"></div>
 
*/

.image-bg {
	position:absolute;
	z-index:-1;
	height:480px;
	width:100%;
	right:0;
	left:0;
}

.image-bg img {
	min-width: 100%;
	min-height:480px; max-height:480px;
}


/**************************************************************************************************\
* #Forms > Contact form

  Form style for contact informations
  
*/	

.real-right.real-info p {width:67%;}


.contact-us-form input, .contact-us-form textarea {width:100%;}
#contactSidebar p{}

/* #Contact form Captcha 

* */
	.contact-form .form .captcha{ float: left;padding: 1% 3% 0 0;width: 70%; }

	.contact-form .form .captcha img { border:1px solid #B7C0C7; margin:0 0 7px 0; }

	.contact-form .captcha input.text{ width:50%;  margin-top: 3px; }
			
        
 /* #Featured Listings
     The Best Of page for Dining Guide
*/

.content.side-right { float: left;    padding: 0 0 2%;    width: 74%;}

.row-fluid .thumbnails.featured-listing {width:104%} 

.featured-listing > .span6 { margin: 10px 0 0 2.8%;width: 46.9%;}
.featured-listing .thumbnail {min-height: 320px; border-radius: 0;}
.featured-listing .thumbnail .featured-body  address{margin-bottom:10px;}

.featured-listing .thumbnail .image h3 {width: 323px; margin-top: -37px;position: absolute;height: 27px; padding: 10px 3px 0px 7px; }                                        
.ie .featured-listing .thumbnail .image h3 {position: relative; width: 323px;line-height:19px;}

.featured-listing .thumbnail .image img {width:100%;}

.sidebar.bestof { float:left;  width: 23.5%; padding: 0 0 2%;}
.sidebar.bestof  .browse-category {  padding: 0; margin: 0; }

.content.side-right .top-pagination {  padding: 0 0 0 3%;  width:100%;}

featured-listing .featured-body btn-success {    margin: 5px 0;}

/* #Special Listing
 */
.featured-listing .span12.special-listing {width: 96.9%;margin: 0 0 10px 2.8%;}

.special-listing .listing-info { height: 292px;    margin-left: 432px;    padding: 10px;    position: absolute;    width: 256px;}
.special-listing .listing-info .btn {margin-top:10px;}

.special-listing img.img-polaroid {width:98.5%;}


/* #Reviews

*/      

.review-item {margin:20px 0 5px;}
.review-item .review-top { padding-bottom:10px;}
.review-item .review-top > div {margin:10px 15px 0px 10px;}
.review-item .review-top img.img-polaroid {width:60px; height:60px;}
.ie .review-item .review-top img.img-polaroid {width:100%;min-width:60px; max-width:60px;max-height:60px;height:100%;}
.review-top p {padding: 10px;}
.review-bottom p { line-height: 28px;  padding: 1%;}
.review-item .rate-stars, .review-bottom p  {display:inline-block;}
.review-bottom .btn {float:left;margin-right:10px;}
.review-bottom .number {float:left;width: 35px; height:26px; padding-left:9px; margin-right: 10px;}
.review-item  .reply {margin: 15px 0 0 0;padding: 0 0 0 20px;}

.ie .review-bottom p  {float:left;}
.ie .review-bottom p.pull-right  {float:right;}

.featured.featured-review.featured-review-detail, .featured.featured-review.featured-review-detail {  clear: both;  margin-top: 0; padding-top: 1px;margin-bottom: 20px;}

.featured-review.featured-review-detail .featured-item {margin:10px 0; clear:both;border-bottom:1px solid #dedede; float:left; width:100%; padding-bottom: 10px;}
.featured-review.featured-review-detail .featured-item .image {float:left; width:75px; height:75px; margin:0 10px 0 0}
.featured-review.featured-review-detail .featured-item .image  img {width:100%; }

/*Rate Starts*/

.rate-stars {margin: 5px 0;}
.ie .rate-stars {width:100px;}
.ie .featured-body .rate-stars {width:100%;}
.three-columns .top-review .rate-stars { margin:-1px 0 0 0;}
.review-count { font-size:11px; text-decoration:underline; margin-left:3px;}
.search-options .range label.stars-rate {font-size:0;}

/* # By Cuisine Page

*/

.category-name {position:absolute; width:130px; height: 200px; margin: 3px 0 0 3px; display:table;}
.category-centered {position:relative; display:table-cell; vertical-align:middle;}
.category-link {width:110px; margin:0 auto; padding:10px 0;}
.category-link a {overflow: hidden; word-wrap: break-word;}
    

.category-image {padding:2px;min-height: 200px;}
.category-image img{height:200px;}
.category-image .no-image {height: 200px; width: 100%;}
.allcategories p {padding:10px 4px 25px; min-height: 66px;}


.ie .category-name, .ie .category-image { height: 198px; min-height: 198px;}
.ie .allcategories .span6 {margin:10px 5px; width:464px;}
.ie .category-centered {position:absolute; top:30%;margin-left:10px}


	

/**
 #Top Navbar Open
*/

.top-button
{ left: -170px; overflow: visible; position: absolute; top: 0; z-index:3; }

	.top-open
	{ background:url(images/structure/bg-button-options.gif) repeat-x 0 0; height:30px; padding:0 15px; text-align:center; width: 90px; }
	
	.top-open
	{ -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; -moz-box-shadow:1px 2px 4px #AAA; -webkit-box-shadow:1px 2px 4px #AAA; box-shadow:1px 2px 4px #AAA; }
	
		.top-open a
		{ color:#FFF; font-size:16px; line-height:26px; text-transform:uppercase; }
		
		.top-open a:hover
		{ color:#EC008C; text-decoration:none; }
		
		

/**************************************************************************************************\
* Header
* 
* Header contents, search, advanced search, banner and other elements.
*/

#header-wrapper
{ clear:both; height:72px; margin:0 auto; overflow:visible; }

#header
{ height:58px; margin:0 auto; overflow:visible; padding:7px 0 7px 0; position: relative; width:980px;  z-index:1; }


/** Header > Navbar */

#navbar-wrapper, .wrapper .holderFixes #navbar-wrapper
{ left:0; position:absolute; top:0; width:100%; z-index:1; }

.wrapper .holderFixes #navbar-wrapper
{ position:relative; }

#navbar
{ height:40px; margin:0 auto; width:72%; }

	#navbar li
	{float:left;}




/**************************************************************************************************\
* #Footer
* 
* Footer content, classes, styles.
*/

#footer-wrapper {clear:both; height:250px; margin:0 auto; overflow:hidden; padding:0;border-top:2px solid #4b4b4b;padding: 20px 0 0; }

#footer-wrapper .span3 {height:190px;}

#footer-wrapper .social-buttons {margin-bottom:80px;}

.ie #footer-wrapper .span3 {width:290px;}
.ie #footer-wrapper .row-fluid .span6.text-right {width:388px; margin:0;}

#footer
{ height:103px; margin:0 auto; overflow:hidden; padding:25px 0 0 0; position:relative; width:1000px; }
			
.footer-nav {padding-top: 28px;}
.footer-nav li {display:inline;padding: 0 20px;}
.footer-nav li:first-child {background:none;}
	
/* #Content Structure
* 
* Content structure elements
*/
.well > .container-fluid {padding-top:5px;}
.ie .well > .container-fluid {padding-bottom:10px;}
.container-fluid .carousel.slide {margin-top:6px; margin-bottom:10px;}
.container-fluid > .row-fluid {margin:5px 0;}
.content { padding:0 0 2% 1%; width:63%;float:left; }

.content-wrapper {  display:block; height:auto; }

.content-center { height:auto; margin:5px auto; padding:5px 20px; min-height: 380px; }

.content-featured {padding:0; margin:0 0 0 1%;}
.content .content-featured .featured{ padding: 0; margin: 20px 0 0 0%; width:104%}

/* #General Content
    * Featured Review
*/

.content-general {padding:0; width:auto;}
.content-general .content-main {padding:0; width:auto; border:none; margin:0;}

.content.content-general {padding:0 2% 2% 1%; width: 60%;margin-bottom: 20px;}
.ie7 .content-center .clearfix {margin-bottom:20px;}
.content-general .contact-form {padding:0 2% 2% 2%;}

.content-general .featured-review {margin:10px 0; display:block; clear:both;}
.content-general .featured-review .featured-item{ margin: 0;min-height: 10px;padding: 10px 0;border-bottom: 1px solid #dedede;width: 100%;float: left;}
.content-general .featured-review .image{width: 70px;margin: 4px 16px 8px 0;float: left;}


/* #Content Alternative

	<div class="content content-full">
		<div class="content">
			<div class="content-main"></div>
		</div>
	</div>

 */

.content-full {margin: 5px auto 30px;width: 96%;}
.content-full .content {width: 96%;min-height: 300px;border: 1px solid #D8D8D7;border-radius: 2px;margin: 0 auto 30px; padding:10px 2% 10px 2%;}
.content-full .content .content-main {border:none; width:40%; margin:0 auto;padding:1%;}

.content-full input  {width:98%;}
.content-full select {width:100.5%;max-width:423px;}
.content-full input[type="checkbox"], .content-full input[type="radio"] {width:auto;margin: 0 10px 2px 0;;}


/* Tree View*/
.categoryTreeview { margin: 10px 2% 20px;  padding:10px 2% 20px; }
	.categoryTreeview li { clear:both;}	
	.categoryTreeview li ul { margin:0 0 0 25px; clear:both;}	
	.categoryTreeview div div img{ float:left; margin-top:-16px; }	
   
    .categoryBullet {  padding-left: 21px;}
    
.categorySuccessMessage, .categoryErrorMessage	{display:inline-block; margin-left:3px; text-decoration:none; }	

/*#Messages*/

.fancybox-outer .informationMessage, .fancybox-outer .errorMessage, .fancybox-outer  .successMessage, .fancybox-outer .warningMessage { margin:25px 0 0; }

.informationMessage, .errorMessage, .successMessage, .warningMessage { margin:10px 0; }

       
/* #Top Pagination
	
	*Line Top
	
*/
.line-top { padding:10px 10px 7px 8.6px;}
.line-top > div {float:left; width: auto;} 
.content-reviews .line-top > div {float:right;} 
.line-top .search-info {display: inline-block;  float: none;  max-width: 50%;} 
.ie7 .line-top .search-info {float:left;} 
.line-top .filter-category, .line-top .filter-order {float:right; width: auto;} 
.line-top .filter-category {margin-right:20px;} 
.line-top label, .line-top select {float:left; width:auto;}	
.line-top label {text-align:right; padding-right:15px;}

.map-control {float: left;line-height: 16px;font-weight:600;}
.map-control a{padding-right:2px;}
.map-control:after {content:"|"; display:inline-block;}



/* #Top Pagination
	* Line Bottom
    *Structure
	*Pagination Controls
	*Pagination Pages
	
*/
.filter{float: left; padding: 1.5px 3px 0 0; width:auto;}
.filter p{font-size:11px;float: left; padding: 0px 0 0 6px;}
.pagination ul {text-transform:uppercase;}

.content.side-right .filter p {padding: 0px 0 0 0px;}
.content.side-right .line-bottom {padding: 0 0px 7px 0px;}

.goto {display: inline-block;float: right;}
.ie .goto {}
.ie .content.side-right .goto {margin-top:0px;}
.content-full-results { float: left; margin: 5px 0 2% 0; padding:0; width: 100%;}

.top-pagination {width: 98%;margin:0;}



.line-top {margin-bottom: 7px; width: 100%;}
.line-bottom {padding: 0 10px 9px; width: 100%;display: inline-block; margin-bottom: 2%; height: 18px;}

.pagination {margin:0; display:inline;}
.pagination .letters {font-size:11px;display: inline-block; margin-top: 4px;}
.ie .pagination .letters {float:left;}

.pagination .pages {margin-left:10px;}
.pagination ul.controls > li > a, .pagination ul.pages > li > a {float:none;}


/* #Bottom Pagination*/
.bottom-pagination { float: right; width: 50%;}
.content-full-results .bottom-pagination {  width: 65%;}
.bottom-pagination .pagination { width: auto; padding-bottom: 10px;float: right; margin-bottom: 10px;}
.bottom-pagination .goto {text-align: right;float: none;display: block;}

.bottom-pagination .results-per-page {width: auto; float: right; margin-top: -3px;}
.bottom-pagination .results-per-page form{ float: right;}
.bottom-pagination .results-per-page label  {float: left; font-size: 11px; font-weight: 600;  margin-right: 10px;  margin-top: 4px;}
.bottom-pagination .results-per-page select{float: left; font-size: 11px;  height: 23px;  line-height: 27px; margin-top: 2px; padding: 2px 2px 2px 0;  width: 45px;}


		
/* #Form Login
	<div  class="formFieldsLogin">
		<form class="form"></form>
	</div>
*/

.automaticLogin {clear:both; margin-bottom:10px;float:left;}
p.standardButton {text-align:center;margin:15px 0;}
.notmember {font-size:12px;text-align:center;margin:1% 0;}
.notmember a{color:#6a6162} .notmember a:hover {color:#749116}
.forgotpassword {  float: right; margin-top: -152px;}
.ie .forgotpassword {  float: right; margin-top: -154px;}

/* #Category List and Locations List for Home*/
ul.list-home {padding:15px 3.5%;}

.list-home  li  { display: inline-block; width: 32.5%;vertical-align: middle;}
.list-home  li.clearfix { display: block; width: 100%;}
.list-home  li input[type="radio"], .list-home  li input[type="radio"]{ display:inline-block;}
.list-home  li label{  display: inline-block;  padding: 0 0 0 1%;  vertical-align: middle;  width: 84%;}

.ie7 .list-home  li  { display: inline; }
.ie7 .list-home  li.clearfix { display: inline-block; height:0;}

/* #Category List
*/

.list-category
{ padding:5px 15px 5px 0; }

	.list-category li, .list-category-blog li
	{ background-image:url(images/iconography/bullet-category.gif); background-repeat:no-repeat; }
	
	.list-category-blog li
	{ background-position:0 center; line-height:20px; padding:4px 4px 4px 10px; }
	
		.list-category li.level-1, .list-category-blog li.level-1
		{ background-position:2px center; padding:0 0 0 12px; }
		
		.list-category li.level-2, .list-category-blog li.level-2
		{ background-position:12px center; padding:0 0 0 22px; }
		
		.list-category li.level-3, .list-category-blog li.level-3
		{ background-position:22px center; padding:0 0 0 32px; }
		
		.list-category li.level-4, .list-category-blog li.level-4
		{ background-position:32px center; padding:0 0 0 42px; }
		
		.list-category li.level-5, .list-category-blog li.level-5
		{ background-position:42px center; padding:0 0 0 52px; }
	
	.list-category li a:link, 
	.list-category li a:visited, 
	.list-category li a:active
	{ color:#898989; }
	
	.list-category-blog li a:link, 
	.list-category-blog li a:visited, 
	.list-category-blog li a:active
	{ color:#111; }
	
.level-banner a.no-image
{ display: block !important; margin: 0 auto; }

/* #Share box 

*/

.share-box
{ background:#081C2A; padding:6px; position: absolute; width:150px; z-index:9999;  }

	.share-box img,
	.share-box img:hover
	{ border:none; }
	
	.share-box ul
	{ height:1%; overflow:hidden; }
	
		.share-box ul li
		{ float:left; padding:0 3px 0 0; }
		
			.share-box ul li.close a:link,
			.share-box ul li.close a:visited,
			.share-box ul li.close a:active
			{ color:#FFF; font-size:10px; }
			
			.share-box ul li.close
			{ float:right; padding:1px 0 0 0; }


/* #Browse Category for Sidebar

*/

.browse-category { padding:0 0 0 20px; margin-top: 5px;}
.browse-category li{ margin: 10px 0 15px 5px;}
.browse-category .view-all-cat {margin: 5px;}
.browse-category ul li { margin: 10px 0 0px 20px; font-size:90%;}
.sidebar.bestof   .browse-category li{ margin: 0 0 0 0;}

.browse-category .hidden-title {display:none;}

/* #All Locations*/

.child {margin-left: 5%;}

.all_location_first {width:auto; padding:10px;margin-bottom:5px; cursor:pointer;}
.all_location_first.nochild {cursor:default;}

.link { float:left;  margin-left: 10px;  width: 23%;}

.all_location_middle {width:auto; margin:5px 0; padding:5px 10px; cursor:pointer;}
.ie7 .all_location_middle {width:auto; margin:5px 0; padding:10px 10px 5px 10px;}




/* #Sitemap 
    
    Visible on Members Area
*/

.sitemap
{ padding:0 0 30px 0; }

	.sitemap h3
	{ border-bottom:1px solid #E6E8E9; margin:0 0 10px 0; padding:0 0 4px 0; text-transform:uppercase; }
	
		.sitemap h3 a:link,
		.sitemap h3 a:visited,
		.sitemap h3 a:active
		{ color:#111; }
	
	.sitemap ul
	{ height:1%; overflow:hidden; padding:0 0 22px 0; }
	
		.sitemap ul li
		{ float:left; padding:0 30px 8px 0; width:190px; }
        
        
/* #Checking 
    Featured on Sidebar 
*/

 .featured-checkin .featured-item .image{width: 70px;margin: 4px 16px 0 0;float: left;}
 .featured-checkin .featured-item p {text-align:left;font-size: 13px;line-height: 20px; padding: 0;}
 .featured-checkin .featured-item {border-bottom:1px solid #dedede; margin:5px 0 10px 0;float: left;width: 100%;padding-bottom:10px;}
 
/* #Twitter 
*/
	
	.last-tweets ul
	{  padding-top:10px; }
	
		.last-tweets ul li
		{ font-size:12px; line-height:16px; padding:0 0 10px 0; }
	
		.last-tweets ul li a:link,
		.last-tweets ul li a:visited,
		.last-tweets ul li a:active
		{ clear:both; display:block; font-size:10px; font-style:italic; }
		
			.last-tweets ul li span a:link,
			.last-tweets ul li span a:visited,
			.last-tweets ul li span a:active
			{ display:inline; font-size:11px; font-style:normal; padding:0; }
                        

			

/* #FAQ */

	.content-faq h2 {margin-top:20px; }	
	.content-faq h2 span{ float:right; font-size:70%; }		
	.ie7 .content-faq h2 span{ margin-top:-30px; }		
	
.content-faq .search	{ height:auto; overflow:hidden; text-align:center; }

.content-faq .search input 	{ width:20%;margin:10px 10px 10px 0; }				

.faqAnswers h3 {font-size:90%}

/* Table for Pagination*/
 .pagingContent {width:100%;border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
 .pagingContent > tbody {  line-height: 25px;font-size: 10px;}
 .pagingContent >tbody > tr  {display: inline-block;   width: 49%;}
 .pagingContent table {width: 100%;}
 .pagingContent select {  margin: 5px 0;  padding: 3px 3px 3px 0;    width: 43px;}
 .pagingContent table td {display:inline-block; width: 32%; text-align:center;}
.pagingContent >tbody > tr >td {display:inline;}

.pagingContent .paging-letters {text-align:right;}
.pagingContent .paging-letters a {font-size: 11px; padding: 3px 2px;}

.ie .pagingContent >tbody > tr {width:49%; float:left;}
.ie .pagingContent select {float:right;margin-top:-4px;}
.ie7 .pagingContent select {float:none;margin-top:5px;}
.ie .pagingContent table td {float:left;width: 33%;}
.ie .pagingContent >tbody > tr >td {width:50%;padding-top:9px;}

.ie7 .pagingContent table {border-top:1px solid #ddd;}

/**************************************************************************************************\
* Slider
* 
* Slider style ( check the structure on the .css file in the scripts folder )


.content-top-slider
{ padding-bottom:17px !important; }

/** Slider > slider structure 

#slider
{ background:#FFF; border:1px solid #DFDFDF; clear:both; height:230px; overflow:hidden; padding:10px; position:relative; width:650px; }

	#slider ul
	{ height:228px; overflow:hidden; width:648px; }
	
		#slider ul li
		{ height:auto; overflow:hidden; width:648px; }
			
	#slider .slider-item
	{ height:auto; overflow:hidden; }

/** Slider > slider style 

	#slider .left
	{ float:right; }

	#slider .right
	{ background:url(images/structure/bg-slider-info.png) repeat 0 0; border-right:1px solid #33759F; float:left; height:203px; padding:15px 15px 10px 15px; width:162px; }

	#slider h2
	{ border:none; color:#FFF799; font-size:14px; font-weight:normal; height:auto; line-height:28px; margin:0 0 10px 0; text-transform:uppercase; }
	
		#slider h2 a:link,
		#slider h2 a:visited,
		#slider h2 a:active
		{ color:#FFF; font-size:15px; font-weight:bold; text-transform:none; }
	
	#slider p
	{ clear:both; color:#FFF; }
	
	#slider .info
	{ background:#DEDEDE; float:left; margin:0 0 10px 0; padding:5px; }
	
		#slider a img
		{ border:none; }

/** Slider > slider style > no image 

#slider .no-image,
#slider .no-image:hover
{ border:none; height:241px; width:440px; }
		
/** Slider > slider control 
		
	ol#controls 
	{ clear:both; height:9px; padding:6px 0 0 328px; text-align:center;}
	
		ol#controls li 
		{ display:inline; font-size:0; height:9px; line-height:9px; margin:0 5px 0 0; width:9px; }
	
			ol#controls li a 
			{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 -12px; display:block; float:left; height:8px; margin:0 3px 0 0; text-indent:-9999px; width:9px; }
			
			ol#controls li.current a 
			{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 0; }
			
			ol#controls li a:focus
			{ outline:none; }
		
/**************************************************************************************************\
* #Sidebar
 
 Sidebar structure and elements
*/
	
.sidebar
{ float:right; padding: 0 2% 2% 0;  width: 32%;}

.content-full .sidebar
{padding: 0 0 2% 0;}

.sidebar h2, .pnt-0 h2{padding:0 5px 0 10px; line-height:32px;}

.sidebar .last-tweets h2 {margin-left:0;}

.pnt-0 h2 {margin-top:10px;}

.sidebar .map {width:100%; height:245px;}

.sidebar .fb_iframe_widget {margin-bottom:15px;}

/* #Index options
	
    * Brand
	* Search bar
*/
.ie .header-brand {min-height:102px;}

.brand-logo { float:left; width:42%; display:inline-block; vertical-align:middle;}	
.brand.logo {height: 52px;margin-top: 20px; width:100%; max-width:330px;}

.search-advanced {display:inline-block; width: 57%; padding:20px 0 0 0;}
.search-advanced.special-bylocation  { padding: 10px 20px;  width: 91.92%;}	


.search-advanced .search-keyword {float:right; margin-right: 3.9%; width: auto;}
.search-advanced .search-keyword input {width:210px; padding-left:25px;  margin-bottom:0;}

.search-advanced .search-location {float:right; width:35%; margin-left:1%; margin-right: 22px;}
.search-advanced .search-location input {  margin-left: -7px;  width: 175px; padding-left:25px; margin-bottom:0;}

.search-button .btn-search {width:90px; height: 30px; float:right; margin:22px 4px 0 -22px; }

.advanced-search {width:97%; margin:5px auto;}

.ie .search-button .btn-search  {height:32px;}
/*.ie .search-advanced .search-keyword {float:left; width:43%;margin-right:2%;}*/


.content-center .search-advanced { width: 926px; margin:-3px auto 11px;}	
.content-center .search-advanced .advanced-search-box{ padding: 10px 7px 10px 8px;}	
.content-center .search-advanced.special-bylocation {  margin-bottom: -1px; padding: 5px 20px; width: 95.57%;}

.search-advanced .options {margin-top:10px;}

.advanced-search-box li{margin-top:-1px;}
.advanced-search-box .list-home li{margin-left:5px; width:31%;vertical-align: middle;}

.advanced-search-box .span7-5 {width:500px;}
.advanced-search-box .span9-5 {width:717px;}
.advanced-search-box .span2-5 {border-left: 1px solid #373737; height: 120px;  margin-left: 0;  padding-left: 15px; width: 215px;}
.advanced-search-box .options {margin-top:10px;}
.advanced-search-box .span12 { width: 930px;}
.advanced-search-box .span12 .list-home li { width: 32%;}


.advanced-search-box a.clearall {  position: absolute; right:5px; bottom:5px;}
.advanced-search-box a.seeall { position: absolute;left:15px; bottom:5px;}


.advanced-search-box ul.list-home { padding: 0 0 15px;}
		
.ie7 .advanced-search-box > div {padding-left:5px;}
.ie7 .advanced-search-box a.clearall {  position:relative;float:right;}

.ie7 .nav-collapse.collapse {position:relative; height:50px;overflow:hidden;}
/* #Index options	
	Featured Columns 
*/


.three-columns, .bannerstop{padding:0px; width: 96%;margin:10px auto 20px;}		
.three-columns img{width:100%;}	

.ie .three-columns .rate-stars.pull-right {width:100px;}


/* #Searchbar

	A search bar with option to advanced search
*/
		
	.search-options .span12 {min-height:0;}  
    .advanced-search-box {float:left;padding:10px 1%;margin:20px 0;position: relative;min-width:930px;}
	
    
    .list-search { display:inline-block; width:100px;}
    .list-search label, .list-search input , .list-search label input { display:inline-block;}
    .list-search label {width:80px;}
    .ie .list-search, .ie .list-search label {display:inline;}
     
    .advanced-search h5 { color: #FEFEFE; display: inline-block; float: left;  height: 120px;  margin-right: 3px; font-size:12px;}
/* #Accordion

    Accordion style for the Triggers, links and Titles
*/


#accordion { height:auto; margin:20px 0 5px 2px; overflow:hidden; }
	
#accordion li h3 a:link,#accordion li h3 a:visited,	#accordion li h3 a:active
{display:block; padding:0 10px; }
				
/* #Calendar
 
    Calendar style
*/

.table-calendar
{ background:#EDEDED; color:#636363; }

	.table-calendar td
	{ padding:6px; }
	
	.table-calendar .calendar-header 
	{ background:#E1E1E1; border-bottom:1px solid #D4D4D4; height:27px; }
	
	.table-calendar .calendar-weekday
	{ height:26px; padding:10px 0 0 0; }
	
	.table-calendar .calendar-button
	{ background-image:url(images/iconography/bt-calendar-arrow.png); display:block; height:27px; width:27px; }
	
	.table-calendar .left
	{ background-position:0 0; }
	
	.table-calendar .right
	{ background-position:0 -27px; }
	
	.table-calendar .today,
	.table-calendar .selected
	{ color:#636363; font-size:17px; font-weight:bold; }
	
	.table-calendar .selected
	{ color:#EC008C; }

/* #Advertisement
 
  Advertisement classes for banners on Header, Content and Sidebar.
  
*/
.advertisement {width: 96%; padding: 5px 20px 5px 20px;}
.ie .advertisement {width: 96%; padding: 5px 20px 10px 20px;}

.advertisement .banner { text-align: center;width: 100%;display: block;height: 90px;}	
.advertisement .banner-left {float:left}
.advertisement .banner-right {text-align: right;}
.advertisement .banner-left img{height:90px;width:727px;}
.advertisement .banner-right img {height:90px; width:120px;}

.advertisement .banner .no-image { border:none; display:inline-block; }		
.advertisement .banner .no-image { -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
 
.advertisement-bottom {width:100%; padding:0 0 10px 0; margin-bottom: 10px;}
.ie .advertisement-bottom {width: 100%;padding:0 0 10px 0; }
.advertisement-bottom .banner {height: 60px; padding: 0;}
.advertisement-bottom .banner-left img {height: 60px;width: 468px;}

.advertisement-bottom .banner > div {float:left; margin-right: 5.45612359%;}
.ie .advertisement-bottom .banner > div.banner-sponsor {margin-right: 0;}

.advertisement .sponsored .text {clear: both;display: block;}

.advertisement-bottom .banner > div:last-child {margin-right:0;}

.ie .advertisement .banner-left img{min-width:727px;}
.ie .advertisement-bottom .banner-left img {min-width: 468px;}

 .bt-highlight button{  clear: both;  float: right; margin: 0 0 10px;}
 
/** Popups > Preview Banner */

.previewmember .advertisement .top img{height: 90px; width: 728px;}
.previewmember .advertisement .bottom img{ height: 60px; width: 468px;}
.previewmember .advertisement .top.right img {height: 90px; width: 120px;}
.previewmember .advertisement .top.right {float:none; margin-top:15px}
.previewmember .advertisement .sponsored.links {margin:15px auto 0;}
.previewmember .advertisement .sponsored.links .sponsored {width: 100%;margin:0; padding:0; border:none;}

.previewmember .advertisement {width:92%; margin: 0 auto; padding: 20px 0; text-align:center;}
.previewmember .advertisement, .previewmember .advertisement .top  { text-align:center; margin-top:20px; }
.previewmember .advertisement .bottom { text-align:center; margin-top:30px; }

 
/* #Advertisement > Sponsored 
*/

.sponsored
{display:block; padding:2px; width:170px; }

	
	
/** Advertisement > Sidebar 

.sidebar .advertisement
{ height:auto; margin:30px 0 0 0; text-align:center; overflow:hidden; }

	.sidebar .advertisement .banner
	{ float:none; margin:0 auto; }
	
		.sidebar .advertisement .banner img
		{ display:inline; }
	
	.sidebar .advertisement .info
	{ margin:0 auto; padding:4px; text-align:left; width:172px; }

		.sidebar .advertisement .info p
		{ line-height:12px; }
		

/** Order Page 
*/
.standardStepAD {margin:10px;}
.standardStep-Title {margin:20px;}

.standardStep.steps-3 {  float: left; margin: 0 auto; width: 885px; }
.steps-ui {  float: right;  height: 41px;  padding: 10px;  width: 269px;margin-right:-28px;}

.steps-ui > span {float: left; font-size: 30px; margin-left: 20px;}

.steps-ui.stepLast { margin-right:0; width:246px;}


.orderUserTable .standardButton {margin-top:-5px;}

.orderUserTable .button.button-facebook a, .orderUserTable .button.button-google a {  padding: 4px 35px;  width: 180px;}
/** #Popups > TB_window */

#TB_window
{ background:#FFF !important; } 

/* #Remove from favorites div 

*/

.boxFavorites 
{ background: url(images/structure/bg-black-opacity-65.png) repeat; cursor:pointer; float:left; height:23px; position:absolute; width:320px; }

	.favoritesGrid .boxFavorites
	{ top: -37px; left: 0; }
    
	.boxFavorites span a,
	.boxFavorites span a:visited
	{ color: white; font-size: 10px; font-style: italic; line-height: 23px; float: right; text-align: right; padding-right: 8px; width: 300px; }
	
	.boxFavorites span a img
	{ display: inline; position: relative; top: 2px; margin: 0 0 0 5px; }
			
			
/* #Input hidden*/
.hiddenFile-box {}
.hiddenFile-box span.hiddenFile{}
.hiddenFile-box span.hiddenFile input[type="file"]{cursor: pointer;opacity: 0;filter:alpha(opacity=00);padding: 0;margin: -90px 0 0 -155px;width: 145px;height: 134px;position:absolute;}
.hiddenFile-box span.hiddenFile button {border: 1px solid #ccc;    cursor: pointer;    font-size: 10px;    height: 30px;    outline: medium none;  width: 100px; margin: 5px 0;}

			
/* #New Member Area*/
.member-form .charleft {opacity:0.5;filter:alpha(opacity=50);margin: -3px 20px 10px 0;background-color: #F2F2F2;color: #000000;padding: 4px 10px;} 
.member-form .charleft span input{background: none repeat scroll 0 0 transparent; border: medium none; margin: 0;  padding: 0;  width: 26px;}
.member-form .charleft span {line-height:20px;}

.member-form .informationMessage, .member-form .errorMessage, .member-form .successMessage, .member-form .warningMessage {border-radius: 0;    clear: both;    margin: -3px -3px 0;}
.member-form .cont_100 .informationMessage, 
.member-form .cont_100 .errorMessage, 
.member-form .cont_100 .successMessage, 
.member-form .cont_100 .warningMessage {clear:both;margin:10px 0;}
/*.member-form .btAdd {margin: 0;padding: 20px 14px 20px 146px;float: right;background-color: #fff;border-left: 1px solid #d7d7d7;width: 349px;}*/
			
        .identification div.inputimg, .create-profile div.inputimg {float:left;}
		.identification div.inputimg > i, .create-profile div.inputimg > i {float:left;margin:0; height:17px;padding:5px; width:10px;border:1px solid #ccc; border-right:none;line-height:16px;font-size: 11px; }
		.identification div.inputimg > input, .create-profile div.inputimg > input {float:left;height: 17px;  width:106px; border:1px solid #ccc; border-left:none;padding:5px 1px 5px 4px;}
		.identification div.inputimg.large > input[type=text], .create-profile div.inputimg.large > input[type=text]{width:250px;}
		.identification label#checkUsername, .create-profile label#checkUsername { float: left;}
		
		.identification .inpname, .create-profile .inpname{ background:#fff url(images/iconography/user.png) no-repeat 3px;}
		.identification .inpemail, .create-profile .inpemail{ background:#fff url(images/iconography/mail.png) no-repeat 3px; width:265px; margin-right:0}
		.identification .inppassword, .create-profile .inppassword{ background:#fff url(images/iconography/lock.png) no-repeat 5px;}
		
/* #New advertising */
.order > div {clear:both}
.order > form > div {float:left;}

.content-main.order {border: medium none; padding: 1% 0;}		
.order-head {width:100%;border-bottom:1px solid #eee;float:left;padding: 5px 0 15px 0;margin: 0 0 20px 0;}	
.order-head h2 {font-weight:normal; text-transform:capitalize;border:none; padding:0;line-height: 15px;margin:0;float:left;}
.order-head ol{padding-left: 20px;}
.order-head li{width:33%; float:left;clear:none; color:#ddd; margin-right:-15px;}
.order-head li.active{color:#000}	
.order-head span#taxInfo {color: #888; font-size: 12px; margin: 10px;line-height: 33px;}				
	
.order .left {text-align:right;padding:0 2% 0 0;width:22%}
.order .right {border-left:1px solid #eee;padding: 43px 2% 40px 2%; min-height:40px; width:68%;clear: right;}

			
.blockcontinue {margin: 20px 0 -30px -16px;padding: 20px 24px;clear:both;}
.blockcontinue .cont_70{min-height:30px;}
.blockcontinue #checkoutfree_total { margin: 23px 0 0;}
.blockcontinue	#checkoutpayment_total {margin:8px 0 0;}

			
/* #New advertising  Form*/	
.order label {font-size:12px; color:#62707B; line-height: 30px; width:100%;float:left;}
.order label > span {display: none;position: absolute;font-size: 10px;font-style: normal;display:none; position:static; font-size: 10px;font-weight: normal;padding: 4px;background-color: #f4f4f4;border: 1px solid #ccc; line-height:20px;box-shadow:0px 0px 10px #eee;}
.order label#checkUsername > span {display: inline;position: relative;padding: 0;background-color: transparent;border:none;margin:0;line-height: 6px;box-shadow:none}
.order label:hover span {display: inline;}	
.order .option label {  height: 46px;    line-height: 17px;    padding-top: 10px;    width: 17%;}
.order .option input[type="checkbox"]  {clear: left;float: left;margin: 9px 15px 0 0;width:15px;height:15px;}
.order .option input[type="radio"] {float: left;margin: 9px 15px 0 15px;width:15px;height:15px;}	
			
			
/* #Button*/

bt-highlight {text-align: right ;margin-right: 40px;}
p.bt-highlight a, p.bt-highlight em { clear: both;    float: right;}
.order .biggerbutton button {width:250px;white-space: pre-wrap;}
.order .biggerbutton button span {width:200px;white-space: pre-wrap;}


/* #Package*/
			
.package {width:90%; margin:10px auto;}

.packageTable {width:100%; margin:20px auto;}
.packageTable td {padding:10px;}
.order-package .right {border:none;}

input { color: #000; }
.placeholder { color: #aaa; line-height:10px; }

/* #newsletter*/

.newsletter {width:94%; margin:5px 2% 7px 2%; padding:7px;}
.ie7 .newsletter {margin:10px 2% 7px 2%;}
.newsletter .box-newsletter {padding:12px 0;}
.newsletter .img-newsletter { width:74px; height:41px;}
.newsletter .button-close a { width:23px; height:23px; display:block; position:absolute; margin-left: 930px; margin-top: -20px;}
.ie7 .newsletter .button-close a { position:static; z-index:0;}
.newsletter .btn-success {margin-top:4px;}

.box-newsletter .span7.row-fluid input {  margin-bottom: 0;  margin-right: 11px;  margin-top: 5px;  width: 35%;}

.newsletter-info {width:95%; margin:5px 2%;}


/* Video Tab*/
#content_video iframe {width:100% !important;}


/*App Android*/
 #smartbanner.android.shown { top:0!important; }
 
/* #Media queries

	All changes when you want a responsive website
	
*/
@media (min-width: 978px) {
    
.header-brand {min-height:102px;}

.search-collapse {display:none;}

.bestof.visible-desktop .browse-category.collapse {height:auto!important;}

}

@media (min-width: 768px) and (max-width: 979px) {
 /*Logo Brand*/
   .header-brand {display:none;}   
   .brand.logo {float: left; height: 40px; margin: 0 0 0 2%; padding: 0; width: 50px;}   
   .navbar-inner { background-image:none; background-color:#252525;}
   .search-collapse {display:block;}
   
     /*Navabar*/
   .navbar .btn-navbar {background-color: transparent; background-image: none; color: #FFFFFF;margin: 3px 10px 0 0; padding: 10px;  box-shadow:none;  border:none;  border-radius:0;}
    .search-advanced .btn.btn-success {background-image:none;background-color:#95c800; color: #FFFFFF;font-size:14px;text-transform: uppercase; text-shadow:none;box-shadow:none;font-weight:600;}
    
    
    /*No Images*/
    .category-image .no-image {height: 144px;}
    .three-columns h2 {font-size: 14px !important;}
    .three-columns .thumbnail .no-image {height: 95px;}
    .special-deal .image .no-image {height: 215px;width: 452px;}
    .featured-deal .image .no-image {width: 219px;height: 110px;}    
    
    .advertisement .banner .no-image {border: none;display: inline-block;width: 100% !important;height: 70px!important;}   
    .listing-summary .media .summary-image .no-image {height: 193px !important;    max-width: 100%;    width: 100% !important;}
    
    
    /*#Banners*/
    .advertisement {width: 96%; padding: 20px 2% 10px;}
    .advertisement .banner {height: 70px;}
    .advertisement .banner-left {float: left;width: 86%;margin-right: 1%;}
    .advertisement .banner-right {width: 13%;float: left;}
    .advertisement-bottom .banner{height: auto; float:left; padding: 0 0 20px;}
    .advertisement-bottom .banner > div {margin-right: auto;float:none;}
    .advertisement-bottom .banner-left {width: 100%;margin:0 auto;}
    
    .advertisement .banner-left img{max-height:70px;max-width:727px; width:100%; height:100%;}
    .advertisement .banner-right img {max-height:90px; max-width:120px;width:100%; height:100%;}
    
    .advertisement-bottom .banner-left img {max-height: 60px;max-width: 468px;width:100%; height:100%;}    
    .advertisement-bottom .banner-left img {max-height: 80px;max-width: 100%;width: 100%;}
    .advertisement-bottom .banner-google, .advertisement-bottom .banner-sponsor {margin-top:2%; width: auto;}
    .advertisement-bottom .banner .banner-sponsor {float:right;}
    .advertisement-bottom .banner .banner-google {float:left;}
    .sponsored {margin: 0 auto;}
    
    /*#Special Listing*/
    .special-listing .listing-info {height: 210px;margin-left: 206px;width: 290px;}
    .featured-listing .thumbnail .image h3 {width: 230px;}
    
    /*#Carousel*/
    .carousel {margin: 0 auto; padding: 4px;width: 684px;}
    .carousel-inner {width: 100%;}
    .carousel-caption {bottom: 0;}
    .carousel-indicators {display: none;}
    .carousel-inner > .item > img, .carousel-inner > .item > a > img { height: 296px;}
    
    /*#Categories*/
    .category-image img{height:144px;}
    .category-name {height: 134px;padding: 10px 4px 0; background-position:center}
    .allcategories p {padding: 10px 4px 4px;min-height: 80px;}
    .list-home > li, .list-home > ul li { display: inline-block;  width: 100%;}
    
    /* #Search*/
    .search-advanced { padding:0; width: 100%;}
    .search-advanced .row-fluid{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */ 
        -moz-box-orient:vertical;
        -webkit-box-orient:vertical;
         width: 100%;  
         margin:2% 0%;      
        display: -ms-flexbox;       
        -ms-flex-flow: column;          
    }
    
    .search-advanced .search-button, 
    .search-advanced .search-location, 
    .search-advanced .search-keyword {
        margin:0 auto; 
        float:none;
        display:block;
        width:100%;
    }    
    
      .search-advanced .search-button {
      -webkit-box-ordinal-group: 3;   
      -moz-box-ordinal-group: 3;      
      -ms-flex-order:3;              
      -webkit-order:3;               
      order: 3;                       
    }
    
    .search-advanced .search-location {
      -webkit-box-ordinal-group: 2;  
      -moz-box-ordinal-group: 2;     
      -ms-flex-order: 2;     
      -webkit-order: 2;  
      order: 2;
    }
    .search-advanced .search-keyword{
      -webkit-box-ordinal-group:1;  
      -moz-box-ordinal-group: 1;     
      -ms-flex-order: 1;     
      -webkit-order: 1;  
      order: 1;
    }
    .search-collapse .search-advanced .title {font-size: 12px; line-height: 30px;}
    
    .search-advanced .search-location input, .search-advanced .search-keyword input {  background-image: none; border: medium none; margin: 0 auto; padding: 7px 1%; width: 98%;}    
    .search-button .btn-search {   float: left; height: 35px; margin: 10px auto; width: 100%;}
    
    /*#Newsletter*/
    .newsletter .img-newsletter {height:80px;}
    .newsletter .button-close a { margin-left: 678px; margin-top: -17px;}
    .box-newsletter .span7.row-fluid input {width: 66.5%;}
    
    /*#Sidebar and Content*/
    .sidebar.bestof, .content.side-right{width:100%;}
    
    /*#Best Of*/
    .row-fluid .thumbnails.featured-listing {  margin-left: -3%;    width: 104%;}
    .special-listing .listing-info { height: 285px;   margin-left: 374px;  width: 294px;}
    .featured-listing .thumbnail .image h3 { width: 314px;}
    .content.side-right .top-pagination { padding: 0;  width: 97%;}
    .sidebar.bestof .browse-category { border: none!important;}
    
     /*  Cuisine*/
    .category-image { min-height: 140px;}
    allcategories p {min-height: 1px;}
    .category-link {font-size:14px!important; width: 150px;}
        
    /*#Advanced Search*/
    .search-options .list-home label {display: inline-block; vertical-align: middle;width:25%; padding-left:2%;}
    .search-options .advanced-search-box .span9-5 .list-home label {width: 81%;padding-left: 1%;}
    .search-advanced .span4-5 {width: 67%;margin-left: 0;}
    .search-advanced .span7-5 {  width: 100%;}
    .search-advanced .span2-5 { margin-left: 1%; width: 49%;}
    .advanced-search-box .span7-5 { width: 649px;}
    .advanced-search-box .span2-5 { margin-left: 0.8%; width: 49%;}
    .advanced-search-box .span9-5 {  width: 49%;}
    
    .content-center .search-advanced { width: 655px;}
    .content-center .search-advanced .advanced-search-box { padding: 10px 2px;}
    
    .search-advanced.special-bylocation .list-home > li { width: 33%;}
    .content-center .search-advanced.special-bylocation {margin-bottom: 10px;padding: 5px 2%;width: 96%;}
    
    
    
    /*#Pagination*/
    .bottom-pagination {  float: right;  width: 70%;}
    
    .line-top .search-info {  max-width: 98%;}
    .filter-category, .filter-order, .pagination .letters, .results-per-page, .line-bottom .pagination:before {display:none;}
    .content-full-results .bottom-pagination, .bottom-pagination .pagination {width: 100%;}
    
                                    
    /*#Summary*/
    .level-summary .no-image, .summary span.no-image, .content-main .summary span.no-image {  height: 109px; }
    
    /*#Reviews*/
    .review-bottom p { display: block; width: 98%;}
    .review-bottom p.pull-right {width: 48%;}
    
    
    .content.content-results-filters .informationMessage,  .content.content-results-filters .informationMessage {  margin-left: -200px;}	
    
   
}
@media (max-width: 767px) {
     /*Logo Brand*/
   .header-brand {display:none;}   
   .brand.logo {float: left; height: 40px; margin: 0 0 0 2%; padding: 0; width: 50px;}   
   .navbar-inner { background-image:none; background-color:#252525;}
   
     /*Navabar*/
   .navbar .btn-navbar {background-color: transparent; background-image: none; color: #FFFFFF;margin: 3px 10px 0 0; padding: 10px;  box-shadow:none;  border:none;  border-radius:0;}
    .search-collapse {display:block; background-color:#383838;}

   
    /*No-Images*/
    .special-listing .no-image {height: 180px;width: 98%;padding: 4px;border: 1px solid #dedede;}
    .detail-deal .no-image {height: 156px;}
    .media .summary-image .no-image {display:none;}
    
    /*Background Image*/    
    .image-bg {display:none;}
    
    /*#Sidebar and Content*/
    .sidebar.bestof, .content.side-right{width:100%;}
	.content, .sidebar {clear: both;float: left;margin: 10px 1%;padding: 0;width: 97.8%;}
    .content-full .content .content-main {  width: 90%;}
    .content-center { padding: 0 1.5%;}
    .breadcrumb {  margin: 2px 0 5px; }
    .content.content-general {width:95%;}
    
    /*#Pagination*/
    .top-pagination, .results-per-page {display:none}    
    .content-full-results .bottom-pagination, .bottom-pagination, .bottom-pagination .pagination {text-align: center;width: 100%;}
    .pagination ul.controls {text-transform: uppercase;text-align: center;width: 100%;}
    
    /*All Locations*/
    .link { margin:8px 1%;  width: 22%;}
    
    /* #Search*/
    .search-advanced { padding:0; width: 100%;}
    .search-advanced .row-fluid{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */ 
        -moz-box-orient:vertical;
        -webkit-box-orient:vertical;
         width: 96%;  
         margin:2%;      
        display: -ms-flexbox;       
        -ms-flex-flow: column;          
    }
    
    .search-advanced .search-button, 
    .search-advanced .search-location, 
    .search-advanced .search-keyword {
        margin:0 auto; 
        float:none;
        display:block;
        width:100%;
        height: 55px;
    }    
    
      .search-advanced .search-button {
      -webkit-box-ordinal-group: 3;   
      -moz-box-ordinal-group: 3;      
      -ms-flex-order:3;              
      -webkit-order:3;               
      order: 3;                       
    }
    
    .search-advanced .search-location {
      -webkit-box-ordinal-group: 2;  
      -moz-box-ordinal-group: 2;     
      -ms-flex-order: 2;     
      -webkit-order: 2;  
      order: 2;
    }
    .search-advanced .search-keyword{
      -webkit-box-ordinal-group:1;  
      -moz-box-ordinal-group: 1;     
      -ms-flex-order: 1;     
      -webkit-order: 1;  
      order: 1;
    }
    .search-collapse .search-advanced .title {font-size: 12px; line-height: 30px;}
    
    .search-advanced .search-location input, .search-advanced .search-keyword input {background-image: none; border: medium none; margin: 0 auto;padding: 5px 1%;  width: 98%;}    
    .search-button .btn-search {   float: left; height: 30px; margin: 10px auto; width: 100%;}

    /* #Advanced Search*/
    .search-advanced .span4-5 { margin-left: 0;  width: 100%;}    
    .search-options .advanced-search-box .span9-5 .list-home label {width: 34%;padding-left: 1%;}    
    .search-advanced .span7-5 {  width: 100%;}
    .search-advanced .span2-5 { margin-left: 0%; width: 100%;}    
    .list-home > li, .list-home > ul li {  display: inline-block;  width: 100%;}
    
    .content-center .search-advanced.special-bylocation { margin-bottom: 10px; margin-top:10px;  padding: 5px 1%;   width: 93%; }
    .search-advanced.special-bylocation .list-home > li { width: 50%;}
    
    /*#Banners*/
    .advertisement {width: 96%; padding: 5px 1% 0; display: inline-block;height: auto;}	
    .advertisement .banner {height: auto;}    
    .advertisement .banner-left {float: left;width: 86%;margin-right: 1%;}
    .advertisement .banner-right {width: 13%;float: left;}   
    
    .advertisement-bottom .banner-left {width: 100%;margin:0 auto;}
    .advertisement-bottom .banner-google, .advertisement-bottom .banner-sponsor {margin:2% auto; width: 50%;}
    .advertisement-bottom .banner > div {margin-right:auto;}
    .advertisement .banner-left img{max-height:90px;max-width:727px; width:100%; height:auto;}
    .advertisement .banner-right img {max-height:90px; max-width:120px;width:100%; height:auto;}
    .advertisement-bottom .banner-left img {max-height: 60px;max-width: 468px;width:100%; height:auto;}
    .sponsored {margin: 0 auto;}
    
    /*#Footer*/
    #footer-wrapper {height: auto; background: rgba(41,41,41,1) !important; padding: 3%;}
    #footer-wrapper .span6.text-right {text-align:center;}
    #footer-wrapper .span3.last-tweets {display:none;}
    #footer-wrapper .footer-nav {display:none}
    #footer-wrapper .social-buttons {margin-bottom:auto;}

    
    /*#Categories*/
    .category-image {padding: 0.5%; min-height:0;}
    .category-image img{height:auto; width:100%}
    .all-head .category-name {width: 50%;height: auto;padding: 4% 0;margin: 0.8%;background-image:none;}
    .list-home > li, .list-home > ul li { display: inline-block;  width: 100%;}
    
    .allcategories p {min-height: 1px;}
    .category-link {font-size:14px!important; width: 150px;}
    
    /*#Newsletter*/
    .newsletter {display:none;}
   
    
    /*#Best Of*/
    .sidebar.bestof, .content.side-right {margin: 0; width: auto;}
    .row-fluid .thumbnails.featured-listing {width: 100%;}
    .featured-listing .span12.special-listing, .featured-listing > .span6 {  margin: 0 0 10px;  width: 100%;}
    .featured-listing .thumbnail .image h3 {  margin-top: 0;  padding: 6px 1% 2px;  position: relative;    width: 98%;height: auto; min-height:28px;}
    .special-listing .listing-info { height: auto; margin-left: auto; padding: 10px; width: 97%; position:relative;}
    .special-listing img.img-polaroid { margin-bottom: 10px;  width: 98.5%;}
    .sidebar.bestof   .browse-category.in.collapse li{ width: 32%; font-size:12px;}
    
    .sidebar.bestof .browse-category { border: none!important;}
    
    /*#Login*/
    .forgotpassword {float: none;  margin-top: 0;  text-align: center;}
    
    /*#Reviews*/
    .review-bottom p { display: block; width: 98%;}
    .review-bottom p.pull-right {width: 48%;}
    
     /*Display:none items*/
    .advertisement, 
    .advertisement img,
    .newsletter .img-newsletter, 
    .summary .rate-stars .review-count, 
    .button-send, 
    .button-call, 
    .line-footer .navicons, 
    .fancy_window_login.rate-it, 
    .fancy_window_login_modal,
    .fancy_window_tofriend {display:none;}
    
   .content.content-results-filters .informationMessage,  .content.content-results-filters .errorMessage {display:none;}	

   .pagination ul > li > span, .pagination ul > li, .pagination ul > li > a, .pagination li > a.active {
    font-size: 20px;  padding: 0 3px 0 0;font-weight: 400;}

    .goto, .bottom-pagination .pagination {float: none;}
	.bottom-pagination .goto { text-align: left;}
    .content .bottom-pagination-listing {margin-bottom:10px;}

}

 
}

@media (max-width: 480px) {
   
    /*#Search*/
        
    /*No-Images*/
    .special-listing .no-image {height: 100px;width: 98%;padding: 4px;border: 1px solid #dedede;}
    .category-image .no-image {height: 150px;width: 100%;}
          
    .special-listing .listing-info {  margin: 0 auto;  width: 94%;}
    
    /*By location*/
    .search-advanced.special-bylocation .list-home > li { width: 100%;}
    
    /*All Locations*/
    .link { margin:7px 1%;  width: 45%;}
    
    /*#Reviews*/
    .review-bottom p.pull-right {width: 98%;}
    
    /*Contact*/
    .contact-form .form .captcha {width: 100%; margin: 0 auto 10px 0; padding: 0 0 0 3%;}
    
    .fancy_window_login.star-rating {pointer-events:none;}
   
    /*#Best Of*/
    .sidebar.bestof   .browse-category.in.collapse li{ width: 49%;}

}

@media (max-width: 320px) {	    
       
    .advertisement {display: none;}	
    
    /*All Locations*/
    .link { margin-left: 1%;  width: 98%;}

}

