/**
* eDirectory - Profile Pages
*			
*/



/* #Contents*/
.create-profile.title {width:100%;}
.content .content-main {padding:10px 1% 0;}
.sidebar { float: left;}

/* Featured Items*/

.standardSubTitle {clear:both; width:100%; margin:10px 0;}

.item-summary {padding:15px 10px;}
.featured-item { margin-bottom: 20px;}
.featured-item > p, .featured-item h3, .featured-item .rate {margin:0 1%;}
.featured-item .info {padding:5px 1%;  margin-top: 10px;}
.featured-item .info p{display:inline; margin:2px 5px;}

.featured-review .standardSubTitle {margin-bottom:30px;}

/*User Info*/
.user-info {clear:both; padding:10px;}
.user-info img{ width:72px; height:72px; max-width:72px;}
.user-info img, .user-info .image .no-image{float:left;margin:0 10px 10px 0;}
.user-info h3 {font-size:14px;}

.last-tweets > h2 {
    margin-bottom: 10px;
    margin-left: -10px;
    width: 107.5%;
}


/*Button Remove Favorites*/
.btn-small.btn-danger {margin:-10px 0 20px;}


/* #Favorites*/
.listing-tag-deal, .deal-tag-small, .deal-tag {margin-right: -2.89%;}

.row-fluid.info .span4-text-right {text-align:left;}

.itemSearchResults .summary-small,
.itemSearchResults .summary-article {
	width:99.75%;}

/*.row-fluid.title .span7, .row-fluid.title .span5, .summary .badges{width:100%; text-align:right;}*/

.itemSearchResults .rate-stars > img {width: 14px;margin-right:-3px;}

.summary .icons .navicons .icon, .button-send, .button-call {display:none;}
.summary .summary-contact p {padding: 0 5px 0 0;}

.content-profile .summary-small .media .summary-image .no-image {height:80px;}


.content-profile .summary-small .summary-price {font-size: 10px;}
.content-profile .summary-small .badges img {max-width: 90px;}

.summaryBottom {
    clear: both;
    float: left;
    width: 100%;
}

/*#No-image*/
.media .summary-image .no-image {  height: 98px;}


/* #Create Profile */

		.create-profile p {text-align:left;} 
		.create-profile a.btn-facebook, .create-profile a.btn-google {padding:10px 30px; display:block; margin:0 0 10px 0;}

		.create-profile.title h3 {display:inline-block;}
		.create-profile.title h3.signup {width: 44%; clear:none;}
		.create-profile.title h3.or {width: 8%; padding: 0 7px; clear:none;}
		.create-profile.title h3.signin {width: 46%; clear:none;}
		
		.create-profile input{ line-height:16px;margin:0; margin-right:10px;font-size: 11px;}
		.create-profile input[type="checkbox"]{width: 15px;margin-right: 5px;vertical-align: middle; border:none;clear: none; display: inline-block; float: left;}
		.create-profile div label {width:145%;font-size:11px;}
		.create-profile form {margin:0 auto;width:300px;}
		.create-profile form>div {margin: 5px 0 10px;float: left;}
		.create-profile form>div .checkbox {padding:0;}
		.create-profile  p.standardButton.buttoncenter {margin-left:105px;}
		.create-profile .divider {float:left;width:1px; height:190px;background-color:#eee; margin: 0 10% 0 -1px;}
		
		.create-profile p.btn-openid input {width: 75%;float:left;}
		.create-profile p.btn-openid button {float:right; padding:7px 4px;}

		.create-profile .cont_40 > div { float:left;margin: 13px 0px 5px 20px;width:80%;}
		.create-profile .cont_40 > div form,
		.create-profile .cont_40 > div form p{width:100%; display:inline-block; margin:0;}

		.create-profile div.inputimg {float:left;}
		.create-profile div.inputimg > i {float:left;margin: 0 -1px 0 0; height:17px;padding:5px; width:10px;border:1px solid #ccc; border-right:none;line-height:16px;font-size: 11px; }
		.create-profile div.inputimg > input {float:left;height: 17px;  width:113px; border:1px solid #ccc; border-radius:0; border-left:none;padding:5px 0 5px 5px; box-shadow:none;}
		.create-profile div.inputimg.large > input[type=text]{width:263px;}
		.create-profile label#checkUsername { float: left;  margin: 5px 0 -6px;}
		
		.create-profile .inpname{ background:#fff url(images/iconography/user.png) no-repeat 3px;}
		.create-profile .inpemail{ background:#fff url(images/iconography/mail.png) no-repeat 3px; width:265px; margin-right:0}
		.create-profile .inppassword{ background:#fff url(images/iconography/lock.png) no-repeat 5px;}
        
        .ie .create-profile input{font-size:10px; line-height:17px;}
        .ie .create-profile .btn-openid input{ line-height:30px;}


		
::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; opacity:1; } /* firefox 19+ */
:-ms-input-placeholder { color:#999; } /* ie */
input:-moz-placeholder { color:#999;opacity:1; }

/* New general*/
.UsernameRegistered {clear:both;margin-left: 1px;}
	
	
/*Standard Table*/
[class*="standard-table"] { width: 100%; margin: 10px 0;vertical-align:middle; }
[class*="standard-table"] th{ padding: 7px 2px;}
[class*="standard-table"] td{ padding: 5px 3px}

/* #Edit Profile*/
.content-center.profile-edit .content {  padding: 0 0 2% 1%;  width: 63%;}

.btAdd p.standardButton {  float: left;  margin: 30px 0;  text-align: center;   width: 50%;}
.ie7 .btAdd {padding-bottom:30px;}

/*Content Profile*/
.content-profile {float:left; margin:10px 0;width:100%;}
.content-profile .item-summary {clear:both; margin:40px 0 0; position:relative;}
.content-profile .review-item {margin:5px 0 10px 0;}

.content-profile .results-per-page {float:right;}

/* #Media queries

	All changes when you want a responsive website
	
*/

@media (min-width: 768px) and (max-width: 979px) {
		.create-profile.content-custom.title h3.signup {width: 44%; clear:none;}
		.create-profile.content-custom.title h3.or {width: 9.5%; padding: 0 7px; clear:none;}
		.create-profile.content-custom.title h3.signin {width: 44%; clear:none;}
		.btn-facebook, .btn-google {width:50%;}
        .create-profile .cont_40 > div {width: 105%;}
}

@media (max-width: 767px) {
		.create-profile.content-custom.title h3.signup,
		.create-profile.content-custom.title h3.or,
		.create-profile.content-custom.title h3.signin {width: auto}
		.create-profile .divider {display:none;}
		.create-profile .cont_40, .create-profile .cont_50 {width:100%;}
		.create-profile .cont_40 > div {width:300px; margin:0 auto; clear:both; float:none;}		
		.create-profile p {width:100%;}
		.btn-facebook, .btn-google { width: 75%;}
		
        .profile-tabs > li > a, .tabs > li > a {padding: 6px 9px;margin-right: 3px;font-size: 10px;}
        
        .sidebar { float: none;}
	
}

@media (max-width: 480px) {	 
    .create-profile form { margin: 0 auto;  width: 100%;}
    .create-profile.cont_100 {margin: 0;  padding: 0;  width: 98%;}
    .identification div.inputimg, .create-profile div.inputimg { width:100%;}
    .create-profile div.inputimg > input {margin: 0 0 10px;  width: 90%;}
    .create-profile div.inputimg.large > input[type="text"] { width: 90%;}
    .create-profile form > div { margin: 5px 1%;  width: 98%;}
    .create-profile p.standardButton.buttoncenter { margin:0 auto 0 1%;text-align: center;}
    .create-profile .cont_40, .create-profile .cont_50 {  margin-top: 20px; width: 100%;}
    .create-profile .cont_40 > div {  width: 90%;}
    .create-profile p.btn-openid input {  width: 50%}
    .create-profile p {  width: 80%;}
    .btn-facebook, .btn-google { width: 90%;}
}

@media (max-width: 320px) {
 .create-profile div.inputimg > input, .create-profile div.inputimg.large > input[type="text"] {margin: 0 0 10px;  width: 80%;}
}