/**
* eDirectory - Main System Structure
*
* @package			layout
* @filesource		structure.css
* @author			Arca Solutions
*			
*/

/**************************************************************************************************\
* Master Reset
* 
* Master Reset for all HTML elements
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button,
caption
{ border:none; margin:0; padding:0; outline: none; }

ol, ul 
{ list-style:none; }

:focus 
{ outline:none; }

table, tbody, tfoot, thead, tr, th, td 
{ border-collapse:collapse; border-spacing:0; margin:0; padding:0; }

/**************************************************************************************************\
* Global Items
* 
* Global Items as Definitions, Classes, Typography and Forms
*/


/* #No-Images */
	.span9 .span4.flex-box  .no-image{height:96px;} /*Home Listing*/

    .flex-box.span6 > a > .no-image {height:131px;}

    .flex-box-group .span6 > section > a > span.no-image {height:140px; margin: 10px auto;} 

    .span8 .span12.flex-box-group .span6 > section > a > span.no-image {height:122px; margin: 10px auto;} 
	
	.flex-box.span8  aside .no-image {height:122px;}

    .flex-box .span12 > aside > a > span.no-image {height:159px;}
    
    .flex-box .span12 > aside.span8 > a > span.no-image {height:200px;}

    .span8 .flex-box .span12 > aside.span8 > a > span.no-image {height:193px;}

    .flex-box-group .item-preview aside .no-image {min-height:40px; height:40px;}

    .flex-box aside span.no-image { position:inherit; background:url("images/imagery/no-image.png") no-repeat scroll center center transparent;padding:0; background-size:100%;}



/** Global Classes */
body {font-family: 'Montserrat', sans-serif;}

.clear
{ clear:both !important; display:block; }

.clear:before,
.clear:after { display: table; line-height: 0; content: "";}

br.clear
{ clear:both; font-size:0; height:0; line-height:0; }


.button-featured
{ background:url(images/structure/bg-button.gif) repeat-x 0 0; border-color:#D0D7E1 #D0D7E1 #B4BCC9 #D0D7E1; border-style:solid; border-width:1px; float:right; height:32px; padding:0 15px; }

.button-featured
{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }

.button-featured a, .button-featured a:visited, .button-featured a:active
{ color:#898989 !important; font-size:12px; line-height:32px; text-transform:none !important; }


.ie .dropdown-menu {z-index:99999999;}

/** #Global classes > Percentual Width */
[class^="cont_"],
[class*=" cont_"] { float:left;}

.cont_100{width:100%;}
.cont_90{width:90%;}
.cont_80{width:80%;}
.cont_70{width:70%;}
.cont_60{width:60%;}
.cont_50{width:50%;}
.cont_40{width:40%;}
.cont_30{width:30%;}
.cont_20{width:20%;}
.cont_10{width:10%;}

.loading-location {margin:7px 0 7px 12px;}

/** #Global classes > Show and Hide */

.show,
.show-block
{ display:block !important; }

.show-inline
{ display:inline !important; }

.isHidden, .controlPhoneHide, .controlFaxHide
{ display: none !important; }

/*List*/
.list {padding:3px;}
.list li {display:inline;}

/*Site content*/
.middle-info ul {list-style:disc inside ;}
.middle-info ol {list-style:decimal inside ;}

/* #Error Page */
.error-page {height:145px; width:360px; margin:0 auto}

/* #No Images */

.no-link, .no-link a , .no-link:hover, .no-link a:hover { cursor:default !important;}
li.no-link:hover{  background-color:transparent!important; }

.no-image { 
	background: url(images/imagery/no-image.png) no-repeat 49% 50%;
	cursor:pointer; 
	display:block; 
	min-height:50px; 
	min-width:30px; 
	clear:both; 
	background-size:100%;
	
}

.banner .no-image {background-size:20%; background-color:#EEEEEE;}


/* *Detail*/
.image .no-image  {height:131px; width:100%;clear:both;}

.featured-item-special .image .no-image {height:127px; width:100%;}
.ie7 .featured-item-special .image .no-image  {height:127px; width:292px;}

.special-item .no-image {height:241px;}

/* *Best Of */
.featured-listing .no-image, .content-main .summary .no-image {   height: 144px;  width: 100%;}
.special-listing .no-image {   height: 295px;  width: 98%; padding:4px; border:1px solid #dedede;}

/* *Summary item*/

.summary-image .no-image {height:94px;}

/* *Profile no-image*/
.featured-review .no-image, 
.review-item .no-image, 
.sidebar .featured-item .image .no-image,
.featured-checkin .no-image,
.user-info .image .no-image{ background:#E7E8E8 url(images/imagery/profile_noimage.png) no-repeat center; height:72px;min-height:72px; width:72px; margin:0;}
.comment .image .no-image { background:#E7E8E8 url(images/imagery/profile_noimage.png) no-repeat center;cursor:pointer; display:block; min-height:30px; min-width:30px; height:60px; width:60px; border:1px solid #ccc; }

/* *Deal*/
.content-main .summary-deal .no-image 	{ height:170px ; width:300px !important; }
.special-deal .image .no-image {height:241px; width:610px;}
.ie7 .special-deal .image .no-image {width:617px;}
.detail-deal .no-image {height:266px;}

/* *Advertise Pages*/
.level-summary .no-image	{ border:none; height: 133px;   width: 309px; }
.level-summary .no-image 	{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
.level-summary .left .image .no-image 	{ border:none !important; }
.level-summary .summary-modules .full	{ border:none; margin-right:90px; }


/** Global classes > Switch button */

.switchOpen, .switchClose
{display: block; float: left; height: 15px; overflow: hidden; text-decoration: none; width: 17px;   margin-top: 2px;}

.switchBlank  {display:none;}


/* #System Messages and Alerts

	<div class="successMessage"><p>Success!!</p></div>

	*/

	.informationMessage,
	.errorMessage,
	.successMessage,
	.warningMessage
	{ clear:both; display:block; margin:0 0 15px 0; padding: 8px 35px 8px 14px!important ;}

	.browserMessage .wrapper
	{ font-size:14px; font-weight:bold; padding:10px 0; text-align:center; } 



/* #Typography 

	<h1>h1. Heading 1</h1>
	<h2>h2. Heading 2</h2>
	<h3>h3. Heading 3</h3>
	<h4>h4. Heading 4</h4>
	<h5>h5. Heading 5</h5>
	<h6>h6. Heading 6</h6>

 
	*/


	h1, h2, h3, h4, h5
	{ font-weight:normal; }

	.popupWrapper p
	{ font-size:16px; text-align:center; }

	

/* #Typography 

	Paragraph 
	
	*/

	p
	{ color:#636363; line-height:16px; }



/* #Header Image
 
 <div class="image-bg"></div>
 
 */

 .image-bg {
 	position:absolute;
 	z-index:-1;
 	width:100%;
 	right:0;
 	left:0;
 }

 .image-bg img {
 	min-width: 100%;
 }


/**************************************************************************************************\
* #Forms > Contact form  
  */	
.contactus {margin-top:20px; border:1px solid #ddd;}
.contactus .map{height:240px; width:98%;margin:4px 1%;}
.contactus address {margin:10px 0;}
.contactus section {margin:10px;}

.contact-form > form > p{margin:10px 0 20px;}


 /* #Featured Listings
     The Best Of page for Dining Guide
     

     .content.side-right { float: left;    padding: 0 0 2%;    width: 74%;}

     .row-fluid .thumbnails.featured-listing {width:104%} 

     .featured-listing > .span6 { margin: 10px 0 0 2.8%;width: 46.9%;}
     .featured-listing .thumbnail {min-height: 320px; border-radius: 0;}
     .featured-listing .thumbnail .featured-body  address{margin-bottom:10px;}

     .featured-listing .thumbnail .image h3 {width: 323px; margin-top: -37px;position: absolute;height: 27px; padding: 10px 3px 0px 7px; }                                        
     .ie .featured-listing .thumbnail .image h3 {position: relative; width: 323px;line-height:19px;}

     .featured-listing .thumbnail .image img {width:100%;}

     .content.side-right .top-pagination {  padding: 0 0 0 3%;  width:100%;}

     featured-listing .featured-body btn-success {    margin: 5px 0;}

/* #Special Listing
*/

.featured-listing .span12.special-listing {width: 96.9%;margin: 0 0 10px 2.8%;}

.special-listing .listing-info { height: 292px;    margin-left: 432px;    padding: 10px;    position: absolute;    width: 256px;}
.special-listing .listing-info .btn {margin-top:10px;}

.special-listing img.img-polaroid {width:98.5%;}


/* #Reviews

*/      

.review-item {margin:15px 0 20px;}
.review-item .review-top { padding-bottom:10px;}
.review-item .review-top > div {margin:10px 15px 0px 10px;}
.review-item .review-top img.img-polaroid {width:60px; height:60px;margin:10px auto}
.ie .review-item .review-top img.img-polaroid {width:100%;min-width:60px; max-width:60px;max-height:60px;height:100%;}
.review-top p {padding: 10px; line-height:19px;}
.review-bottom p { line-height: 28px;  padding: 10px 1%;}
.review-item .rate-stars, .review-bottom p  {display:inline-block;}
.review-bottom .btn {float:left;margin-right:10px; font-size:14px;}
.review-bottom .number {float:left;width: 35px; height:26px; padding-left:9px; margin-right: 10px;}
.review-item  .reply {margin: 15px 0 0 0;padding: 0 0 0 20px;}

.ie .review-bottom p  {float:left;}
.ie .review-bottom p.pull-right  {float:right;}

.featured.featured-review.featured-review-detail, .featured.featured-review.featured-review-detail {clear: both;  margin-top: 0; padding-top: 1px;margin-bottom: 20px;}

.featured-review.featured-review-detail .featured-item {margin:10px 0; clear:both;border-bottom:1px solid #dedede; float:left; width:100%; padding-bottom: 10px;}
.featured-review.featured-review-detail .featured-item .image {float:left; width:75px; height:75px; margin:0 10px 0 0}
.featured-review.featured-review-detail .featured-item .image  img {width:100%;}




/*Rate Starts*/

.stars-rating {
	background:url(images/iconography/mask-stars-white.png) no-repeat  left center scroll #16a085;
	display:inline-block;
	height: 13px;
	width:78px;
	margin-top: 3px;
	margin-bottom: -2px;
}

.stars-rating [class*="rate-"] {height: 13px;float:right; background:url(images/iconography/mask-stars-white.png) no-repeat  left center scroll #fff;}

.review-top .stars-rating [class*="rate-"] {background-color:#ccc;}

.item-preview .stars-rating [class*="rate-"] {float:left;}


.span12 > .flex-box-group > .item-preview .stars-rating [class*="rate-"] {float:right;}


.stars-rating .rate-0 {width:100%;}
.stars-rating .rate-1 {width:82%;}
.stars-rating .rate-2 {width:60%;}
.stars-rating .rate-3 {width:40%;}
.stars-rating .rate-4 {width:20%;}
.stars-rating .rate-5 {width:0;}


/*Calendar Event*/
.calendar-event {
	width:100%; 
	position:relative;
	float:left;
	margin-bottom:10px;
	background-color: #16A085;
}

#calendar_event {
	min-height:120px;
}

.calendar-event li {
	float: left;
	height: 27px;
	line-height: 11px;
	padding: 9px 1%;
	text-align: center;
	width: 18%;
}

.small-calendar {width:100%; float:left; position:relative;}
.small-calendar li {float:left; width:14%; line-height:12px; height:12px; padding:14px 1%; text-align:center;overflow: hidden}
.small-calendar li.control {width:10%; height:12px; padding:14px 0;}


/**
 #Top Navbar Open
 */

 .top-button
 { left: -170px; overflow: visible; position: absolute; top: 0; z-index:3; }

 .top-open
 { background:url(images/structure/bg-button-options.gif) repeat-x 0 0; height:30px; padding:0 15px; text-align:center; width: 90px; }
 
 .top-open
 { -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; -moz-box-shadow:1px 2px 4px #AAA; -webkit-box-shadow:1px 2px 4px #AAA; box-shadow:1px 2px 4px #AAA; }
 
 .top-open a
 { color:#FFF; font-size:16px; line-height:26px; text-transform:uppercase; }
 
 .top-open a:hover
 { color:#EC008C; text-decoration:none; }
 
 

/**************************************************************************************************\
* Header
* 
* Header contents, search, advanced search, banner and other elements.
*/

#header-wrapper
{ clear:both; height:72px; margin:0 auto; overflow:visible; }

#header
{ height:58px; margin:0 auto; overflow:visible; padding:7px 0 7px 0; position: relative; width:980px;  z-index:1; }


/** Header > Navbar */

#navbar-wrapper, .wrapper .holderFixes #navbar-wrapper
{ left:0; position:absolute; top:0; width:100%; z-index:1; }

.wrapper .holderFixes #navbar-wrapper
{ position:relative; }

#navbar
{ height:40px; margin:0 auto; width:72%; }

#navbar li
{float:left;}




/**************************************************************************************************\
* #Footer
* 
* Footer content, classes, styles.
*/

.footer-wrapper {clear:both;  margin:20px auto 0; overflow:hidden; padding:0;border-top:2px solid #4b4b4b;padding: 20px 0 ; }

.footer-wrapper .span3 {margin-left:5%;width:20%;}

.footer-wrapper .copyright {font-size:11px; margin-top:60px;}

.ie .footer-wrapper .contact small a {float:left;margin-right:5px;}



/* #Content Structure
* 
* Content structure elements
*/
.well > .container-fluid {padding-top:5px;padding-bottom:10px;}
.ie .well > .container-fluid {padding-bottom:10px;}

.container-fluid > .row-fluid {margin:5px 0;}



.content-wrapper {  display:block; height:auto; }

/*# Login Page */
.ie .span4.offset4 .selectpicker .select .dropdown-toggle{width:280px;}

/* #Tree View*/
	.categoryTreeview { margin: 10px 2% 20px;  padding:10px 2% 20px; }
	.categoryTreeview li { clear:both;}	
	.categoryTreeview li ul { margin:0 0 0 25px; clear:both;}	
	.categoryTreeview div div img{ float:left; margin-top:-16px; }	
	
	.categoryBullet {  padding-left: 21px;}
	
	.categorySuccessMessage, .categoryErrorMessage	{display:inline-block; margin-left:3px; text-decoration:none; }	

	/*#Messages*/

	.fancybox-outer .informationMessage, .fancybox-outer .errorMessage, .fancybox-outer  .successMessage, .fancybox-outer .warningMessage { margin:25px 0 0; }

	.informationMessage, .errorMessage, .successMessage, .warningMessage { margin:0 0; }

	 .fancybox-skin {border-radius:0!important;}

/* #Top Pagination
	
	*Line Top
	
	*/

	.content-reviews .line-top > div {float:right;} 
	.line-top .search-info {display: inline-block;  float: none;  max-width: 50%;} 
	.ie7 .line-top .search-info {float:left;} 
	.line-top .filter-category, .line-top .filter-order {float:right; width: auto;} 
	.line-top .filter-category {margin-right:20px;} 
	.line-top label, .line-top select {float:left; width:auto;}	
	.line-top label {text-align:right; padding-right:15px;}

	.map-control {float: left;line-height: 16px;font-weight:600;}
	.map-control a{padding-right:2px;}
	.map-control:after {content:"|"; display:inline-block;}



/* #Top Pagination
	* Line Bottom
    *Structure
	*Pagination Controls
	*Pagination Pages
	
	*/
	.filter{float: left; padding: 1.5px 3px 0 0; width:auto;}
	.filter p{font-size:11px;float: left; padding: 0px 0 0 6px;}
	.pagination ul {text-transform:uppercase;}

	.content.side-right .filter p {padding: 0px 0 0 0px;}
	.content.side-right .line-bottom {padding: 0 0px 7px 0px;}

	.goto {display: inline-block;float: right;}
	.ie .goto {}
	.ie .content.side-right .goto {margin-top:0px;}
	.content-full-results { float: left; margin: 5px 0 2% 0; padding:0; width: 100%;}

	.top-pagination {width: 98%;margin:0;}



	.line-top {margin-bottom: 7px; width: 100%;}
	.line-bottom {padding: 0 10px 9px; width: 100%;display: inline-block; margin-bottom: 2%; height: 18px;}

	.pagination {margin:0; display:inline;}
	.pagination .letters {font-size:11px;display: inline-block; margin-top: 4px;}
	.ie .pagination .letters {float:left;}

	.pagination .pages {margin-left:10px;}
	.pagination ul.controls > li > a, .pagination ul.pages > li > a {float:none;}


/* #Bottom Pagination*/
	.bottom-pagination { float: right; width: 50%;}
	.content-full-results .bottom-pagination {  width: 65%;}
	.bottom-pagination-listing .pagination { width: auto; padding-bottom: 10px;float: right; margin-bottom: 10px;}
	
	.bottom-pagination-listing .goto {text-align: right;float: none;display: block;}

	.bottom-pagination-listing .results-per-page {width: auto; float: right; margin-top: -3px;}
	

/*#Login Form*/
.formFieldsLogin input.text, .formFieldsLogin input[type="password"] {margin:0 auto; width:96.5%;}
.formFieldsLogin .automaticLogin{display:block;margin:10px 0;}
.formFieldsLogin .clear {margin-bottom:10px;}
.formFieldsLogin .standardButton button {width:100%; padding:10px 0;}
.forgotpassword, .notmember {margin:10px 0; text-align:center; }
.formFieldsLogin .automaticLogin input[type="checkbox"] {margin:-4px 0 0 0;}

.content-custom.cont_100 { width:98%; margin:0 1%;}

section.span4.offset4 .button-google h2 a,
section.span4.offset4 .button-facebook h2 a
{ width:78.5%; display:block;}

/* #Flex List

*/

.flex-box-list  ul {margin:10px 0 10px 20px; float:left;min-width:90%;}
.flex-box-list  li,
.span4 .span12.flex-box-list  li{float:left;width:45%;}

.flex-box-list  .list-category {margin:10px 5px;}

.flex-box-list  .list-category li {width:auto;float:none;}
.flex-box-list .list-category ul {margin:0; width:100%;}


.span8 .span12.flex-box-list  li{width:33%;}

.span12.flex-box-list li{width:25%;}

.span12.flex-box-list .list-category {width:98%;}
.span12.flex-box-list .list-category ul{width:93%;}
.span12.flex-box-list .list-category li { width: 100%;}
.span12.flex-box-list .list-category > li {width:31%;float:left;}


.sidebar .flex-box-list li, 
.span5.flex-box-list li,
.span3 .span12.flex-box-list li,
.span4.flex-box-list li,
.span3.flex-box-list li,
.span2.flex-box-list li,
.span1.flex-box-list li
{width:100%;}

/* #Category List*/

.sidebar-browseby li, .flex-box-list  .list-category li {margin-left:15px;}
.sidebar-browseby [class*="icon-caret"], .flex-box-list  .list-category [class*="icon-caret"] {margin-left:-15px; margin-right: -3px;}

.sidebar-browseby .item-select {
	float: left;
    margin: 10px 5px;
    max-height: 400px;
    overflow: auto;
    width: 94%;}

.sidebar-browseby {border-top:none;}

/*General Pages*/
.box-title .summary-small {width: 99.7%;}

/* #General Page FAQ */
.content-faq {margin-top:20px; clear:both;}
.faq-search .row-fluid{padding:5px 0 0;}
.faq-search h4 {line-height:36px;}
.faq-search input {height:36px;}

.faq-front {float:right;margin:-10px 0 10px;}
.box-title .content-faq h2  {margin-bottom:0;}

/* Table for Pagination*/
.pagingContent {width:100%;border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.pagingContent > tbody {  line-height: 25px;font-size: 10px;}
.pagingContent >tbody > tr  {display: inline-block;   width: 47%; padding:0 1%;}
.pagingContent table {width: 100%;}
.pagingContent select {  margin: 5px 0;  padding: 3px 3px 3px 0;    width: 43px;}
.pagingContent table td {display:inline-block; width: 32%; text-align:center;}
.pagingContent >tbody > tr >td {display:inline;}

.pagingContent .paging-letters {text-align:right;}
.pagingContent .paging-letters a {font-size: 11px; padding: 3px 2px;}

.ie .pagingContent >tbody > tr {width:620px; float:left;}
.ie .pagingContent select {float:right;margin-top:-4px;}
.ie .pagingContent > tbody > tr >td {width:auto; padding:9px 10px 0 10px; float:left;}
.ie .pagingContent table td {float:left;width: 150px;}


/* #All Locations */

.browse-locations {clear:both;}
.child {margin-left: 5%;}

.all_location_first {width:auto; padding:10px;margin-bottom:5px; cursor:pointer;}
.all_location_first.nochild {cursor:default;}

.link { float:left;  margin-left: 10px;  width: 23%;}

.all_location_middle {width:auto; margin:5px 0; padding:5px 10px; cursor:pointer;}
.ie7 .all_location_middle {width:auto; margin:5px 0; padding:10px 10px 5px 10px;}



/*General Page All Categories*/
.box-title  ul.item-select {width:98%; float:left; margin-bottom:20px; margin-top:-20px; padding:10px 1%;}
.box-title ul.item-select li{width:25%; float:left; padding:5px 0;}
.box-title ul.item-select li > a{margin-left:18px;}
.box-title ul.item-select li > a[class*="icon-caret"] {margin-left:0; margin-right:-18px;}

.box-title ul.item-select li:nth-child(4n+1) {width:25%; float:left; clear:left;}


.box-title ul.item-select ul.child li{width:100%; float:left; clear:both;}

/* #General Page Sitemap*/
 	.sitemap h3 {clear:both; margin-top:20px; float:left; width:100%;}


/* #Checking 
    Featured on Sidebar 
    */

    .featured-checkin .featured-item .image{width: 70px;margin: 4px 16px 0 0;float: left;}
    .featured-checkin .featured-item p {text-align:left;font-size: 11px;line-height: 20px; padding: 0;}

    .featured-checkin .featured-item {width:100%; float:left; margin-bottom:10px;}
	
	.featured.featured-checkin {border: 1px solid #D5D8DC; padding:10px 30px 10px 10px; float:left; position:relative; width:86%;}

/* #Twitter 
*/

.last-tweets ul
{  padding-top:10px; }

.last-tweets ul li
{ font-size:11px; line-height:16px; padding:0 0 10px 0; }

.last-tweets ul li a:link,
.last-tweets ul li a:visited,
.last-tweets ul li a:active
{ clear:both; display:block; font-size:10px; font-style:italic; }

.last-tweets ul li span a:link,
.last-tweets ul li span a:visited,
.last-tweets ul li span a:active
{ display:inline; font-size:11px; font-style:normal; padding:0; }





/* #Index options
	
    * Brand
	* Search bar
	*/
	.ie .header-brand {min-height:102px;}

	.brand-logo { float:left; width:42%; display:inline-block; vertical-align:middle;}	
	.brand.logo {height: 140px;margin-top: 20px; min-width: 90px;width: 100%; max-width:330px;}

	.search-advanced {display:inline-block; width: 57%; padding:20px 0 0 0;}
	.search-advanced.special-bylocation  { padding: 10px 20px;  width: 91.92%;}	


	.search-advanced .search-keyword {float:right; margin-right: 3.9%; width: auto;}
	.search-advanced .search-keyword input {width:210px; padding-left:25px;  margin-bottom:0;}

	.search-advanced .search-location {float:right; width:35%; margin-left:1%; margin-right: 22px;}
	.search-advanced .search-location input {  margin-left: -7px;  width: 175px; padding-left:25px; margin-bottom:0;}

	.search-button .btn-search {width:90px; height: 30px; float:right; margin:22px 4px 0 -22px; padding:0; }

	.advanced-search {width:97%; margin:5px auto;}

	.ie .search-button .btn-search  {height:32px;}




	.content-center .search-advanced { width: 926px; margin:-3px auto 11px;}	
	.content-center .search-advanced .advanced-search-box{ padding: 10px 7px 10px 8px;}	
	.content-center .search-advanced.special-bylocation {  margin-bottom: -1px; padding: 5px 20px; width: 95.57%;}

	.search-advanced .options {margin-top:10px;}
	.advanced-search-box input[type="radio"] {margin-top:-2px;}
	.advanced-search-box li{margin-top:-1px;}
	.advanced-search-box .list-home li{margin-left:5px; width:31%;vertical-align: middle;}

	.advanced-search-box .span7-5 {width:500px;}
	.advanced-search-box .span9-5 {width:717px;}
	.advanced-search-box .span2-5 {border-left: 1px solid #373737; height: 120px;  margin-left: 0;  padding-left: 15px; width: 215px;}
	.advanced-search-box .options {margin-top:10px;}
	.advanced-search-box .span12 { width: 930px;}
	.advanced-search-box .span12 .list-home li { width: 32%;}


	.advanced-search-box a.clearall {  position: absolute; right:5px; bottom:5px;}
	.advanced-search-box a.seeall { position: absolute;left:15px; bottom:5px;}


	.advanced-search-box ul.list-home { padding: 0 0 15px;}
	
	.ie7 .advanced-search-box > div {padding-left:5px;}
	.ie7 .advanced-search-box a.clearall {  position:relative;float:right;}

	.ie7 .nav-collapse.collapse {position:relative; height:50px;overflow:hidden;}



/* #Index options	
	Featured Columns 
	*/


	.three-columns, .bannerstop{padding:0px; width: 96%;margin:10px auto 20px;}		
	.three-columns img{width:100%;}	

	.ie .three-columns .rate-stars.pull-right {width:100px;}


/* #Searchbar

	A search bar with option to advanced search
	
	*/
	.search-options .span12 {min-height:0;}  
	.advanced-search-box {float:left;padding:10px 1.5%;margin:20px 0;position: relative;min-width:920px; white-space:nowrap;font-size: 10.5px;}
	
	.advanced-search-box input[type="text"] {margin-top:5px;}
	
	.advanced-search-box .radio {padding-left: 0;}

/* #Accordion

    Accordion style for the Triggers, links and Titles
    */


    #accordion { height:auto; margin:20px 0 5px 2px;}
    
    #accordion li h3 a:link,#accordion li h3 a:visited,	#accordion li h3 a:active
    {display:block; padding:0 17px; }
    
/* #Calendar
 
    Calendar style
    */

    .table-calendar
    { background:#EDEDED; color:#636363; }

    .table-calendar td
    { padding:6px; }
    
    .table-calendar .calendar-header 
    { background:#E1E1E1; border-bottom:1px solid #D4D4D4; height:27px; }
    
    .table-calendar .calendar-weekday
    { height:26px; padding:10px 0 0 0; }
    
    .table-calendar .calendar-button
    { background-image:url(images/iconography/bt-calendar-arrow.png); display:block; height:27px; width:27px; }
    
    .table-calendar .left
    { background-position:0 0; }
    
    .table-calendar .right
    { background-position:0 -27px; }
    
    .table-calendar .today,
    .table-calendar .selected
    { color:#636363; font-size:17px; font-weight:bold; }
    
    .table-calendar .selected
    { color:#EC008C; }

/* #Advertisement
 
  Advertisement classes for banners on Header, Content and Sidebar.
  
  */
  .advertisement {width: 100%; padding: 5px 0 5px 0;}
  .info-advertise, .advertisement p  { margin: 1px 0 15px; text-align: right;}


  .advertisement .banner { text-align: center;width: 100%;display: block;height: 90px;}	
  .advertisement .banner-left {float:left}
  .advertisement .banner-right {text-align: right;}
  .advertisement .banner-left img{height:90px;width:727px;}
  .advertisement .banner-right img {height:90px; width:120px;}

  .advertisement .banner .no-image { border:none; display:inline-block; }		
  .advertisement .banner .no-image { -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
  
  .advertisement-bottom {width:100%; padding:0 0 10px 0; margin-bottom: 10px;}
  .ie .advertisement-bottom {width: 100%;padding:0 0 10px 0; }
  .advertisement-bottom .banner {height: 60px; padding: 0;}
  .advertisement-bottom .banner-left img {height: 60px;width: 468px;}

  .advertisement-bottom .banner > div {float:left; margin-right: 5.45612359%;}
  .ie .advertisement-bottom .banner > div.banner-sponsor {margin-right: 0;}

  .advertisement .sponsored .text {clear: both;display: block;}

  .advertisement-bottom .banner > div:last-child {margin-right:0;}

  .banner-sponsor {margin-left: 4px;}

  .ie .advertisement .banner-left img{min-width:727px;}
  .ie .advertisement-bottom .banner-left img {min-width: 468px;}

  .bt-highlight button{  clear: both;  float: right; margin: 0 0 10px;}
  
  /** Popups > Preview Banner */

  .previewmember .advertisement .top img{height: 90px; width: 728px;}
  .previewmember .advertisement .bottom img{ height: 60px; width: 468px;}
  .previewmember .advertisement .top.right img {height: 90px; width: 120px;}
  .previewmember .advertisement .top.right {float:none; margin-top:15px}
  .previewmember .advertisement .sponsored.links {margin:15px auto 0;}
  .previewmember .advertisement .sponsored.links .sponsored {width: 100%;margin:0; padding:0; border:none;}

  .previewmember .advertisement {padding:0;}
  .previewmember .advertisement, .previewmember .advertisement .top  { text-align:center;}
  .previewmember .advertisement .bottom { text-align:center; margin-top:30px; }

  
/* #Advertisement > Sponsored 
*/

.sponsored
{display:block; padding:2px; width:170px; }

		

/** Order Page 
*/
.real-steps {margin:0 auto 40px auto; clear:both;float:left; width:100%;}
.standardStepAD {margin:10px;}
.standardStep-Title, .order-head {margin-bottom:30px;}
.order-head ol {margin-left:35px;}

.standardStep.steps-3 {  margin-right:40px;}
.steps-ui, .order-head li {white-space:nowrap; position:relative; height: 45px;  line-height: 45px; padding-right:10px; margin-right:40px; width:230px; text-align:center; }
.order-head li, .order-head {float:left;}
.order-head {width:100%;}
.steps-ui {float:right;}
.steps-ui > span { float: left; font-size: 15px; margin-right:10px; font-weight:bold; line-height: 10px;height: 20px; padding: 20px 15px 5px;}
.steps-ui:after, .order-head li:after {   
    position: absolute;
    right: -45px;
    width: 50px;   
}



.orderUserTable .standardButton {margin-top:-5px;}

.orderUserTable .button.button-facebook a, .orderUserTable .button.button-google a {  padding: 4px 35px;  width: 180px;}
/** #Popups > TB_window */

#TB_window
{ background:#FFF !important; } 

/* #Remove from favorites div 

*/

.boxFavorites 
{ background: url(images/structure/bg-black-opacity-65.png) repeat; cursor:pointer; float:left; height:23px; position:absolute; width:320px; }

.favoritesGrid .boxFavorites
{ top: -37px; left: 0; }

.boxFavorites span a,
.boxFavorites span a:visited
{ color: white; font-size: 10px; font-style: italic; line-height: 23px; float: right; text-align: right; padding-right: 8px; width: 300px; }

.boxFavorites span a img
{ display: inline; position: relative; top: 2px; margin: 0 0 0 5px; }


/* #Input hidden*/
.hiddenFile-box {}
.hiddenFile-box span.hiddenFile{}
.hiddenFile-box span.hiddenFile input[type="file"]{cursor: pointer;opacity: 0;filter:alpha(opacity=00);padding: 0;margin: -90px 0 0 -155px;width: 145px;height: 134px;position:absolute;}
.hiddenFile-box span.hiddenFile button {border: 1px solid #ccc;    cursor: pointer;    font-size: 10px;    height: 30px;    outline: medium none;  width: 100px; margin: 5px 0;}


/* #New Member Area*/
.member-form .charleft {margin: -3px 20px 10px 0;background-color: #fbfbfb;padding: 4px 10px;} 
.member-form .charleft span input{background: none repeat scroll 0 0 transparent; border: medium none; margin: 0;  padding: 0;  width: 26px;}
.textcounter:disabled { color: #000;-webkit-appearance: none;}
.textcounter { color: #000;-webkit-appearance: none;}
.member-form .charleft span {line-height:20px; color:#111;}

.member-form .informationMessage, .member-form .errorMessage, .member-form .successMessage, .member-form .warningMessage {border-radius: 0;    clear: both;    margin: -3px -3px 0;}
.member-form .cont_100 .informationMessage, 
.member-form .cont_100 .errorMessage, 
.member-form .cont_100 .successMessage, 
.member-form .cont_100 .warningMessage {clear:both;margin:10px 0;}



.identification div.inputimg, 
.create-profile div.inputimg {float:left;}

.identification div.inputimg > i, 
.create-profile div.inputimg > i {
	float:left;margin:0; height:20px;padding:5px; width:10px;border:1px solid #ccc; 
	border-right:none;line-height:16px;font-size: 11px; 
}

.identification div.inputimg > input, 
.create-profile div.inputimg > input {
	float:left;height: 20px;  width:101.5px;border:1px solid #ccc; border-left:none;padding:5px 1px 5px 4px;
	-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
border-radius:0;
}

.identification div.inputimg.large > input, 
.create-profile div.inputimg.large > input
{width:240px;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
border-radius:0;
}

.identification .standardButton button {
    margin-left: 8px;
    width: 267px;
    margin-top:10px;
}

.identification label#checkUsername, .create-profile label#checkUsername { float: left;}

.identification .inpname, .create-profile .inpname{ background:#fff url(images/iconography/user.png) no-repeat 3px;}
.identification .inpemail, .create-profile .inpemail{ background:#fff url(images/iconography/mail.png) no-repeat 3px; width:265px; margin-right:0}
.identification .inppassword, .create-profile .inppassword{ background:#fff url(images/iconography/lock.png) no-repeat 5px;}

/* #New advertising */
.order > div {clear:both}
.order > form > div {float:left;}

.content-main.order {border: medium none; padding: 1% 0;}		

.order .left {
	float: left;
    width: 230px;
}

.order .right {}
.order .right {
    border-left: 1px solid #EEEEEE;
    float: right;
    min-height: 40px;
    padding: 26px 2% 40px;
    width: 590px;
}


.blockcontinue {margin: 20px 0 -30px -16px;padding: 20px 24px;clear:both;}
.blockcontinue .cont_70{min-height:30px;}
.blockcontinue #checkoutfree_total { margin: 23px 0 0;}
.blockcontinue	#checkoutpayment_total {margin:8px 0 0;}


/* #New advertising  Form*/	
.order label {font-size:12px; color:#62707B; line-height: 30px; width:100%;float:left;}
.order label > span {display: none;position: absolute;font-size: 10px;font-style: normal;display:none; position:static; font-size: 10px;font-weight: normal;padding: 4px;background-color: #f4f4f4;border: 1px solid #ccc; line-height:20px;box-shadow:0px 0px 10px #eee;}
.order label#checkUsername > span {display: inline;position: relative;padding: 0;background-color: transparent;border:none;margin:0;line-height: 6px;box-shadow:none}
.order label:hover span {display: inline;}	
.order .option label {  height: 46px;    line-height: 17px;    padding-top: 10px;    width: 17%;}
.order .option input[type="checkbox"]  {clear: left;float: left;margin: 9px 15px 0 0;width:15px;height:15px;}
.order .option input[type="radio"] {float: left;margin: 9px 15px 0 15px;width:15px;height:15px;}	


/* #Button*/

bt-highlight {text-align: right ;margin-right: 40px;}
p.bt-highlight a, p.bt-highlight em { clear: both;    float: right;}
.order .biggerbutton button {width:250px;white-space: pre-wrap;}
.order .biggerbutton button span {width:200px;white-space: pre-wrap;}


/* #Package*/

.package {width:90%; margin:10px auto;}

.packageTable {width:100%; margin:20px auto;}
.packageTable td {padding:10px;}
.order-package .right {border:none;}

input { color: #000; }
.placeholder { color: #aaa; line-height:10px; }

/* #newsletter*/

.box-newsletter {width:96%; padding:10px 2% 20px;}


.span3 .box-newsletter {min-height:275px;}

.span3 .box-newsletter .informationMessage, 
.span3 .box-newsletter .errorMessage, 
.span3 .box-newsletter .successMessage, 
.span3 .box-newsletter .warningMessage {margin:0 -3px 10px; }

.span7 .box-newsletter, 
.span8 .box-newsletter, 
.span9 .box-newsletter, 
.span10 .box-newsletter, 
.span11 .box-newsletter,
.span12 .box-newsletter { padding: 10px 0; width: 100%;margin-bottom: 15px;}

.box-newsletter h3 { color: #005C7A; font-size: 14px;line-height:14px;}
.box-newsletter .news-custom p {margin:7px 5px 10px;}

.span12 .box-newsletter {padding:10px; width:98%;}
.span12 .box-newsletter input {margin-top:10px; width:235px;height:36px; margin-right: 18px;}
.span12 .box-newsletter button {width:145px;}

.span12 .box-newsletter .news-custom { float: left; padding: 5px 0 0 5px; text-align: left; width: 230px;}
.span12 .box-newsletter .news-custom p { margin:3px 0 0;}
.span12 #news_returnMessage { float: left; margin: 0 19px; width: 658px;}

/*#Button send Button Call*/
    
    .button-send , .button-call {   clear: none; display: inline-block; width: 18px; height: 18px;vertical-align: middle; }
    .button-send img, .button-call img {opacity:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}


/* Video Tab*/
#content_video iframe {width:100% !important;}


/*App Android*/
#smartbanner.android.shown { top:0!important; }

/* #Media queries
   #RESPONSIVE

	All changes when you want a responsive website
	
	*/
	@media (min-width: 978px) {
		
		.header-brand {min-height:102px;}

		.search-collapse {display:none;}

		.well.container {min-height:500px;}


	}

	@media (min-width: 768px) and (max-width: 979px) {

		/*Order Page*/
		.order .right {
		    border-color: #fff!important;
		}

		.steps-ui, .order-head li {  
		    margin-right: 30px;
		    width: 170px;
		}

		.standardStep.steps-3 {
		    margin-right: 15px;
		}

		.steps-ui:after, .order-head li:after { 
		    right: -26px;   
		    width: 20px;
		}

		.order .left {
		    float: none;
		    width: 100%;
		    text-align:center;
		    margin-bottom:30px;
		}

		.order .right {
	   	 border-color: #fff;
	   	 width:87%;
	   	 margin:10px auto;
	   	 float:none;
		}

		/* #Error Page */
		.error-page {height:120px; width:230px;}


		/*Calendar*/
		.span3 .calendar-event li {height: 27px; line-height: 11px; padding: 5px 0 5px 1px; text-align: center; width: 100%;}
		.span3 .calendar-event li span {margin:0 auto;}
		.small-calendar li {width:75%;padding:6px 0;}
		.small-calendar li.control {width:19px; height:20px; padding:50px 0;clear:none;float:left;}
		.small-calendar li.control:last-child {position:absolute; right:0;}



		/*Logo Brand*/
		.header-brand {display:none;}   
		.brand.logo {float: left; height: 40px; margin: 0 0 0 2%; padding: 0; width: 50px;}   
		.navbar-inner { background-image:none; background-color:#b55cfc;}
		.search-collapse {display:block;}
		
		/*Navabar*/
		.navbar .btn-navbar {background-color: transparent; background-image: none; color: #FFFFFF;margin: 3px 10px 0 0; padding: 10px;  box-shadow:none;  border:none;  border-radius:0;}
		.search-advanced .btn.btn-success {background-image:none;background-color:#95c800; color: #FFFFFF;font-size:14px;text-transform: uppercase; text-shadow:none;box-shadow:none;font-weight:600;}
		
		
		/*No Images*/
		.category-image .no-image {height: 144px;}
		.three-columns h2 {font-size: 14px !important;}
		.three-columns .thumbnail .no-image {height: 95px;}
		.special-deal .image .no-image {height: 215px;width: 452px;}
		.featured-deal .image .no-image {width: 219px;height: 110px;}    
		
		.advertisement .banner .no-image {border: none;display: inline-block;width: 100% !important;height: 70px!important;}   
		.listing-summary .media .summary-image .no-image {height: 193px !important;    max-width: 100%;    width: 100% !important;}
		.span6.flex-box .image .no-image {min-height: 94px;height: 94px;}

		.span8 .flex-box .span12 > aside.span8 > a > span.no-image {height: 141px;}
		.span8 .flex-box .span12 > aside {margin-bottom:0;}
		
		.span3 .no-image {height:94px !important;}
		.span4 .flex-box span.no-image {height:107px;}


		.span8 .span12.flex-box-group .span6 > section > a > span.no-image {height: 85px;}
		.span8 .span12 section aside span.no-image {height:85px;}


		/*#Banners*/
		.advertisement .banner {height: 70px;}
		.advertisement .banner-left {float: left;width: 86%;margin-right: 1%;}
		.advertisement .banner-right {width: 13%;float: left;}
		.advertisement-bottom .banner{height: auto; float:left; padding: 0 0 20px;}
		.advertisement-bottom .banner > div {margin-right: auto;float:none;}
		.advertisement-bottom .banner-left {width: 100%;margin:0 auto;}
		
		.advertisement .banner-left img{max-height:70px;max-width:727px; width:100%; height:100%;}
		.advertisement .banner-right img {max-height:90px; max-width:120px;width:100%; height:100%;}
		
		.advertisement-bottom .banner-left img {max-height: 60px;max-width: 468px;width:100%; height:100%;}    
		.advertisement-bottom .banner-left img {max-height: 80px;max-width: 100%;width: 100%;}
		.advertisement-bottom .banner-google, .advertisement-bottom .banner-sponsor {margin-top:2%; width: auto;}
		.advertisement-bottom .banner .banner-sponsor {float:right;}
		.advertisement-bottom .banner .banner-google {float:left;}
		.sponsored {margin: 0 auto;}
		
		/*#Special Listing*/
		.special-listing .listing-info {height: 210px;margin-left: 206px;width: 290px;}
		.featured-listing .thumbnail .image h3 {width: 230px;}
		
		/* #Calendar*/
		.calendar-event li span{max-width:36px; overflow: hidden; display:block; margin:0 auto;}
		
		/* #Lists*/
		.span8 .span12.flex-box-list li ,
		.span12.flex-box-list li,
		.flex-box-list li {
			float: left;
			width: 45%;
		}
		.sidebar .flex-box-list li  {	    
			width: 100%;
		}
		.flex-box-list ul {
			margin: 5px 5px 5px 10px;
		}
		
		/* #Search*/
		.search-advanced { padding:0; width: 100%;}
		.search-advanced .row-fluid{
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox;      /* TWEENER - IE 10 */ 
			-moz-box-orient:vertical;
			-webkit-box-orient:vertical;
			width: 100%;  
			margin:2% 0%;      
			display: -ms-flexbox;       
			-ms-flex-flow: column;          
		}
		
		.search-advanced .search-button, 
		.search-advanced .search-location, 
		.search-advanced .search-keyword {
			margin:0 auto; 
			float:none;
			display:block;
			width:100%;
		}    
		
		.search-advanced .search-button {
			-webkit-box-ordinal-group: 3;   
			-moz-box-ordinal-group: 3;      
			-ms-flex-order:3;              
			-webkit-order:3;               
			order: 3;                       
		}
		
		.search-advanced .search-location {
			-webkit-box-ordinal-group: 2;  
			-moz-box-ordinal-group: 2;     
			-ms-flex-order: 2;     
			-webkit-order: 2;  
			order: 2;
		}
		.search-advanced .search-keyword{
			-webkit-box-ordinal-group:1;  
			-moz-box-ordinal-group: 1;     
			-ms-flex-order: 1;     
			-webkit-order: 1;  
			order: 1;
		}
		.search-collapse .search-advanced .title {font-size: 12px;}
		
		.search-advanced .search-location input, .search-advanced .search-keyword input {  background-image: none; border: medium none; margin: 0 auto; padding: 7px 1%; width: 98%;}    
		.search-button .btn-search {   float: left; height: 35px; margin: 10px auto; width: 100%;}
		
		/*#Newsletter*/
		.box-newsletter .news-custom p, .newsletter .btn.btn-facebook, .newsletter hr {display:none;}
		.box-newsletter h3 {line-height:28px;margin-bottom:20px;}
		
		.box-newsletter {padding:10px 3px 20px;}

		.span12 .box-newsletter {padding:5px;}
		.span12 .box-newsletter h3 {margin-bottom:0;}
		.span12 .box-newsletter input {margin-top:5px; width:200px;height:36px; margin-right: 2px;}
		.span12 .box-newsletter button { float: right; margin: 0 8px; width: 405px;}
		.span12 .box-newsletter .news-custom {width:242px;padding:5px 0 0 10px;}
		.span12 .box-newsletter .news-custom  p {display:block; margin:3px 0 0;}

		.span12 #news_returnMessage { margin: 0 5px; width: 405px;}

		.span3 .box-newsletter { min-height: 190px;}
		
		/*#Advanced Search*/
		.search-options .list-home label {display: inline-block; vertical-align: middle;width:25%; padding-left:2%;}
		.search-options .advanced-search-box .span9-5 .list-home label {width: 81%;padding-left: 1%;}
		.search-advanced .span4-5 {width: 67%;margin-left: 0;}
		.search-advanced .span7-5 {  width: 100%;}
		.search-advanced .span2-5 { margin-left: 1%; width: 49%;}
		.advanced-search-box .span7-5 { width: 649px;}
		.advanced-search-box .span2-5 { margin-left: 0.8%; width: 49%;}
		.advanced-search-box .span9-5 {  width: 49%;}
		
		.content-center .search-advanced { width: 655px;}
		.content-center .search-advanced .advanced-search-box { padding: 10px 2px;}
		
		.search-advanced.special-bylocation .list-home > li { width: 33%;}
		.content-center .search-advanced.special-bylocation {margin-bottom: 10px;padding: 5px 2%;width: 96%;}
		
		
		
		/*#Pagination*/
		.bottom-pagination {  float: right;  width: 70%;}
		
		.line-top .search-info {  max-width: 98%;}
		.filter-category, .pagination .letters, .results-per-page, .line-bottom .pagination:before {display:none;}
		.content-full-results .bottom-pagination, .bottom-pagination .pagination {width: 100%;}
		
		
		/*#Summary*/
		.level-summary .no-image, .summary span.no-image, .content-main .summary span.no-image {  height: 109px; }
		
		/*#Reviews*/
		.review-bottom p { display: block; width: 98%;}
		.review-bottom p.pull-right {width: 48%;}
		
		
		.content.content-results-filters .informationMessage,  .content.content-results-filters .informationMessage {  margin-left: -200px;}	
		
		/*Contact Us*/
		.contact-form .form .captcha img {width: 85px;}
		
	}
	@media (max-width: 767px) {

		/** #SignIn */
		.flex-box .span4.offset4 {
			float:none;
			margin:0 auto;
			width:260px;
		}

		.extendedContent.contentBorder {
		    float: left;
		    margin-top: 10px;
		}
		.resultsMessage, .content-custom {
		    width:98%;
		    margin:auto;
		}

		/*Advertise*/
		.order-head {
			display:none;
		}
		.order .right {
		    border-color: transparent!important;
		    width:auto;
		    float:none;
		}

		.order .left {
		    float: none;
		    text-align: center;
		    width: 100%;
		    margin:0 auto;
		}

		.order .right .cont_50,.order .right .cont_70, .order .right .cont_70 input, .order .cont_30 , .order .cont_70 {
			width:96%;
			margin-left:2%;
		}

		.order .biggerbutton button {
			width:100%;
			float:none;
			margin:0 auto;
		}
		.order > div.blockcontinue {
		    margin: 20px 0 0;
		    padding: 10px 1% 30px 5%;
		    width: 95%;
		}

		/*Contact Us*/
		.contact-form {width:96%; margin:0 2%;}

		.contact-form input {padding:15px 0;}
		.contact-form .form .captcha img {margin-bottom:10px;}

		/*#Hidden Claim*/
			.real-steps {display:none;}

		/*#General Pages*/
		.box-title ul.item-select li:nth-child(4n+1),
		.box-title ul.item-select li{
		    width: 100%;
		}

		/* #Error Page */
		.error-page {height:140px; width:100%;}
		.error-page-text table td {width:auto!important;}
		/* #Hammertime*/
		#bg-maintenancemode {background-size:100% !important;}

		.search-location input.ac_loading {background: none!important;}


		/*Logo Brand*/
		.header-brand {display:none;}   
		.brand.logo {float: left; height: 40px; margin: 0 0 0 2%; padding: 0; width: 110px;}   
		.navbar-inner { background-image:none; background-color:#b55cfc;}
		
		/*Navabar*/
		.navbar .btn-navbar {background-color: transparent; background-image: none; color: #FFFFFF;margin: 3px 10px 0 0; padding: 10px;  box-shadow:none;  border:none;  border-radius:0;}
		.search-collapse {display:block; background-color:#383838;}

		
		/*No-Images*/
		.special-listing .no-image {height: 180px;width: 98%;padding: 4px;border: 1px solid #dedede;}
		.detail-deal .no-image {height: 156px;}
		.media .summary-image .no-image {display:none;}
		.span8 .flex-box .span12 > aside.span8 > a > span.no-image {height:143px;}
		.span8 .flex-box .span12 > aside.span8 {margin-bottom:0;}
		/*Background Image*/    
		.image-bg {display:none; width:0; height:0;}
		
		/*#Sidebar and Content*/
		.content.side-right{width:100%;}
		.content, .sidebar {clear: both;float: left;margin: 10px 1%;padding: 0;width: 97.8%;}
		.content-full .content .content-main {  width: 90%;}
		.content-center { padding: 0 1.5%;}
		.breadcrumb {  margin: 2px 0 5px; }
		.content.content-general {width:95%;}
		
		/*#Pagination*/
		.top-pagination, .bottom-pagination .pages, .results-per-page {display:none}    
		.content-full-results .bottom-pagination, .bottom-pagination, .bottom-pagination .pagination {text-align: center;width: 100%;}
		.pagination ul.controls {text-transform: uppercase;text-align: center;width: 100%;}
		
		/*All Locations*/
		.link { margin:8px 1%;  width: 22%;}
		
		/* #Search*/
		.search-advanced { padding:0; width: 100%;}
		.search-advanced .row-fluid{
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox;      /* TWEENER - IE 10 */ 
			-moz-box-orient:vertical;
			-webkit-box-orient:vertical;
			width: 96%;  
			margin:2%;      
			display: -ms-flexbox;       
			-ms-flex-flow: column;          
		}
		
		.search-advanced .search-button, 
		.search-advanced .search-location, 
		.search-advanced .search-keyword {
			margin:0 auto; 
			float:none;
			display:block;
			width:100%;
			height: 55px;
		}    
		
		.search-advanced .search-button {
			-webkit-box-ordinal-group: 3;   
			-moz-box-ordinal-group: 3;      
			-ms-flex-order:3;              
			-webkit-order:3;               
			order: 3;                       
		}
		
		.search-advanced .search-location {
			-webkit-box-ordinal-group: 2;  
			-moz-box-ordinal-group: 2;     
			-ms-flex-order: 2;     
			-webkit-order: 2;  
			order: 2;
		}
		.search-advanced .search-keyword{
			-webkit-box-ordinal-group:1;  
			-moz-box-ordinal-group: 1;     
			-ms-flex-order: 1;     
			-webkit-order: 1;  
			order: 1;
		}
		.search-collapse .search-advanced .title {font-size: 12px;}
		
		.search-advanced .search-location input, 
		.search-advanced .search-keyword input,
		.search-keyword input.ac_loading {background: none #fff !important; border: medium none; margin: 0 auto;padding: 5px 1%;  width: 98%;}    
		.search-button .btn-search {   float: left; height: 30px; margin: 10px auto; width: 100%;}

		/* #Advanced Search*/
		.search-advanced .span4-5 { margin-left: 0;  width: 100%;}    
		.search-options .advanced-search-box .span9-5 .list-home label {width: 34%;padding-left: 1%;}    
		.search-advanced .span7-5 {  width: 100%;}
		.search-advanced .span2-5 { margin-left: 0%; width: 100%;}    
		.list-home > li, .list-home > ul li {  display: inline-block;  width: 100%;}
		
		.content-center .search-advanced.special-bylocation { margin-bottom: 10px; margin-top:10px;  padding: 5px 1%;   width: 93%; }
		.search-advanced.special-bylocation .list-home > li { width: 50%;}
		
		/*#Banners*/
		.advertisement {width: 96%; padding: 5px 1% 0; display: inline-block;height: auto;}	
		.advertisement .banner {height: auto;}    
		.advertisement .banner-left {float: left;width: 86%;margin-right: 1%;}
		.advertisement .banner-right {width: 13%;float: left;}   
		
		.advertisement-bottom .banner-left {width: 100%;margin:0 auto;}
		.advertisement-bottom .banner-google, .advertisement-bottom .banner-sponsor {margin:2% auto; width: 50%;}
		.advertisement-bottom .banner > div {margin-right:auto;}
		.advertisement .banner-left img{max-height:90px;max-width:727px; width:100%; height:auto;}
		.advertisement .banner-right img {max-height:90px; max-width:120px;width:100%; height:auto;}
		.advertisement-bottom .banner-left img {max-height: 60px;max-width: 468px;width:100%; height:auto;}
		.sponsored {margin: 0 auto;}
		
		/*#Footer*/
		
		.footer-wrapper .span3 {
			margin-left: 2%;
			margin-top: 20px;
			width: 96%;
		}

		.footer-wrapper .last-tweets {display:none;}

		.footer-wrapper .copyright {
			margin-top: 10px;
			padding:0 2%;
			width:94%;
		}

		.footer-wrapper .copyright, .footer-wrapper .copyright p, .footer-wrapper .copyright h5 {text-align:center;} 
		
		/*#Categories*/
		.category-image {padding: 0.5%; min-height:0;}
		.category-image img{height:auto; width:100%}
		.all-head .category-name {width: 50%;height: auto;padding: 4% 0;margin: 0.8%;background-image:none;}
		.list-home > li, .list-home > ul li { display: inline-block;  width: 100%;}
		
		.allcategories p {min-height: 1px;}
		.category-link {font-size:14px!important; width: 150px;}
		
		/*#Newsletter*/
		.newsletter {display:none;}
		
		/*#Login*/
		.forgotpassword {float: none;  margin-top: 0;  text-align: center;}
		
		/*#Reviews*/
		.review-bottom p { display: block; width: 98%;}
		.review-bottom p.pull-right {width: 48%;}
		

		.content.content-results-filters .informationMessage,  .content.content-results-filters .errorMessage {display:none;}	

		.item-preview {
			max-width: 95%;
			clear:both;
			width: 95%;
		}


		/**/

		.icon-search {
			background-image: url("images/iconography/glyphicons-halflings-white.png")!important;
			background-position: -48px 0!important;
			width:15px !important; height:15px !important;
			display:block !important;
		}
		.icon-search:before { content:"  " !important;}

		

	}

	@media (max-width: 480px) {

		/** #SignIn */
		.flex-box .span4.offset4 {
			float:none;
			margin:0 auto;
			width:100%;
		}
	
				
		.flex-box-group aside {
		    margin-bottom: 10px;
		    width: 100%;
		}

		
		/*#Lists*/
		.span8 .span12.flex-box-list li ,
		.span12.flex-box-list li,
		.flex-box-list li {
			float: left;
			width: 45%;
		}
		

		/*#Search*/
		
		/*No-Images*/
		
		.special-listing .no-image {height: 100px;width: 98%;padding: 4px;border: 1px solid #dedede;}
		.category-image .no-image {height: 150px;width: 100%;}
		
		.special-listing .listing-info {  margin: 0 auto;  width: 94%;}
		
		/*By location*/
		.search-advanced.special-bylocation .list-home > li { width: 100%;}
		
		/*All Locations*/
		.link { margin:7px 1%;  width: 45%;}
		
		/*#Reviews*/
		.review-bottom p.pull-right {width: 98%;}
		
		/*Contact*/
		
		
		.fancy_window_login.star-rating {pointer-events:none;}



		

	}

	@media (max-width: 320px) {	   
		/*#Lists*/
		.span8 .span12.flex-box-list li ,
		.span12.flex-box-list li,
		.flex-box-list li {
			float: left;
			width: 100%;
		}
		

		
		.advertisement {display: none;}	
		.brand.logo {width: 50px;	min-width:50px;}
		
		/*All Locations*/
		.link { margin-left: 1%;  width: 98%;}

	}

/*free listing (yellow page)*/

#content-main-bronze {
    background-color: #FFFBDE;
    border: 2px solid #DDC866;
    margin-top: 10px;
    padding-bottom: 8px;
    width:74.359%;
    float:right;
}

.bronze-listing{
height: 140px; float: left; width: 30%; padding: 1.5%;
border-bottom:1px solid #AAAAAA;
margin-left:1%
}

h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 4px 0 2px;
}

h3 a:link, h3 a:visited, h3 a:active {
    color: #000000;
}

#form-wrapper {
background: none repeat scroll 0 0 #007FAC;
height: 82px;
border: 1px solid #c1f1ef;
}